<div class="page-start-point">
    <div class="p-l-20 p-r-20 p-b-20 min-height parent">
        <div *ngFor="let project of rfqProjects">
            <mat-accordion displayMode="flat" multi class="mat-table">
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="background-color-grey row">
                        <section matSort class="mat-elevation-z2 mat-header-row">
                            <span class="mat-header-cell"
                                mat-sort-header="vesselName">{{project.projectName}}{{project.addressLine1}}</span>
                        </section>
                    </mat-expansion-panel-header>
                    <div>
                        <section class="mat-elevation-z2 mat-header-row">
                            <span class="col-xs-2">Material Name</span>
                            <span class="col-xs-2">Quantity</span>
                            <span class="col-xs-8">Makes & Rates</span>
                        </section>
                    </div>
                    <mat-expansion-panel *ngFor="let material of project.materialList">
                        <mat-expansion-panel-header class="mat-row">
                            <span class="col-xs-2">{{material.materialName}} </span>
                            <span class="col-xs-2"> {{material.materialQty}} </span>
                            <span class="col-xs-2" *ngFor="let brand of material.brandList">
                                {{brand}}
                            </span>
                        </mat-expansion-panel-header>
                        <div class="mat-row" *ngFor="let supplier of material.supplierList">
                            <span class="col-xs-2">{{supplier.supplierName}} </span>
                            <span class="col-xs-2"></span>
                            <span class="col-xs-2" *ngFor="let brandInfo of supplier.brandDetailList">
                                <span *ngIf="brandInfo!=null">
                                    <input matInput placeholder="quantity" class="m-r-5">
                                    <span
                                        *ngIf="brandInfo.materialUnitPrice!=null">{{brandInfo.materialUnitPrice}}</span>

                                </span>
                            </span>
                        </div>
                    </mat-expansion-panel>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>