<!-- <fix-header></fix-header> -->
<div class="page-start-point">
  <div class="p-l-20 p-r-20 p-b-20 min-height parent">
    <!-- fix part -->
    <div class="row p-t-15 p-b-10">
      <div class="col-xs-2">
        <a
          href="javascript:void(0)"
          (click)="setButtonName('projectMaterials')"
        >
          <button
            [class.active]="buttonName == 'projectMaterials'"
            class="color-black"
            mat-button
          >
            Project & Material
          </button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href="javascript:void(0)" (click)="setButtonName('addQueryMakes')">
          <button
            [class.active]="buttonName == 'addQueryMakes'"
            class="color-black"
            mat-button
          >
            Add Query & Makes
          </button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href="javascript:void(0)" (click)="setButtonName('selectSupplier')">
          <button
            [class.active]="buttonName == 'selectSupplier'"
            class="color-black"
            mat-button
          >
            Select Supplier
          </button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href="javascript:void(0)" (click)="setButtonName('uploadDocuments')">
          <button
            [class.active]="buttonName == 'uploadDocuments'"
            class="color-black"
            mat-button
          >
            Upload Documents & Terms
          </button>
        </a>
      </div>

      <div class="text-right col-xs-3">
        <button
          mat-raised-button
          class="main-background-color main-button color-white"
          (click)="navigateToReviewRFQ()"
        >
          Review RFQ
        </button>
      </div>
    </div>

    <!-- first row: select and upload -->

    <div class="row ">
      <!-- first column: Select Document -->
      <app-upload
        #uploadRef
        class="col-xs-12"
        (onFileUpdate)="fileUpdate($event)"
      ></app-upload>
    </div>

    <!-- second row: terms and conditions -->
    
    <div [froalaEditor]>Hello, Froala!</div>
  </div>
</div>
