<div class="page-start-point">
  <div class="p-b-20 min-height parent">
    <div class="row m-0">
      <div class="col-md-7 ">
        <div class="min-height">
          <img src="../../../assets/images/Login.jpg" alt="construction-site-image" style="width: 100%;" />
        </div>
      </div>
      <div class="col-md-5 parent">
        <div class="row center-element">
          <div class="col-xs-12 p-b-30 p-l-0">
            <img src="../../../assets/images/loginLogo.png" alt="BuildSupply" style="height:60px" />
          </div>

          <div class="change-password row">
            <div class="col-xs-12 p-0">
              <h3 class="p-b-20">Change Password</h3>
            </div>

            <mat-form-field class="col-xs-12 border-input  p-l-0">
              <input matInput type="password" placeholder="Password" />
            </mat-form-field>

            <mat-form-field class="col-xs-12 border-input  p-l-0">
              <input matInput type="password" placeholder="Retype Password" />
              <a>
                <mat-icon class="password-eye">remove_red_eye</mat-icon>
              </a>
            </mat-form-field>

            <div mat-dialog-actions class="col-xs-12 p-t-80 p-l-0">
              <button mat-raised-button class="main-background-color main-button color-white m-b-5"
                [mat-dialog-close]="" cdkFocusInitial style="width: 100%;">
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>