<form *ngIf="selectedCategory.length" [formGroup]="quantityForms">
  <ng-container formArrayName="forms">
    <span *ngFor="let category of selectedCategory; let c = index">
      <ng-container [formGroupName]="c">
        <mat-accordion>
          <div #myele *ngIf="!isSearching ? true : !category.allNull">
            <mat-expansion-panel class="m-b-5 m-t-5 bom-qty-page" [expanded]="true">
              <mat-expansion-panel-header class="background-color-bom-category row">
                <div class="col-xs-6">
                  <mat-panel-title class="pull-left">
                    {{ category.groupName }}
                  </mat-panel-title>
                </div>
                <div class="col-xs-2 p-r-30">
                  <span class="pull-right">
                    Unit
                  </span>
                </div>
                <div class="col-xs-2">
                  <span class="pull-right">
                    Estimated Quantity
                  </span>
                </div>
                <div class="col-xs-2">
                  <span class="pull-right">
                    Estimated Rate(₹)
                  </span>
                </div>
              </mat-expansion-panel-header>
              <ng-container formArrayName="materialGroup">
                <div class="background-color-bom-sub-category p-0" *ngFor="let subcategory of category.materialList; let sc = index" [formGroupName]="sc">
                  <div class="row" *ngIf="!subcategory.isNull">
                    <div class="col-xs-3">
                      <span class="pull-left p-l-40 p-t-20">{{ subcategory.materialName }}</span>
                    </div>
                    <div class="col-xs-3 p-t-10">
                      <span class="text-semi-bold" *ngFor="let trades of subcategory.tradeList; let i = index">
                        <span class="p-r-5">{{ trades }}<span *ngIf="subcategory.tradeList.length > 1 && i !== subcategory.tradeList.length - 1">,</span> </span>
                      </span>
                    </div>
                    <div class="col-xs-2">
                      <mat-form-field class="border-select">
                        <mat-select formControlName="materialUnit" placeholder="Select material unit">
                          <mat-option *ngFor="let unit of materialUnit" [value]="unit">
                            <span>
                              {{ unit }}
                            </span>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-xs-2">
                      <span class="pull-right">
                        <mat-form-field class="border-input widthZero">
                          <input formControlName="estimatedQty" appTwoDigitDecimaNumber matInput type="text" class="p-b-5 shortWidth" placeholder="Enter Quantity" />
                        </mat-form-field>
                        <span class="p-l-10 p-t-25">
                          {{ subcategory.materialUnit }}
                        </span>
                      </span>
                    </div>
                    <div class="col-xs-2 text-center">
                      <span>
                        <mat-form-field class="border-input widthZero">
                          <input formControlName="estimatedRate" appTwoDigitDecimaNumber matInput type="text" class="p-b-5 shortWidth" placeholder="Enter Rate" />
                        </mat-form-field>
                      </span>
                    </div>
                    <ng-container *ngIf="subcategory.Specs">
                      <div class="row background-color-bom-sub-sub-category p-0" *ngFor="let material of subcategory.Specs">
                        <div class="col-xs-6">
                          <span class="pull-left p-l-60 p-t-20">{{ material.label }}</span>
                        </div>
                        <div class="col-xs-6">
                          <span class="pull-right p-r-40">
                            <!-- <mat-form-field class="full-border widthZero">
                        <input matInput class="p-b-5 shortWidth" placeholder="eg. 1500" /><span
                          class="p-b-15 p-l-5">{{subcategory.materialUnit}}</span>
                      </mat-form-field> -->

                            <mat-form-field class="border-input widthZero">
                              <input
                                matInput
                                class="p-b-5 shortWidth"
                                type="number"
                                min="0"
                                placeholder="Enter Quantity"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                              />
                              <span class="p-b-15 p-l-5">{{ subcategory.materialUnit }}</span>
                            </mat-form-field>
                          </span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </ng-container>
    </span>
  </ng-container>
</form>
