<div class="page-start-point ">
  <div class="p-l-20 p-r-20 p-b-20 min-height parent">
    <card-layout
      *ngIf="product"
      (onEdit)="editProject($event)"
      (onDelete)="deleteProject($event)"
      [projectDetails]="product"
    ></card-layout>
    <div class="p-t-10" *ngIf="!showTable">
      <div class="row display-flex">
        <div class="m-b-10 m-r-10" *ngFor="let category of selectedCategory">
          <mat-card class="p-10"
            >{{ category.materialGroup }}
            <button mat-button matSuffix mat-icon-button>
              <mat-icon class="font-size18">clear</mat-icon>
            </button>
          </mat-card>
        </div>
      </div>
      <div class="center-element">
        <mat-form-field class="border-select">
          <mat-select [formControl]="categories" multiple>
            <div class="display-flex">
              <input
                class="p-l-10 p-b-5"
                matInput
                type="search"
                placeholder="Search Category Name"
                [(ngModel)]="searchText"
              />
              <button mat-button matSuffix mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
            </div>
            <mat-option
              *ngFor="let category of fullCategoryList | SearchPipe: searchText"
              [value]="category"
              (click)="demo(category.materialGroup)"
              >{{ category.materialGroup }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="align-center">
          <button
            *ngIf="selectedCategory.length"
            mat-raised-button
            class="main-background-color main-button color-white"
            (click)="finalisedCategory()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="showTable">
      <div class="row p-t-10 p-b-10">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
          <button
            mat-raised-button
            class="main-background-color main-button color-white pull-right"
            (click)="saveCategory()"
          >
            SAVE
          </button>
        </div>
      </div>
      <div *ngFor="let data of categoryData">
        <app-bom-preview #preview [selectedCategory]="data"></app-bom-preview>
      </div>
    </div>
  </div>
</div>
