<div class="header-add-edit-dialog">
  <h1 mat-dialog-title>Confirmation</h1>
  <button type="button" class="close" (click)="close()" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div mat-dialog-content class="padding-for-dialog-after-header">
  <p class="text-center">Are you sure you want to delete this Material?</p>
</div>

<div mat-dialog-actions>
  <div class="col-sm-12 save-btn-add-edit-user-modal">
    <button mat-raised-button (click)="close()" class="main-color main-button pull-left">
      Cancel
    </button>
    <button mat-raised-button (click)="delete()" class="main-background-color main-button color-white pull-right">
      Delete
    </button>
  </div>
</div>
