<section class="modal-outer">
  <div class="modal-header">
    <h5 mat-dialog-title class="mb-0">{{ data.type === "edit" ? "Edit Material" : "Add To My Material" }}</h5>

    <button type="button" class="close" (click)="closeDialog()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div mat-dialog-content>
    <div class="modal-body">
      <form *ngIf="data" [formGroup]="editMaterialForm" (ngSubmit)="submit()">
        <div class="row my-material-dialog-length">
          <div formArrayName="forms" class="width-100" *ngFor="let myMaterial of data.materialList; let i = index">
            <div class="row" [formGroupName]="i">
              <div class="col-md-4 col-sm-6 col-xs-12">
                <mat-form-field class="border-input width-100">
                  <input type="text" placeholder="Material Name*" matInput formControlName="materialName" />
                  <small *ngIf="editMaterialForm.get('forms')['controls'][i]['controls']['materialName'].errors?.maxlength" class="warning-color"> maximum characters allowed is 300 </small>
                </mat-form-field>
              </div>

              <div class="col-md-2 col-sm-6 col-xs-12">
                <mat-form-field class="border-select width-100 mat-form-field-flex-mm-padding">
                  <mat-label>Unit*</mat-label>
                  <mat-select formControlName="materialUnit">
                    <div class="display-flex">
                      <input
                        class="p-l-10 p-b-5"
                        matInput
                        type="search"
                        placeholder="Search Unit"
                        [(ngModel)]="searchUnit"
                        [ngModelOptions]="{standalone: true}"
                        (keydown)="$event.stopPropagation()"
                      />
                      <button mat-button mat-icon-button>
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>

                    <mat-option *ngFor="let unit of materialUnit | SearchPipe: searchUnit" [value]="unit">
                      <span>{{ unit }}</span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                <mat-form-field class="border-select width-100 mat-form-field-flex-mm-padding">
                  <input type="text" placeholder="Trade" matInput formControlName="trade" />
                </mat-form-field>
              </div>

              <div class="col-md-3 col-sm-6 col-xs-12">
                <mat-form-field class="border-select width-100 mat-form-field-flex-mm-padding">
                  <input type="text" placeholder="Category" matInput formControlName="category" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div mat-dialog-actions>
          <div class="col-xs-12 p-t-20 p-b-20 text-center">
            <button class="btn btn-warning next-btn">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
