<div *ngIf="subscriptionsData" class="subs-data text-align-center">
    <h2 class="mt-4">Choose a Plan That's Right for Your Business</h2>

    <ng-container *ngIf="trialAction">
        <p class="mb-2 mt-2">1 MONTH FREE TRIAL</p>
    </ng-container>

    <!-- <ng-container *ngIf="trialAction">
        <div class="trial-plan position-absolute">
            <p class="color-grey"><a matRipple class="brand-color" (click)="startTrialTrigger()">skip</a> this and start
                your</p>
            <span>3 months free trial</span>
        </div>
    </ng-container> -->

    <mat-tab-group mat-align-tabs="center" disableRipple>
        <mat-tab *ngFor="let subscription of subscriptionsData">

            <ng-template mat-tab-label>
                <span class="sub-svtxt brand-color" [ngClass]="isMobile ?  'font-size10' : 'font-size12' ">(Save
                    30%)</span>
                {{subscription.frequencyHeader}}
            </ng-template>

            <div class="row d-flex flex-center mb-5" [ngClass]="isMobile ? 'ml-2 mr-2 mt-2' : 'mt-3' ">

                <mat-card *ngFor="let plan of subscription.planList" class="col-md-3 m-10 text-left">
                    <mat-card-header>
                        <mat-card-title>{{plan.planName}}</mat-card-title>
                        <mat-card-subtitle class="subs-pricing">
                            <strong>{{plan.currencyCode}} {{plan.planPrice}}/</strong>
                            <span>{{plan.planFrequencyAlias}}</span>
                            <p>Save {{plan.currencyCode}} {{plan.planPrice}} a year</p>
                        </mat-card-subtitle>
                    </mat-card-header>

                    <mat-card-content class="plan-limit justify-content-between">
                        <span>{{plan.planLimit.projectCount}} Project {{plan.planLimit.userCount}} Users</span>
                        <ng-container *ngIf="plan.activeSubscription === null">
                            <button *ngIf="trialAction" mat-button class="main-background-color subs-btn"
                                (click)="choosePlan('1', plan.planId, plan.offerId, plan.planPricingId, plan.planEncryptId, plan.planPricingEncryptId)">Free
                                Trial</button>
                            <button *ngIf="!trialAction" mat-raised-button class="main-background-color subs-btn"
                                (click)="choosePlan('0', plan.planId, plan.offerId, plan.planPricingId, plan.planEncryptId, plan.planPricingEncryptId)">Choose
                                Plan</button>
                        </ng-container>
                        <ng-container *ngIf="plan.activeSubscription !== null">
                            <button mat-button class="subs-link"
                                (click)="unsubscribePlan(plan.activeSubscription.subscriptionId)">Unsubscribe</button>
                        </ng-container>
                    </mat-card-content>
                    <!-- <ng-container *ngIf="trialAction">
                        <p>
                            <button mat-button
                                (click)="choosePlan('1', plan.planId, plan.offerCode, plan.planPricingId, plan.planEncryptId, plan.planPricingEncryptId)">Select
                                Trial</button>
                        </p>
                    </ng-container> -->
                    <ng-container *ngIf="isMobile">
                        <button mat-button class="w-100" (click)="showAllFeatures($event)">
                            <span class="float-left brand-color">Show All Features</span>
                            <span class="material-icons float-right mt-2">
                                keyboard_arrow_down
                            </span>
                        </button>
                    </ng-container>
                    <mat-card-actions class="feat-list pt-1 pl-4 pb-3" [ngClass]="isMobile ? 'f-hide' : '' ">
                        <ul>
                            <li *ngFor="let feature of sortFeaturesObjList(plan.planFeatureObjList)"
                                [ngClass]="feature.available ? 'active' : 'inactive' ">
                                <ng-container *ngIf="feature.available; else notAvailable">
                                    <span class="material-icons">done</span>
                                </ng-container>
                                <ng-template #notAvailable>
                                    <span class="material-icons">close</span>
                                </ng-template>
                                {{feature.featureName}}
                            </li>
                        </ul>
                    </mat-card-actions>
                </mat-card>

            </div>

        </mat-tab>
    </mat-tab-group>
</div>