<div class="page-start-point">
  <div class="p-b-20 min-height parent">
    <div class="row m-0">
      <div class="col-md-7 ">
        <div class="min-height">
          <img
            src="../../../assets/images/Login.jpg"
            alt="construction-site-image"
            style="width: 100%;"
          />
        </div>
      </div>
      <div class="col-md-5 parent">
        <div class="row center-element">
          <div class="col-xs-12 p-b-30 p-l-0">
            <img
              src="../../../assets/images/loginLogo.png"
              alt="BuildSupply"
              style="height:60px"
            />
          </div>

          <div class="col-xs-12 p-0">
            <h3 class="p-b-20">Enter One Time OTP</h3>
            <p class="dark-gray-color">
              One Time Password(OTP) has been sent to your mobile 9875******,
              Please enter the same here to sign in.
            </p>
          </div>

          <mat-form-field class="col-xs-12 border-input p-t-50 p-l-0">
            <input matInput type="number" placeholder="OTP" />
            <div class="main-color">
              <a class="pull-right p-t-20">Resend OTP</a>
            </div>
          </mat-form-field>

          <div mat-dialog-actions class="col-xs-12 p-t-40 p-l-0">
            <button
              mat-raised-button
              class="main-background-color main-button color-white m-b-5"
              [mat-dialog-close]=""
              cdkFocusInitial
              style="width: 100%;"
            >
              Verify
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
