<div class="row">
  <div class="col-xs-12 text-right m-t-10 m-b-5" *ngIf="isInternational; else elseBlock">
    <div class="p-r-10 p-b-10">
      <div>
        <span
          *ngIf="isInternational && mode === 'edit'"
          (click)="selectCurrency()"
          class="text-decoration-underline main-color font-size-vary-grn p-r-10 text-semi-bold cursor-pointer"
          [ngClass]="isMobile ? 'd-block mb-3' : ''"
          >Select Currency</span
        >
        <span *ngIf="poCurrency && poCurrency.exchangeCurrencyName != null" [ngClass]="isMobile ? 'd-block p-rem-r-5' : ''">
          <span class="slideToggalColor p-r-10">
            <mat-slide-toggle (toggleChange)="changeCurrency($event)" [(ngModel)]="ratesBaseCurr" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </span>
          <span class="base-currency p-l-5 p-r-5 p-t-10 p-b-10">
            <span class="font-size-vary-grn color-grey">
              <img width="25px" *ngIf="poCurrency.exchangeCurrencyFlag" [src]="poCurrency.exchangeCurrencyFlag" />
              {{ poCurrency.exchangeCurrencyName }}
            </span>
            <span class="p-l-5"> = </span>
            <span class="p-l-5 color-6d6a6a color-grey"> {{ poCurrency.exchangeValue }} </span>
            <span class="p-l-5 color-grey">
              <img width="25px" *ngIf="poCurrency.primaryCurrencyFlag" [src]="poCurrency.primaryCurrencyFlag" />
              {{ poCurrency.primaryCurrencyName }}
            </span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <span *ngIf="mode === 'edit'" class="col-xs-12 text-right">
      <mat-radio-group class="radio-btn-group-po-table p-r-20" aria-label="Select an option" [(ngModel)]="gst">
        <mat-radio-button [checked]="gst === 'IGST'" value="IGST" class="p-r-5">IGST</mat-radio-button>
        <mat-radio-button [checked]="gst === 'CGST & SGST'" value="CGST & SGST">CGST & SGST</mat-radio-button>
      </mat-radio-group>
    </span>
  </ng-template>
</div>

<div class="customPo edit-view-purchase-order" [ngClass]="isMobile ? 'mpo-table' : 'w-100'">
  <form *ngIf="poTableData" [formGroup]="poForms" (ngSubmit)="sumbit()">
    <mat-accordion displayMode="flat" multi class="mat-table" formArrayName="forms" [ngClass]="isMobile ? 'res-table' : 'po-table'">
      <div class="res-td">
        <section matSort class="mat-elevation-z2 mat-header-row">
          <span class="mat-header-cell po-sno-width" mat-sort-header="vesselName">S.No</span>
          <span class="mat-header-cell po-material-width"
            >Material Name <br />
            & Makes</span
          >
          <span class="mat-header-cell" [ngClass]="!isInternational && mode === 'edit' ? 'po-national-unit-width' : 'po-unit-width'">Unit</span>
          <span class="mat-header-cell po-date-width">Fullfillment <br />Date</span>
          <span
            class="mat-header-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
            >Supplier Rate
            <span>({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span>
          </span>
          <span
            class="mat-header-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
            >Awarded <br />quantity</span
          >
          <span
            class="mat-header-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
            >Amount
            <span style="display: block"
              >({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span
            >
          </span>
          <span
            class="mat-header-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          >
            <!-- {{ isInternational ? "Tax Amount ("+ ((poCurrency && poCurrency.exchangeCurrencyName) ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : (poData.currencyCode)) + ')' : "GST %" }} -->
            <ng-container *ngIf="isInternational; else defaultGstPercent">
              Tax Amount <br />
              ({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})
            </ng-container>
            <ng-template #defaultGstPercent> GST % </ng-template>
          </span>
          <span
            class="mat-header-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          >
            <!-- {{ isInternational ? "Other Cost (" + ((poCurrency && poCurrency.exchangeCurrencyName) ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : (poData.currencyCode)) + ')' : "GST Amount" }} -->
            <ng-container *ngIf="isInternational; else defaultCurr">
              Other Cost <br />
              ({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})
            </ng-container>
            <ng-template #defaultCurr> GST Amount </ng-template>
          </span>
          <span
            class="mat-header-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
            >Total Amount
            <span>({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span>
          </span>

          <!---- Attached Image Column ---->
          <span
            class="mat-header-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          >
            Attached Images
          </span>

          <span class="mat-header-cell" [ngClass]="!isInternational && mode === 'edit' ? 'po-national-image-width' : 'po-sno-width'" *ngIf="mode === 'edit'"></span>

          <span
            class="mat-header-cell"
            *ngIf="isInternational && mode === 'edit' && mode === 'edit'"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          ></span>
        </section>

        <!------------------------------ table body data ----------------------------------->
        <div *ngFor="let material of poTableData; let m = index" [formGroupName]="m">
          <div class="material-row" [ngClass]="isMobile ? 'mpo-mh' : ''">
            <span class="mat-cell po-sno-width" [ngClass]="isMobile ? 'fontsize-10-px' : ''">{{ m + 1 }}</span>
            <span class="mat-cell po-material-width">
              <span>{{ material.materialName }}</span>
              <!-- [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''" -->
              <!-- Upload Image Modal Link -->
              <!-- <div class="add-edit-image d-block" *ngIf="mode !== 'view'">
                <a href="javascript:void(0)" class="orange-text" (click)="uploadImage(material, 'po')">Add/Edit Image</a>
              </div> -->
            </span>
            <span class="mat-cell" [ngClass]="!isInternational && mode === 'edit' ? 'po-national-unit-width' : 'po-unit-width'">{{ material.materialUnit }}</span>
            <span class="mat-cell po-date-width" [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp mt-4' : ''">
              <ng-container *ngIf="mode != 'edit'; else editQuantity"> {{ material.fullfilmentDate | date: "dd-MMM-yyy" }}</ng-container>
              <ng-template #editQuantity>
                <div class="display-flex">
                  <mat-form-field class="border-input width-83 mat-form-field-label-size" [ngClass]="isMobile ? 'fontsize-10-px' : ''">
                    <mat-label>Select Date*</mat-label>
                    <input #inputDate class="fontsize-12-px" matInput [matDatepicker]="dueDate" formControlName="fullfilmentDate" (click)="dueDate.open()" [min]="minDate" readonly />
                    <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
                    <mat-datepicker #dueDate startView="month" [startAt]="dueDate"></mat-datepicker>
                  </mat-form-field>
                  <span
                    class="display-flex align-item-end p-b-5"
                    *ngIf="
                      poForms['controls']['forms']['controls'][m]['controls']['fullfilmentDate'].hasError('required') &&
                      poForms['controls']['forms']['controls'][m]['controls']['fullfilmentDate'].touched
                    "
                  >
                    <app-error-message [msg]="'Date is required'"></app-error-message>
                  </span>
                </div>
              </ng-template>
            </span>
            <span
              class="mat-cell"
              [ngClass]="
                isInternational && mode === 'edit'
                  ? 'international-edit-po'
                  : isInternational && mode !== 'edit'
                  ? 'international-view-po'
                  : !isInternational && mode === 'edit'
                  ? 'national-edit-po'
                  : 'national-view-po'
              "
            ></span>
            <span
              class="mat-cell"
              [ngClass]="
                isInternational && mode === 'edit'
                  ? 'international-edit-po'
                  : isInternational && mode !== 'edit'
                  ? 'international-view-po'
                  : !isInternational && mode === 'edit'
                  ? 'national-edit-po'
                  : 'national-view-po'
              "
              >{{ getMaterialQuantity(m) | number: "1.2-2" }}
              <!-- <span *ngIf="getMaterialQuantity(m) > material.poAvailableQty" class="error-msg white-space-nowrap fontsize-9-px minwidth-128-px">
                Must be less than {{material.poAvailableQty}}
              </span> -->
            </span>
            <span
              class="mat-cell"
              [ngClass]="
                isInternational && mode === 'edit'
                  ? 'international-edit-po'
                  : isInternational && mode !== 'edit'
                  ? 'international-view-po'
                  : !isInternational && mode === 'edit'
                  ? 'national-edit-po'
                  : 'national-view-po'
              "
              >{{ getMaterialAmount(m) | number: "1.2-2" }}</span
            >

            <span
              class="mat-cell"
              [ngClass]="
                isInternational && mode === 'edit'
                  ? 'international-edit-po'
                  : isInternational && mode !== 'edit'
                  ? 'international-view-po'
                  : !isInternational && mode === 'edit'
                  ? 'national-edit-po'
                  : 'national-view-po'
              "
              *ngIf="isInternational; else gstTotalBlock"
              >{{ getTotalPOListTax(m) | number: "1.2-2" }}
              <span *ngIf="this.poTableData[m].taxInfo && this.poTableData[m].taxInfo.length" class="info-icon info-tootip"
                ><img src="./../../../../assets/images/i_icon.png" class="img-responsive" />
                <span class="info-tootip__content">
                  <div class="tooltip-table p-t-0 p-r-0 p-l-0">
                    <div class="width-100 border-radius-tltr-5px background-modal-grey p-t-5 text-center gray-bottom-border m-b-5">
                      <span class="text-semi-bold">Tax Details</span>
                    </div>
                    <div class="display-flex justify-content-space-between gray-bottom-border" *ngFor="let tax of this.poTableData[m].taxInfo">
                      <span class="text-semi-bold" [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''">{{ tax.taxName }}</span
                      ><span [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''">{{ tax.taxValue }}%</span>
                    </div>
                  </div>
                </span>
              </span>
            </span>

            <ng-template #gstTotalBlock>
              <span
                class="mat-cell"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
              ></span>
            </ng-template>

            <span
              class="mat-cell"
              [ngClass]="
                isInternational && mode === 'edit'
                  ? 'international-edit-po'
                  : isInternational && mode !== 'edit'
                  ? 'international-view-po'
                  : !isInternational && mode === 'edit'
                  ? 'national-edit-po'
                  : 'national-view-po'
              "
              *ngIf="isInternational; else gstTotalAmountBlock"
            >
              {{ ratesBaseCurr ? (this.poTableData[m].otherCostAmount * poCurrency.exchangeValue | number: "1.2-2") : (this.poTableData[m].otherCostAmount | number: "1.2-2") }}
              <span *ngIf="this.poTableData[m].otherCostAmount" class="info-icon info-tootip"
                ><img src="./../../../../assets/images/i_icon.png" class="img-responsive" />
                <span class="info-tootip__content">
                  <div class="tooltip-table p-t-0 p-r-0 p-l-0">
                    <div class="width-100 border-radius-tltr-5px background-modal-grey p-t-5 text-center gray-bottom-border m-b-5">
                      <span class="text-semi-bold">Other Cost</span>
                    </div>

                    <div
                      class="display-flex justify-content-space-between gray-bottom-border"
                      *ngFor="let cost of this.poTableData[m].otherCostInfo"
                      [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''"
                    >
                      <span class="text-semi-bold">{{ cost.otherCostName }}</span
                      ><span>{{ cost.otherCostAmount }}</span>
                    </div>
                  </div>
                </span>
              </span></span
            >
            <ng-template #gstTotalAmountBlock>
              <span
                class="mat-cell"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
                >{{ getMaterialGstAmount(m) | number: "1.2-2" }}</span
              >
            </ng-template>
            <span
              class="mat-cell"
              [ngClass]="
                isInternational && mode === 'edit'
                  ? 'international-edit-po'
                  : isInternational && mode !== 'edit'
                  ? 'international-view-po'
                  : !isInternational && mode === 'edit'
                  ? 'national-edit-po'
                  : 'national-view-po'
              "
              >{{
                ratesBaseCurr
                  ? (this.poTableData[m].otherCostAmount * poCurrency.exchangeValue + getMaterialTotalAmount(m) | number: "1.2-2")
                  : (this.poTableData[m].otherCostAmount + getMaterialTotalAmount(m) | number: "1.2-2")
              }}</span
            >

            <!---- Attached Column Images List ---->
            <span
              class="mat-cell po-images-list"
              [ngClass]="
                isInternational && mode === 'edit'
                  ? 'international-edit-po'
                  : isInternational && mode !== 'edit'
                  ? 'international-view-po'
                  : !isInternational && mode === 'edit'
                  ? 'national-edit-po'
                  : 'national-view-po'
              "
            >
              <!-- View image modal link -->
              <!-- material?.purchaseOrderDetailList[0]?.documentList?.length -->
              <div
                *ngIf="material && material.purchaseOrderDetailList[0] && material.purchaseOrderDetailList[0].documentList && material.purchaseOrderDetailList[0].documentList.length"
                class="images-lists"
                [ngClass]="
                  material.purchaseOrderDetailList[0].documentList.length === 1 ? 'single-image' : material.purchaseOrderDetailList[0].documentList.length === 2 ? 'double-images' : 'triple-images'
                "
                (click)="viewAllImages(material.materialId)"
              >
                <ng-container *ngFor="let img of material.purchaseOrderDetailList[0].documentList; let i = index">
                  <img [src]="img.documentThumbnailUrl" alt="project{{ i }}" class="img-fluid attached-image" *ngIf="i < 3" />
                </ng-container>
              </div>

              <ng-container *ngIf="!(material && material.purchaseOrderDetailList[0] && material.purchaseOrderDetailList[0].documentList)">
                <img src="assets/images/project-default-image.png" alt="default-material" class="img-fluid default-image" />
              </ng-container>
            </span>

            <span class="mat-cell" [ngClass]="!isInternational && mode === 'edit' ? 'po-national-image-width' : 'po-sno-width'" *ngIf="mode === 'edit'">
              <!-- Upload Image Link -->
              <a class="cursor-pointer issue-to-indent-icon" matTooltip="Add/Edit Image" (click)="uploadImage(material, 'po')">
                <img class="width-20-px mt-1 mr-2" src="assets/images/upload-image-icon.svg" />
              </a>
            </span>

            <span
              class="mat-cell add-taxes-col"
              *ngIf="isInternational && mode === 'edit' && mode === 'edit'"
              [ngClass]="
                isInternational && mode === 'edit'
                  ? 'international-edit-po'
                  : isInternational && mode !== 'edit'
                  ? 'international-view-po'
                  : !isInternational && mode === 'edit'
                  ? 'national-edit-po'
                  : 'national-view-po'
              "
              ><button mat-button matRipple class="btn btn-link taxButton p-0 main-color text-decoration-underline" (click)="openTaxesCostsDialog('taxesAndCost', m)">Add Taxes & Costs</button></span
            >
          </div>

          <!---------------- other table row (white bh color) --------------------------->
          <ng-container formArrayName="purchaseOrderDetailList">
            <div class="mat-row" *ngFor="let purchaseOrder of material.purchaseOrderDetailList; let p = index" [formGroupName]="p" [ngClass]="isMobile ? 'mpo-mh' : ''">
              <span class="mat-cell po-sno-width"></span>
              <span class="mat-cell po-material-width">{{ purchaseOrder.materialBrand }}</span>
              <span class="mat-cell" [ngClass]="!isInternational && mode === 'edit' ? 'po-national-unit-width' : 'po-unit-width'"></span>
              <span class="mat-cell po-date-width" [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''"></span>
              <span
                class="mat-cell supplier-rates"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
              >
                <ng-container *ngIf="mode != 'edit'; else editRate">
                  {{ ratesBaseCurr ? (purchaseOrder.materialUnitPrice * poCurrency.exchangeValue | number: "1.2-2") : (purchaseOrder.materialUnitPrice | number: "1.2-2") }}</ng-container
                >
                <ng-template #editRate>
                  <mat-form-field class="border-input width-65-px">
                    <input type="text" matInput appTwoDigitDecimaNumber #rate formControlName="materialUnitPrice" placeholder="rate" min="0" class="supplier-rate-input" />
                    <small
                      *ngIf="
                        poForms['controls']['forms']['controls'][m]['controls']['purchaseOrderDetailList']['controls'][p]['controls']['materialUnitPrice'].hasError('pattern') &&
                        poForms['controls']['forms']['controls'][m]['controls']['purchaseOrderDetailList']['controls'][p]['controls']['materialUnitPrice'].touched
                      "
                      class="error-msg"
                    >
                      Invalid rate
                    </small>
                    <!-- controls.forms.controls[""0""].controls.purchaseOrderDetailList.controls[""0""].controls.materialUnitPrice -->
                  </mat-form-field>
                </ng-template>
              </span>
              <span
                class="mat-cell"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
              >
                <ng-container *ngIf="mode != 'edit'; else editQuantity"> {{ purchaseOrder.materialQuantity | number: "1.2-2" }}</ng-container>
                <ng-template #editQuantity>
                  <mat-form-field class="border-input p-r-2" [ngClass]="isInternational && mode === 'edit' ? 'width-60' : 'width-50'">
                    <input type="text" matInput #quantity appTwoDigitDecimaNumber formControlName="materialQuantity" placeholder="quantity" min="0" />
                  </mat-form-field>
                  <span *ngIf="poForms['controls']['forms']['controls'][m]['controls']['purchaseOrderDetailList']['controls'][p]['controls']['materialQuantity'].hasError('greaterQuantity')">
                    <app-error-message [msg]="'Cannot add quantity greater than ' + material.poAvailableQty"></app-error-message>
                  </span>
                </ng-template>
              </span>
              <span
                class="mat-cell"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
              >
                <ng-container *ngIf="mode != 'edit'; else editAmount">{{ purchaseOrder.amount | number: "1.2-2" }} </ng-container>
                <ng-template #editAmount>
                  {{ poForms["controls"]["forms"]["controls"][m]["controls"]["purchaseOrderDetailList"]["controls"][p]["controls"]["amount"].value | number: "1.2-2" }}
                </ng-template>
              </span>
              <span
                class="mat-cell"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
                *ngIf="isInternational; else gstBlock"
              >
                {{ isInternational && mode === "edit" ? (getPOListTax(m, p, "edit") | number: "1.2-2") : (getPOListTax(m, p, "view") | number: "1.2-2") }}
              </span>
              <ng-template #gstBlock>
                <span
                  class="mat-cell"
                  [ngClass]="
                    isInternational && mode === 'edit'
                      ? 'international-edit-po'
                      : isInternational && mode !== 'edit'
                      ? 'international-view-po'
                      : !isInternational && mode === 'edit'
                      ? 'national-edit-po'
                      : 'national-view-po'
                  "
                >
                  <span *ngIf="mode != 'edit'; else editGst" [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''">
                    <span *ngIf="purchaseOrder && purchaseOrder.materialCgst == 0 && purchaseOrder.materialSgst === 0">
                      {{ purchaseOrder.materialIgst | number: "1.2-2" }}
                    </span>
                    <span *ngIf="purchaseOrder && purchaseOrder.materialCgst != 0 && purchaseOrder.materialSgst != 0">
                      {{ purchaseOrder.materialCgst + purchaseOrder.materialSgst | number: "1.2-2" }}
                    </span>
                  </span>
                  <ng-template #editGst>
                    <mat-form-field class="border-input width-55-px">
                      <input matInput type="text" appTwoDigitDecimaNumber #gst formControlName="gst" placeholder="GST%" class="m-r-5" min="0" />
                      <small
                        *ngIf="
                          poForms['controls']['forms']['controls'][m]['controls']['purchaseOrderDetailList']['controls'][p]['controls']['gst'].hasError('pattern') &&
                          poForms['controls']['forms']['controls'][m]['controls']['purchaseOrderDetailList']['controls'][p]['controls']['gst'].touched
                        "
                        class="error-msg"
                      >
                        Invalid gst
                      </small>
                    </mat-form-field>
                  </ng-template>
                </span>
              </ng-template>
              <span
                *ngIf="isInternational; else gstAmountBlock"
                class="mat-cell"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
              >
              </span>
              <ng-template #gstAmountBlock>
                <span
                  class="mat-cell"
                  [ngClass]="
                    isInternational && mode === 'edit'
                      ? 'international-edit-po'
                      : isInternational && mode !== 'edit'
                      ? 'international-view-po'
                      : !isInternational && mode === 'edit'
                      ? 'national-edit-po'
                      : 'national-view-po'
                  "
                >
                  <ng-container *ngIf="mode != 'edit'; else editgstAmount"> {{ purchaseOrder.gstAmount | number: "1.2-2" }} </ng-container>
                  <ng-template #editgstAmount>
                    {{ poForms["controls"]["forms"]["controls"][m]["controls"]["purchaseOrderDetailList"]["controls"][p]["controls"]["gstAmount"].value | number: "1.2-2" }}
                  </ng-template>
                </span>
              </ng-template>
              <span
                class="mat-cell"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
              >
                <ng-container *ngIf="mode != 'edit'; else editTotal">{{ purchaseOrder.total | number: "1.2-2" }} </ng-container>
                <ng-template #editTotal>
                  <span [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''">{{
                    poForms["controls"]["forms"]["controls"][m]["controls"]["purchaseOrderDetailList"]["controls"][p]["controls"]["total"].value | number: "1.2-2"
                  }}</span>
                </ng-template>
              </span>
              <span
                *ngIf="isInternational && mode === 'edit' && mode === 'edit'"
                class="mat-cell"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
              ></span>
              <span
                class="mat-cell po-images-list"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
              ></span>
              <span
                class="mat-cell"
                *ngIf="mode === 'edit'"
                [ngClass]="
                  isInternational && mode === 'edit'
                    ? 'international-edit-po'
                    : isInternational && mode !== 'edit'
                    ? 'international-view-po'
                    : !isInternational && mode === 'edit'
                    ? 'national-edit-po'
                    : 'national-view-po'
                "
              ></span>
            </div>
          </ng-container>
        </div>

        <div class="material-row" *ngIf="isInternational" [ngClass]="isMobile ? 'mpo-mh' : ''">
          <span *ngIf="mode === 'edit'; else viewAdditonalBlock" class="mat-cell text-right">
            <div class="row">
              <div class="col-xs-10 p-r-70 p-t-10">
                <span class="p-r-0">
                  <span class="p-r-5" [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''">
                    {{
                      ratesBaseCurr ? (this.additonalCost.additionalOtherCostAmount * poCurrency.exchangeValue | number: "1.2-2") : (this.additonalCost.additionalOtherCostAmount | number: "1.2-2")
                    }}</span
                  >
                  <span *ngIf="this.additonalCost.additionalOtherCostInfo && this.additonalCost.additionalOtherCostInfo.length" class="info-icon info-tootip"
                    ><img src="./../../../../assets/images/i_icon.png" class="img-responsive" />
                    <span class="info-tootip__content">
                      <div class="tooltip-table p-t-0 p-r-0 p-l-0">
                        <div class="width-100 border-radius-tltr-5px background-modal-grey p-t-5 gray-bottom-border m-b-5">
                          <span>Additional Cost Details</span>
                        </div>
                        <div class="display-flex justify-content-space-between gray-bottom-border" *ngFor="let cost of this.additonalCost.additionalOtherCostInfo">
                          <span class="text-semi-bold" [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''">{{ cost.otherCostName }}</span
                          ><span [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''">{{ cost.otherCostAmount }}</span>
                        </div>
                      </div>
                    </span></span
                  >
                </span>
              </div>
              <div class="col-xs-2">
                <span [ngClass]="isMobile ? 'text-align-right' : ''"
                  ><button mat-button matRipple class="btn btn-link p-0 main-color text-decoration-underline small-text" (click)="openTaxesCostsDialog('otherCost')">Add other costs</button>
                </span>
              </div>
            </div>
          </span>

          <ng-template #viewAdditonalBlock>
            <div class="row width-100">
              <div class="col-md-9"></div>
              <div class="col-md-3 p-r-10 fontsize-15-px text-left">
                <span class="p-r-0">
                  <span class="light-grey small-text">Other Cost:</span>
                  <span class="p-r-5 light-grey" [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''">
                    {{
                      ratesBaseCurr ? (this.additonalCost.additionalOtherCostAmount * poCurrency.exchangeValue | number: "1.2-2") : (this.additonalCost.additionalOtherCostAmount | number: "1.2-2")
                    }}</span
                  >
                  <span *ngIf="this.additonalCost.additionalOtherCostInfo.length" class="info-icon info-tootip"
                    ><img src="./../../../../assets/images/i_icon.png" class="img-responsive" />
                    <span class="info-tootip__content">
                      <div class="tooltip-table p-t-0 p-r-0 p-l-0">
                        <div class="width-100 border-radius-tltr-5px background-modal-grey p-t-5 text-center gray-bottom-border m-b-5">
                          <span>Additional Cost Details</span>
                        </div>
                        <div class="display-flex justify-content-space-between gray-bottom-border" *ngFor="let cost of this.additonalCost.additionalOtherCostInfo">
                          <span class="text-semi-bold" [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''">{{ cost.otherCostName }}</span
                          ><span [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp' : ''">{{ cost.otherCostAmount }}</span>
                        </div>
                      </div>
                    </span></span
                  >
                </span>
              </div>
            </div>
          </ng-template>
        </div>

        <!----------------- Table Footer Row ------------------>
        <div class="mat-row footer" [ngClass]="isMobile ? 'mpo-mh1' : ''">
          <span class="mat-cell po-sno-width"></span>
          <span class="mat-cell po-material-width"></span>
          <span class="mat-cell" [ngClass]="!isInternational && mode === 'edit' ? 'po-national-unit-width' : 'po-unit-width'"></span>
          <span class="mat-cell po-date-width"></span>
          <span
            class="mat-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          ></span>
          <span
            class="mat-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          ></span>
          <span
            class="mat-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          ></span>
          <span
            class="mat-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          >
            <span *ngIf="isInternational" [ngClass]="isMobile ? 'fontsize-10-px txt-nwrp p-rem-r-5' : ''"
              ><span>
                Tax Amount
                <span>({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span>
              </span>
              <br />{{ totalTaxAmount | number: "1.2-2" }}</span
            ></span
          >
          <span
            class="mat-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          >
            <span *ngIf="isInternational; else totalGstAmount">
              <span
                >Other Cost
                <span>({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span></span
              >
              <br />{{ ratesBaseCurr ? (totalOtherAmount * poCurrency.exchangeValue | number: "1.2-2") : (totalOtherAmount | number: "1.2-2") }}
            </span>
            <ng-template #totalGstAmount> <span> GST Amount </span> <br />{{ gstTotalAmount | number: "1.2-2" }} </ng-template>
          </span>
          <span
            class="mat-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          >
            <span
              >Total Amount
              <span>({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span>
            </span>
            <br />{{ ratesBaseCurr ? (totalOtherAmount * poCurrency.exchangeValue + totalAmount | number: "1.2-2") : (totalAmount + totalOtherAmount | number: "1.2-2") }}</span
          >
          <span
            class="mat-cell"
            [ngClass]="
              isInternational && mode === 'edit'
                ? 'international-edit-po'
                : isInternational && mode !== 'edit'
                ? 'international-view-po'
                : !isInternational && mode === 'edit'
                ? 'national-edit-po'
                : 'national-view-po'
            "
          ></span>
          <span class="mat-cell mat-last-cell" [ngClass]="!isInternational && mode === 'edit' ? 'po-national-image-width' : 'po-sno-width'" *ngIf="mode === 'edit'"></span>
        </div>

        <div *ngIf="!isInternational" class="col-xs-12 text-right text-semi-bold m-t-10 p-r-35 font-size-vary-grn">
          Net Payable Amount in Words : Rupees {{ totalAmount | numberToWords | async | titlecase }} <span class="text-semi-bold">Only /-</span>
        </div>
      </div>
    </mat-accordion>
  </form>
</div>
