<div class="row">
  <div class="col-xs-12 text-right m-t-10 m-b-5" *ngIf="isInternational; else elseBlock">
    <div class="p-r-10 p-b-10">
      <div>
        <span
          *ngIf="isInternational && mode === 'edit'"
          (click)="selectCurrency()"
          class="text-decoration-underline main-color font-size-vary-grn p-r-10 text-semi-bold cursor-pointer"
          [ngClass]="isMobile ? 'display-block mb-3' : ''"
          >Select Currency</span
        >
        <span *ngIf="poCurrency && poCurrency.exchangeCurrencyName != null" [ngClass]="isMobile ? 'display-block p-rem-r-5' : ''">
          <span class="slideToggalColor p-r-10">
            <mat-slide-toggle (toggleChange)="changeCurrency($event)" [(ngModel)]="ratesBaseCurr" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
          </span>
          <span class="base-currency p-l-5 p-r-5 p-t-10 p-b-10">
            <span class="font-size-vary-grn color-grey">
              <img width="25px" *ngIf="poCurrency.exchangeCurrencyFlag" [src]="poCurrency.exchangeCurrencyFlag" />
              {{ poCurrency.exchangeCurrencyName }}
            </span>
            <span class="p-l-5"> = </span>
            <span class="p-l-5 color-6d6a6a color-grey"> {{ poCurrency.exchangeValue }} </span>
            <span class="p-l-5 color-grey">
              <img width="25px" *ngIf="poCurrency.primaryCurrencyFlag" [src]="poCurrency.primaryCurrencyFlag" />
              {{ poCurrency.primaryCurrencyName }}
            </span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <span *ngIf="mode === 'edit'" class="col-xs-12 text-right">
      <mat-radio-group class="radio-btn-group-po-table p-r-20" aria-label="Select an option" [(ngModel)]="gst">
        <mat-radio-button [checked]="gst === 'IGST'" value="IGST" class="p-r-5">IGST</mat-radio-button>
        <mat-radio-button [checked]="gst === 'CGST & SGST'" value="CGST & SGST">CGST & SGST</mat-radio-button>
      </mat-radio-group>
    </span>
  </ng-template>
</div>

<div class="customPo">
  <form *ngIf="poTableData" [formGroup]="poForms" (ngSubmit)="sumbit()">
    <mat-accordion displayMode="flat" multi class="mat-table" formArrayName="forms" [ngClass]="isMobile ? 'res-table' : 'po-table'">
      <div [ngClass]="isMobile ? 'res-td' : ''">
        <section matSort class="mat-elevation-z2 mat-header-row">
          <span class="mat-header-cell po-sno-width">S.No</span>
          <span class="mat-header-cell po-material-width"
            >Material Name <br />
            & Makes</span
          >
          <!-- <span class="mat-header-cell" [ngClass]="isMobile && mode !== 'edit' ? 'po-header-unit-width' : 'minwidth-5'">Unit</span> -->
          <span class="mat-header-cell po-unit-width">Unit</span>
          <span class="mat-header-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">Fulfillment <br />Date</span>
          <span class="mat-header-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"
            >Supplier Rate
            <span>({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span>
          </span>
          <span class="mat-header-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">Awarded <br />quantity</span>
          <span class="mat-header-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"
            >Amount
            <span style="display: block"
              >({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span
            >
          </span>
          <span class="mat-header-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
            <!-- {{ isInternational ? "Tax Amount ("+ ((poCurrency && poCurrency.exchangeCurrencyName) ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : (poData.currencyCode)) + ')' : "GST %" }} -->
            <ng-container *ngIf="isInternational; else defaultGstPercent">
              Tax Amount <br />
              ({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})
            </ng-container>
            <ng-template #defaultGstPercent> GST % </ng-template>
          </span>
          <span class="mat-header-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
            <!-- {{ isInternational ? "Other Cost (" + ((poCurrency && poCurrency.exchangeCurrencyName) ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : (poData.currencyCode)) + ')' : "GST Amount" }} -->
            <ng-container *ngIf="isInternational; else defaultCurr">
              Other Cost <br />
              ({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})
            </ng-container>
            <ng-template #defaultCurr> GST Amount </ng-template>
          </span>
          <span class="mat-header-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"
            >Total Amount
            <span>({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span>
          </span>
          <span *ngIf="imageAvailable" class="mat-header-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"> Attached Images </span>
        </section>

        <!------------------------------ table body data ----------------------------------->
        <div *ngFor="let material of poTableData; let m = index" [formGroupName]="m">
          <div class="material-row">
            <span class="mat-cell po-sno-width">{{ m + 1 }}</span>
            <span class="mat-cell po-material-width">
              <span>{{ material.materialName }}</span>
            </span>
            <span class="mat-cell po-unit-width">{{ material.materialUnit }}</span>
            <span class="mat-cell" [ngClass]="mode === 'edit' ? (isMobile ? (isInternational ? 'po-edit-date-width' : 'po-nedit-date-width') : 'international-edit-po') : 'international-view-po'">
              <ng-container *ngIf="mode != 'edit'; else editQuantity"> {{ material.fullfilmentDate | date: "dd-MMM-yyy" }}</ng-container>
              <ng-template #editQuantity>
                <div class="higlight-input">
                  <mat-form-field
                    class="po-border-input suffix-padding infix-padding mat-form-field-label-size input-padding"
                    [ngClass]="
                      poForms['controls']['forms']['controls'][m]['controls']['fullfilmentDate'].hasError('required') &&
                      poForms['controls']['forms']['controls'][m]['controls']['fullfilmentDate'].touched
                        ? 'width-77'
                        : 'width-100'
                    "
                  >
                    <mat-label>Select Date*</mat-label>
                    <input
                      #inputDate
                      [ngClass]="isMobile ? 'fontsize-10-px' : 'fontsize-12-px'"
                      matInput
                      [matDatepicker]="dueDate"
                      formControlName="fullfilmentDate"
                      (click)="dueDate.open()"
                      [min]="minDate"
                      readonly
                    />
                    <mat-datepicker-toggle matSuffix [for]="dueDate"> </mat-datepicker-toggle>
                    <mat-datepicker #dueDate startView="month" [startAt]="dueDate"></mat-datepicker>
                  </mat-form-field>
                  <span
                    *ngIf="
                      poForms['controls']['forms']['controls'][m]['controls']['fullfilmentDate'].hasError('required') &&
                      poForms['controls']['forms']['controls'][m]['controls']['fullfilmentDate'].touched
                    "
                  >
                    <app-error-message [width]="'22'" [msg]="'Choose the date greater than current date'"></app-error-message>
                  </span>
                </div>

                <!-- <span
                  *ngIf="
                    poForms['controls']['forms']['controls'][m]['controls']['fullfilmentDate'].hasError('required') &&
                    poForms['controls']['forms']['con trols'][m]['controls']['fullfilmentDate'].touched
                  "
                  class="error-msg"
                >
                  Date is required
                </span> -->
              </ng-template>
            </span>
            <span
              class="mat-cell"
              [ngClass]="mode === 'edit' ? (isMobile ? (isInternational ? 'po-supplier-rate-width' : 'po-nsupplier-rate-width') : 'international-edit-po') : 'international-view-po'"
            ></span>
            <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"
              >{{ getMaterialQuantity(m) | number: "1.2-2" }}
              <!-- <span *ngIf="getMaterialQuantity(m) > material.poAvailableQty" class="error-msg white-space-nowrap fontsize-9-px minwidth-128-px">
                Must be less than {{material.poAvailableQty}}
              </span> -->
            </span>
            <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">{{ getMaterialAmount(m) | number: "1.2-2" }}</span>
            <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'" *ngIf="isInternational; else gstTotalBlock">
              <span class="p-l-2">
                {{ getTotalPOListTax(m) | number: "1.2-2" }}
              </span>
              <span class="info-tootip">
                <span *ngIf="this.poTableData[m].taxInfo && this.poTableData[m].taxInfo.length" class="info-icon">
                  <img src="./../../../../assets/images/i_icon.png" class="img-responsive" />
                </span>
                <!-- tootlip containes supplier name -->
                <div class="info-tootip__content tooltip-info">
                  <div class="tooltip-info-header">
                    <span>Tax Details</span>
                  </div>
                  <div class="tooltip-info-body">
                    <div class="display-flex justify-content-space-between gray-bottom-border" *ngFor="let tax of this.poTableData[m].taxInfo">
                      <span class="text-semi-bold noborder-bottom">{{ tax.taxName }}</span
                      ><span>{{ tax.taxValue }}%</span>
                    </div>
                  </div>
                </div>
              </span>
              <br />
              <div *ngIf="mode === 'edit'" class="btn btn-link fontsize-13-px taxButton p-0 main-color text-decoration-underline" (click)="openTaxesCostsDialog('taxesAndCost', m)">Add Tax</div>
            </span>
            <ng-template #gstTotalBlock>
              <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"></span>
            </ng-template>

            <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'" *ngIf="isInternational; else gstTotalAmountBlock">
              <span class="p-l-2 p-r-4">{{
                ratesBaseCurr ? (this.poTableData[m].otherCostAmount * poCurrency.exchangeValue | number: "1.2-2") : (this.poTableData[m].otherCostAmount | number: "1.2-2")
              }}</span>

              <span class="info-tootip">
                <span *ngIf="this.poTableData[m].taxInfo && this.poTableData[m].taxInfo.length" class="info-icon">
                  <img src="./../../../../assets/images/i_icon.png" class="img-responsive" />
                </span>
                <!-- tootlip containes supplier name -->
                <div class="info-tootip__content tooltip-info">
                  <div class="tooltip-info-header">
                    <span>Other Cost</span>
                  </div>
                  <div class="tooltip-info-body">
                    <div class="display-flex justify-content-space-between gray-bottom-border" *ngFor="let cost of this.poTableData[m].otherCostInfo">
                      <span class="text-semi-bold noborder-bottom">{{ cost.otherCostName }}</span
                      ><span>{{ cost.otherCostAmount }}%</span>
                    </div>
                  </div>
                </div>
              </span>
              <br />
              <div *ngIf="mode === 'edit'" class="btn btn-link taxButton fontsize-13-px p-0 main-color text-decoration-underline" (click)="openTaxesCostsDialog('taxesAndCost', m)">Other Cost</div>
            </span>
            <ng-template #gstTotalAmountBlock>
              <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">{{ getMaterialGstAmount(m) | number: "1.2-2" }}</span>
            </ng-template>
            <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">{{
              ratesBaseCurr
                ? (this.poTableData[m].otherCostAmount * poCurrency.exchangeValue + getMaterialTotalAmount(m) | number: "1.2-2")
                : (this.poTableData[m].otherCostAmount + getMaterialTotalAmount(m) | number: "1.2-2")
            }}</span>
            <!---- Attached Column Images List ---->
            <span *ngIf="imageAvailable" class="mat-cell po-images-list" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
              <!-- View image modal link -->
              <!-- material?.purchaseOrderDetailList[0]?.documentList?.length -->
              <div class="row p-t-10">
                <div class="col-xs-8">
                  <span [ngClass]="isMobile ? 'p-r-3' : ''">
                    <div
                      *ngIf="material && material.purchaseOrderDetailList[0] && material.purchaseOrderDetailList[0].documentList && material.purchaseOrderDetailList[0].documentList.length"
                      class="images-lists"
                      [ngClass]="
                        material.purchaseOrderDetailList[0].documentList.length === 1
                          ? 'single-image'
                          : material.purchaseOrderDetailList[0].documentList.length === 2
                          ? 'double-images'
                          : 'triple-images'
                      "
                      (click)="viewAllImages(material.materialId)"
                    >
                      <ng-container *ngFor="let img of material.purchaseOrderDetailList[0].documentList; let i = index">
                        <img [src]="img.documentThumbnailUrl" alt="project{{ i }}" class="img-fluid attached-image" *ngIf="i < 3" />
                      </ng-container>
                    </div>

                    <ng-container *ngIf="!(material && material.purchaseOrderDetailList[0] && material.purchaseOrderDetailList[0].documentList)">
                      <img src="assets/images/project-default-image.png" alt="default-material" class="img-fluid default-image" />
                    </ng-container>
                  </span>
                </div>
                <div class="col-xs-4 p-t-10">
                  <span *ngIf="mode === 'edit'" [ngClass]="isMobile ? 'p-r-5' : ''">
                    <!-- Upload Image Link -->
                    <a class="cursor-pointer issue-to-indent-icon" matTooltip="Add/Edit Image" (click)="uploadImage(material, 'po')">
                      <img class="width-15-px m-rem-t-10" src="assets/images/upload-image-icon.svg" />
                    </a>
                  </span>
                </div>
              </div>
            </span>
          </div>

          <!---------------- other table row (white bh color) --------------------------->
          <ng-container formArrayName="purchaseOrderDetailList">
            <div class="mat-row" *ngFor="let purchaseOrder of material.purchaseOrderDetailList; let p = index" [formGroupName]="p" [ngClass]="isMobile ? 'mpo-mh' : ''">
              <span class="mat-cell po-sno-width"></span>
              <span class="mat-cell po-material-width">{{ purchaseOrder.materialBrand }}</span>
              <span class="mat-cell po-unit-width"></span>
              <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"></span>
              <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
                <ng-container *ngIf="mode != 'edit'; else editRate">
                  {{ ratesBaseCurr ? (purchaseOrder.materialUnitPrice * poCurrency.exchangeValue | number: "1.2-2") : (purchaseOrder.materialUnitPrice | number: "1.2-2") }}</ng-container
                >
                <ng-template #editRate>
                  <mat-form-field class="mat-form-field-highlight infix-padding input-padding po-border-input width-80">
                    <mat-label>rate</mat-label>
                    <input type="text" matInput appTwoDigitDecimaNumber #rate formControlName="materialUnitPrice" min="0" class="supplier-rate-input" />
                    <small
                      *ngIf="
                        poForms['controls']['forms']['controls'][m]['controls']['purchaseOrderDetailList']['controls'][p]['controls']['materialUnitPrice'].hasError('pattern') &&
                        poForms['controls']['forms']['controls'][m]['controls']['purchaseOrderDetailList']['controls'][p]['controls']['materialUnitPrice'].touched
                      "
                      class="error-msg"
                    >
                      Invalid rate
                    </small>
                    <!-- controls.forms.controls[""0""].controls.purchaseOrderDetailList.controls[""0""].controls.materialUnitPrice -->
                  </mat-form-field>
                </ng-template>
              </span>
              <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
                <ng-container *ngIf="mode != 'edit'; else editQuantity"> {{ purchaseOrder.materialQuantity | number: "1.2-2" }}</ng-container>
                <ng-template #editQuantity>
                  <mat-form-field class="po-border-input p-r-2 infix-padding mat-form-field-highlight input-padding width-80">
                    <div class="display-flex align-item-end">
                      <span>
                        <input type="text" matInput #quantity appTwoDigitDecimaNumber formControlName="materialQuantity" placeholder="quantity" min="0" />
                      </span>
                      <span *ngIf="poForms['controls']['forms']['controls'][m]['controls']['purchaseOrderDetailList']['controls'][p]['controls']['materialQuantity'].hasError('greaterQuantity')">
                        <app-error-message [msg]="'Cannot add quantity greater than ' + material.poAvailableQty"></app-error-message>
                      </span>
                    </div>
                  </mat-form-field>
                </ng-template>
              </span>
              <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
                <ng-container *ngIf="mode != 'edit'; else editAmount">{{ purchaseOrder.amount | number: "1.2-2" }} </ng-container>
                <ng-template #editAmount>
                  {{ poForms["controls"]["forms"]["controls"][m]["controls"]["purchaseOrderDetailList"]["controls"][p]["controls"]["amount"].value | number: "1.2-2" }}
                </ng-template>
              </span>
              <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'" *ngIf="isInternational; else gstBlock">
                {{ isInternational && mode === "edit" ? (getPOListTax(m, p, "edit") | number: "1.2-2") : (getPOListTax(m, p, "view") | number: "1.2-2") }}
              </span>
              <ng-template #gstBlock>
                <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
                  <span *ngIf="mode != 'edit'; else editGst">
                    <span *ngIf="purchaseOrder && purchaseOrder.materialCgst == 0 && purchaseOrder.materialSgst === 0">
                      {{ purchaseOrder.materialIgst | number: "1.2-2" }}
                    </span>
                    <span *ngIf="purchaseOrder && purchaseOrder.materialCgst != 0 && purchaseOrder.materialSgst != 0">
                      {{ purchaseOrder.materialCgst + purchaseOrder.materialSgst | number: "1.2-2" }}
                    </span>
                  </span>
                  <ng-template #editGst>
                    <mat-form-field class="po-border-input width-75-px infix-padding mat-form-field-highlight input-padding p-b-4">
                      <input matInput type="text" appTwoDigitDecimaNumber #gst formControlName="gst" placeholder="GST%" class="m-r-5" min="0" />
                      <small
                        *ngIf="
                          poForms['controls']['forms']['controls'][m]['controls']['purchaseOrderDetailList']['controls'][p]['controls']['gst'].hasError('pattern') &&
                          poForms['controls']['forms']['controls'][m]['controls']['purchaseOrderDetailList']['controls'][p]['controls']['gst'].touched
                        "
                        class="error-msg"
                      >
                        Invalid gst
                      </small>
                    </mat-form-field>
                  </ng-template>
                </span>
              </ng-template>
              <span *ngIf="isInternational; else gstAmountBlock" class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"> </span>
              <ng-template #gstAmountBlock>
                <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
                  <ng-container *ngIf="mode != 'edit'; else editgstAmount"> {{ purchaseOrder.gstAmount | number: "1.2-2" }} </ng-container>
                  <ng-template #editgstAmount>
                    {{ poForms["controls"]["forms"]["controls"][m]["controls"]["purchaseOrderDetailList"]["controls"][p]["controls"]["gstAmount"].value | number: "1.2-2" }}
                  </ng-template>
                </span>
              </ng-template>
              <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
                <ng-container *ngIf="mode != 'edit'; else editTotal">{{ purchaseOrder.total | number: "1.2-2" }} </ng-container>
                <ng-template #editTotal>
                  <span>{{ poForms["controls"]["forms"]["controls"][m]["controls"]["purchaseOrderDetailList"]["controls"][p]["controls"]["total"].value | number: "1.2-2" }}</span>
                </ng-template>
              </span>
              <span *ngIf="imageAvailable" class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"></span>
            </div>
          </ng-container>
        </div>

        <div class="material-row" *ngIf="isInternational" [ngClass]="isMobile ? 'mpo-mh' : ''">
          <span *ngIf="mode === 'edit'; else viewAdditonalBlock" class="mat-cell text-right">
            <div class="row">
              <div class="col-xs-8"></div>
              <div class="col-xs-4 p-t-5 p-b-5 p-l-0 text-left" [ngClass]="imageAvailable ? 'p-l-47' : '  '">
                <span class="p-r-0">
                  <span>
                    <span class="p-l-2 p-r-4">{{
                      ratesBaseCurr ? (this.additonalCost.additionalOtherCostAmount * poCurrency.exchangeValue | number: "1.2-2") : (this.additonalCost.additionalOtherCostAmount | number: "1.2-2")
                    }}</span>
                    <span class="info-tootip">
                      <span *ngIf="this.additonalCost.additionalOtherCostInfo && this.additonalCost.additionalOtherCostInfo.length" class="info-icon">
                        <img src="./../../../../assets/images/i_icon.png" class="img-responsive" />
                      </span>
                      <!-- tootlip containes supplier name -->
                      <div class="info-tootip__content tooltip-info">
                        <div class="tooltip-info-header">
                          <span>Additional Cost Details</span>
                        </div>
                        <div class="tooltip-info-body">
                          <div class="display-flex justify-content-space-between gray-bottom-border" *ngFor="let cost of this.additonalCost.additionalOtherCostInfo">
                            <span class="text-semi-bold noborder-bottom">{{ cost.otherCostName }}</span
                            ><span>{{ cost.otherCostAmount }}%</span>
                          </div>
                        </div>
                      </div>
                    </span>
                    <!-- <span *ngIf="this.additonalCost.additionalOtherCostInfo && this.additonalCost.additionalOtherCostInfo.length" class="info-icon info-tootip"
                      ><img src="./../../../../assets/images/i_icon.png" class="img-responsive" />
                      <span class="info-tootip__content">
                        <div class="tooltip-table p-t-0 p-r-0 p-l-0">
                          <div class="width-100 border-radius-tltr-5px background-modal-grey p-t-5 gray-bottom-border m-b-5">
                            <span>Additional Cost Details</span>
                          </div>
                          <div class="display-flex justify-content-space-between gray-bottom-border" *ngFor="let cost of this.additonalCost.additionalOtherCostInfo">
                            <span class="text-semi-bold">{{ cost.otherCostName }}</span
                            ><span>{{ cost.otherCostAmount }}</span>
                          </div>
                        </div>
                      </span>
                    </span> -->
                  </span>
                </span>
                <br />
                <div class="btn btn-link fontsize-13-px taxButton p-0 main-color text-decoration-underline" (click)="openTaxesCostsDialog('otherCost')">Add Other Tax</div>
              </div>
            </div>
          </span>

          <ng-template #viewAdditonalBlock>
            <div class="row width-100">
              <div class="col-xs-8"></div>
              <div class="col-xs-4 p-t-5 p-b-5 text-left">
                <span class="p-r-0">
                  <span class="light-grey small-text">Other Cost:</span>
                  <span class="p-r-5 light-grey">
                    {{
                      ratesBaseCurr ? (this.additonalCost.additionalOtherCostAmount * poCurrency.exchangeValue | number: "1.2-2") : (this.additonalCost.additionalOtherCostAmount | number: "1.2-2")
                    }}</span
                  >
                  <span *ngIf="this.additonalCost.additionalOtherCostInfo.length" class="info-icon info-tootip"
                    ><img src="./../../../../assets/images/i_icon.png" class="img-responsive" />
                    <span class="info-tootip__content">
                      <div class="tooltip-table p-t-0 p-r-0 p-l-0">
                        <div class="width-100 border-radius-tltr-5px background-modal-grey p-t-5 text-center gray-bottom-border m-b-5">
                          <span>Additional Cost Details</span>
                        </div>
                        <div class="display-flex justify-content-space-between gray-bottom-border" *ngFor="let cost of this.additonalCost.additionalOtherCostInfo">
                          <span class="text-semi-bold">{{ cost.otherCostName }}</span
                          ><span>{{ cost.otherCostAmount }}</span>
                        </div>
                      </div>
                    </span></span
                  >
                </span>
              </div>
            </div>
          </ng-template>
        </div>

        <!----------------- Table Footer Row ------------------>
        <div class="mat-row footer" [ngClass]="isMobile ? 'mpo-mh1' : ''">
          <span class="mat-cell po-sno-width"></span>
          <span class="mat-cell po-material-width"></span>
          <span class="mat-cell po-unit-width"></span>
          <span class="mat-cell po-date-width"></span>
          <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"></span>
          <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"></span>
          <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"></span>
          <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
            <span *ngIf="isInternational" [ngClass]="isMobile ? 'p-rem-r-5' : ''"
              ><span>
                Tax Amount
                <span>({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span>
              </span>
              <br />{{ totalTaxAmount | number: "1.2-2" }}</span
            ></span
          >
          <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
            <span *ngIf="isInternational; else totalGstAmount">
              <span
                >Other Cost
                <span>({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span></span
              >
              <br />{{ ratesBaseCurr ? (totalOtherAmount * poCurrency.exchangeValue | number: "1.2-2") : (totalOtherAmount | number: "1.2-2") }}
            </span>
            <ng-template #totalGstAmount> <span> GST Amount </span> <br />{{ gstTotalAmount | number: "1.2-2" }} </ng-template>
          </span>
          <span class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'">
            <span
              >Total Amount
              <span>({{ poCurrency && poCurrency.exchangeCurrencyName ? (ratesBaseCurr ? poCurrency.primaryCurrencyName : poCurrency.exchangeCurrencyName) : poData.currencyCode }})</span>
            </span>
            <br />{{ ratesBaseCurr ? (totalOtherAmount * poCurrency.exchangeValue + totalAmount | number: "1.2-2") : (totalAmount + totalOtherAmount | number: "1.2-2") }}</span
          >
          <span *ngIf="imageAvailable" class="mat-cell" [ngClass]="mode === 'edit' ? 'international-edit-po' : 'international-view-po'"></span>
        </div>

        <div *ngIf="!isInternational" class="col-xs-12 text-right text-semi-bold m-t-10 p-r-35 font-size-vary-grn">
          Net Payable Amount in Words : Rupees {{ totalAmount | numberToWords | async | titlecase }} <span class="text-semi-bold">Only /-</span>
        </div>
      </div>
    </mat-accordion>
  </form>
</div>
