<mat-expansion-panel class="mt-1 border-bottom" [(expanded)]="isOpen">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ config.title}}
        </mat-panel-title>
    </mat-expansion-panel-header>


    <div *ngIf="config?.list">

        <form *ngIf="form" [formGroup]="form">
            <!-- <h4 class="mt-4 mb-2 font-size16 font-weight-normal">{{ config.title }}</h4> -->
            <section class="example-section" formArrayName="checkBoxes">
                <div *ngFor="let item of config.list; let i = index">
                    <mat-checkbox class="example-margin d-block color-6d6a6a" [formControlName]="i">
                        {{ item.name }}
                    </mat-checkbox>
                </div>
            </section>
        </form>

    </div>


</mat-expansion-panel>