<section class="modal-outer select-project">
  <!-- if projects are available -->
  <ng-container *ngIf="data && data.length > 0; else noProjects">
    <div class="modal-header">
      <h5 mat-dialog-title class="mb-0">Project List</h5>
      <button type="button" class="close" (click)="closeDialog()" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div mat-dialog-content>
      <div class="modal-body">
        <div class="select-project__lists">
          <mat-radio-group aria-label="Select an option">
            <mat-radio-button [value]="project.projectId" *ngFor="let project of data" (change)="radioChange($event)">
              <div class="select-project__detail">
                <p class="mb-0 select-project__location gray-clr">
                  <strong class="d-flex font-weight500">{{ project.projectName }}</strong>
                  <span class="fontsize-14-px">{{ project.addressLine1 }}
                    <span *ngIf="project.addressLine2">, {{ project.addressLine2 }}</span>
                    , {{ project.city }}, {{ project.country }}, {{ project.state }}, {{ project.pinCode }}
                  </span>
                </p>
              </div>
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- if no projects present -->
  <ng-template #noProjects>
    <div class="modal-header">
      <h5 mat-dialog-title>No projects selected</h5>
      <button type="button" class="close" (click)="closeDialog()" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div mat-dialog-content>
      <div class="modal-body">
        <div class="mx-auto text-center">
          <img src="assets/images/project-background.png" alt="No projects available" class="no-projects img-fluid" />
          <h5 class="m-t-20">You haven't added any project yet.</h5>
          <h5 class="m-b-10">Please add one to continue.</h5>
          <button (click)="addProject()" mat-raised-button class="main-background-color main-button color-white m-t-10">Add
            First Project</button>
        </div>
      </div>
    </div>
  </ng-template>
</section>