<!-- <fix-header></fix-header> -->

<div class="page-start-point mt-5 p-rem-t-15" *ngIf="rfqDetails">
  <div class="create-po-dashboard p-b-20 min-height parent">
    <div class="row m-b-10">
      <div class="col-md-12">
        <!-- first row -->
        <div class="row p-t-20">
          <div class="col-xs-6 col-md-4" [ngClass]="isMobile ? 'fontsize-14-px' : ''">
            <div class="p-t-10">
              <label class="text-bold" [ngClass]="isMobile ? 'd-block mb-1' : ''">RFP Name: </label>
              {{ rfqDetails.rfqName }}
            </div>
          </div>
          <div class="col-xs-6 col-md-4 p-t-10 text-left" [ngClass]="isMobile ? 'fontsize-14-px' : ''">
            <label class="text-bold" [ngClass]="isMobile ? 'd-block mb-1' : ''">RFP End Date: </label>
            {{ rfqDetails.dueDate | date: "dd-MMM-yyy" }}
          </div>
          <div
            class="col-xs-12 p-l-0 p-t-10 p-b-25 text-right"
            [ngClass]="isMobile ? 'mt-2' : ''"
            *ngIf="rfqDetails.rfqCurrency != null && rfqDetails.rfqCurrency.exchangeCurrencyName != null"
          >
            <span class="base-currency p-l-5 p-r-5 p-t-10 p-b-10">
              <span class="font-size-vary-grn color-grey">
                <img width="25px" *ngIf="rfqDetails.rfqCurrency.exchangeCurrencyFlag" [src]="rfqDetails.rfqCurrency.exchangeCurrencyFlag" />
                {{ rfqDetails.rfqCurrency.exchangeCurrencyName }}
              </span>
              <span class="p-l-5"> = </span>
              <span class="p-l-5 color-6d6a6a color-grey"> {{ rfqDetails.rfqCurrency.exchangeValue }} </span>
              <span class="p-l-5 color-grey">
                <img width="25px" *ngIf="rfqDetails.rfqCurrency.primaryCurrencyFlag" [src]="rfqDetails.rfqCurrency.primaryCurrencyFlag" />
                {{ rfqDetails.rfqCurrency.primaryCurrencyName }}
              </span>
            </span>
            <div class="display-inline-block p-l-5">
              <span *ngIf="rfqDetails.rfqCurrency != null && rfqDetails.rfqCurrency.exchangeCurrencyName != null" class="p-l-5 info-icon info-tootip"
                ><img src="./../../../../assets/images/i_icon.png" class="img-responsive" />
                <span class="info-tootip__content rt-0">
                  <div class="tooltip-table ml-0" [ngClass]="isMobile ? 'mr-2 p-10 fontsize-14-px' : ''">
                    <div class="row text-center color-grey text-semi-bold p-l-5 p-r-5">Supplier will have to submit the quote in this selected currency</div>
                  </div>
                </span>
              </span>
            </div>
          </div>

          <!-- <div class="col-md-3 p-t-10 main-color">
                        <button mat-button class="pull-right fontsize-14-px"
                            (click)="openDialog1(rfqDetails.documentsList, rfqDetails.terms)">
                            View Terms & Conditions/Documents
                        </button>
                    </div> -->
        </div>

        <!-- second row -->
        <div class="row m-b-10">
          <div class="supplier-list-rfq-view col-md-3 main-flex" *ngFor="let supplier of rfqDetails.supplierDetails; let i = index">
            <mat-card class="w-100">
              <div class="col-md-12 text-bold supplier-company">
                <label for="company " class="word-break-all">{{ supplier.supplier_name }}</label>
              </div>

              <span class="d-block supplier-rates ml-1">
                <view-rating [supplierId]="supplier.supplierId" [ratings]="supplier.supplier_rating"></view-rating>
              </span>

              <div class="col-md-12">
                <label for="email" class="word-break-all">{{ supplier.email }}</label>
              </div>
              <div class="col-md-12">
                <label for="phoneNumber" class="word-break-all"> {{ supplier.countryCallingCode }}-{{ supplier.contact_no }} </label>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>

    <mat-card class="m-b-10 p-b-10" *ngIf="this.rfqDetails.terms"
      >Payment Terms:
      <span classs="p-l-15">
        {{ this.rfqDetails.terms.termsDesc.trim() === "Others" ? this.rfqDetails.terms.otherDesc : this.rfqDetails.terms.termsDesc }}
      </span>
    </mat-card>

    <!-- Each Project's Accordion/ Collapsible -->
    <ng-template ngFor let-project [ngForOf]="rfqDetails.rfqProjectsList" let-i="index">
      <mat-accordion class="d-block mb-3">
        <mat-expansion-panel class="myPanel display-project-accordion" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ project.projectName }}
              <div class="main-color p-l-15 font-size-vary-grn">
                {{ project.defaultAddress.addressLine1 }}
                {{ project.defaultAddress.addressLine2 }}
                {{ project.defaultAddress.city }}
                {{ project.defaultAddress.state }}
                {{ project.defaultAddress.pinCode }}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- table -->
          <div class="add-unique-container mat-elevation-z8">
            <table mat-table [dataSource]="project.projectMaterialList" class="rfq-view-step">
              <!-- Material Name Column -->
              <ng-container matColumnDef="Material Name">
                <th class="fontsize-14-px" mat-header-cell *matHeaderCellDef>Material Name</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.materialName }}
                </td>
              </ng-container>

              <!-- Date Column -->
              <ng-container matColumnDef="Required Date">
                <th class="fontsize-14-px" mat-header-cell *matHeaderCellDef>Required Date</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.fullfilmentDate | date: "dd-MMM-yyy" }}
                </td>
              </ng-container>

              <!-- Quantity Column -->
              <ng-container matColumnDef="Quantity">
                <th class="fontsize-14-px" mat-header-cell *matHeaderCellDef class="text-align-center w-15">Quantity</th>
                <td mat-cell *matCellDef="let element" class="text-align-center w-15">
                  {{ element.rfqMaterialQty }}<span class="p-l-5">{{ element.materialUnit }}</span>
                </td>
              </ng-container>

              <!-- Makes Column -->
              <ng-container matColumnDef="Makes">
                <th class="fontsize-14-px" mat-header-cell *matHeaderCellDef>Makes</th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.makes.length">
                    <span class="brand-view-style m-r-5" *ngFor="let make of element.makes">
                      {{ make }}
                    </span>
                  </ng-container>
                </td>
              </ng-container>

              <!-- View image Column -->
              <ng-container matColumnDef="Attached Images">
                <th mat-header-cell *matHeaderCellDef class="text-align-center justify-center minwidth-110-px">Attached Images</th>

                <td class="text-align-center rfq-view-image-lists" mat-cell *matCellDef="let element">
                  <div
                    *ngIf="element?.documentList?.length"
                    class="images-lists"
                    (click)="viewAllImages(element.materialId)"
                    [ngClass]="element?.documentList?.length === 1 ? 'single-image' : element?.documentList?.length === 2 ? 'double-images' : 'triple-images'"
                  >
                    <ng-container *ngFor="let img of element.documentList; let i = index">
                      <img [src]="img.documentThumbnailUrl" alt="project{{ i }}" class="img-fluid attached-image" *ngIf="i < 3" />
                    </ng-container>
                  </div>

                  <ng-container *ngIf="!element?.documentList">
                    <img src="assets/images/project-default-image.png" alt="default-material" class="img-fluid default-image" />
                  </ng-container>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-template>
  </div>
</div>
