<form *ngIf="selectedCategory.length && quantityForms" [formGroup]="quantityForms">
  <ng-container formArrayName="forms">
    <span *ngFor="let category of selectedCategory; let c = index">
      <ng-container [formGroupName]="c">
        <mat-accordion *ngIf="category.materialList && category.materialList.length" class="bom-my-materials-lists">
          <div #myele *ngIf="!isSearching ? true : !category.allNull">

            <mat-expansion-panel class="m-b-5 m-t-5 bom-qty-page border-radius-panel mat-expansion-panel-header-wrapper"
              [expanded]="true">

              <mat-expansion-panel-header class="mat-elevation-z8">
                <mat-panel-title>{{ category.groupName }}</mat-panel-title>
              </mat-expansion-panel-header>

              <div class="bom-my-material-container mat-elevation-z8" style="overflow-x: auto; width: 100%;">
                <table class="bom-select-material-table w-100">
                  <tr matSort class="mat-elevation-z2 mat-header-row background-color-skyblue">
                    <th class="mat-header-cell material-category">Material Name</th>
                    <th class="mat-header-cell material-trade">Trade</th>
                    <th class="mat-header-cell material-unit-col">Unit</th>
                    <th class="mat-header-cell material-estimatedQty">
                      Estimated <br />Quantity
                    </th>
                    <th class="mat-header-cell text-right estimated-rate-column-header">
                      Estimated Rate
                      <span class="display-block">({{ currencyCode }})</span>
                    </th>
                  </tr>

                  <ng-container formArrayName="materialGroup">
                    <tr class="mat-row bom-materials-row"
                      *ngFor="let subcategory of category.materialList; let sc = index" [formGroupName]="sc">
                      <ng-container *ngIf="!subcategory.isNull">
                        <td class="mat-cell material-category">
                          <span class="limitcharacter-myMaterialName"
                            matTooltip="{{ subcategory.materialName }}">{{ subcategory.materialName }}</span>
                        </td>

                        <td class="mat-cell bom-selected-trades">
                          <span class="text-semi-bold">{{ subcategory.tradeName }}</span>
                        </td>

                        <td class="mat-cell bom-materials-unit-column">
                          <span *ngIf="
                              (subcategory.requestedQuantity === 0 || subcategory.requestedQuantity === null) &&
                                (subcategory.issueToProject === 0 || subcategory.issueToProject === null);
                              else elseBlock
                            ">
                            <mat-form-field
                              class="border-select shortWidth mat-form-field-padding mat-form-field-flex-mm-padding">
                              <mat-select formControlName="materialUnit" placeholder="Unit">
                                <div class="display-flex">
                                  <input class="p-l-10 p-b-5" matInput type="search" placeholder="Search Unit"
                                    [(ngModel)]="searchUnit" [ngModelOptions]="{standalone: true}"
                                    (keydown)="$event.stopPropagation()" />
                                  <button mat-button mat-icon-button>
                                    <mat-icon>search</mat-icon>
                                  </button>
                                </div>
                                <mat-option *ngFor="let unit of materialUnit | SearchPipe: searchUnit" [value]="unit">
                                  <span>
                                    {{ unit }}
                                  </span>
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </span>
                          <ng-template #elseBlock>
                            <div class="p-r-35 p-t-10">
                              {{ subcategory.materialUnit }}
                            </div>
                          </ng-template>
                        </td>

                        <td class="mat-cell bom-materials-qty-column">
                          <mat-form-field class="border-input widthZero mat-form-field-padding bom-same-width-col">
                            <input formControlName="estimatedQty" appTwoDigitDecimaNumber matInput type="text"
                              class="p-b-5 shortWidth" placeholder="Enter Quantity" />
                          </mat-form-field>
                        </td>

                        <td class="mat-cell text-right estimated-rate-column">
                          <span class="bom-estimated-rate-col">
                            <mat-form-field class="border-input widthZero mat-form-field-padding bom-same-width-col">
                              <input formControlName="estimatedRate" appTwoDigitDecimaNumber matInput type="text"
                                class="p-b-5 shortWidth" placeholder="Enter Rate" />
                            </mat-form-field>
                          </span>
                        </td>

                        <ng-container *ngIf="subcategory.Specs">
                          <div class="row background-color-bom-sub-sub-category p-0"
                            *ngFor="let material of subcategory.Specs">
                            <div class="col-xs-6">
                              <span class="pull-left p-l-60 p-t-20">{{ material.label }}</span>
                            </div>
                            <div class="col-xs-6">
                              <span class="pull-right p-r-40">
                                <mat-form-field class="border-input widthZero">
                                  <input matInput class="p-b-5 shortWidth" type="number" min="0"
                                    placeholder="Enter Quantity"
                                    onkeypress="return event.charCode >= 48 && event.charCode <= 57" />
                                  <span class="p-b-15 p-l-5">{{ subcategory.materialUnit }}</span>
                                </mat-form-field>
                              </span>
                            </div>
                          </div>
                        </ng-container>

                      </ng-container>

                    </tr>
                  </ng-container>
                </table>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </ng-container>
    </span>
  </ng-container>
</form>