<section class="search-block">
  <div class="s-head border-bottom">
    <h4>Advance Search</h4>
    <span class="brand-color" (click)="clearFilter()">Clear</span>
  </div>

  <mat-accordion class="example-headers-align" multi>
    <!-- project names for po, rfq -->
    <ng-container *ngIf="filterType === 'rfq' || filterType === 'po'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Project Name
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="d-block border-bottom-dark">
            <mat-label>Select Projects</mat-label>
            <mat-select multiple (openedChange)="projectInput.focus()" #projectsSelect>
              <div class="d-flex">
                <input
                  class="pl-3"
                  #projectInput
                  matInput
                  focused="'true'"
                  type="text"
                  (input)="search($event.target.value, 'projects')"
                  autocomplete="off"
                  placeholder="search"
                  (keydown)="$event.stopPropagation()"
                />
                <button mat-button matSuffix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </div>
              <mat-divider></mat-divider>
              <mat-option *ngFor="let project of projectsList" [value]="project" (click)="searchValue(project, 'projects')">
                {{ project.projectName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container *ngIf="projectsSelect.selected">
            <ul class="selected-list">
              <li *ngFor="let option of projectsSelect.selected" class="d-flex justify-content-between">
                {{ getValueWithMaxWidth({fval: option.value.projectName}) }}
                <span class="font-size20">
                  <mat-icon (click)="removeId(option.value.projectId, 'projects'); searchValue(option.value, 'projects')" inline="true">close </mat-icon>
                </span>
              </li>
            </ul>
          </ng-container>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- supplier name -->
    <ng-container *ngIf="filterType === 'rfq' || filterType === 'po'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Supplier Name
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="d-block border-bottom-dark">
            <mat-label>Select Suppliers</mat-label>
            <mat-select multiple (openedChange)="supplierInput.focus()" #suppliersSelect>
              <div class="d-flex">
                <input
                  class="pl-3"
                  #supplierInput
                  matInput
                  focused="'true'"
                  type="text"
                  (input)="search($event.target.value, 'suppliers')"
                  autocomplete="off"
                  placeholder="search"
                  (keydown)="$event.stopPropagation()"
                />
                <button mat-button matSuffix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </div>
              <mat-divider></mat-divider>
              <mat-option *ngFor="let project of suppliersList" [value]="project" (click)="searchValue(project, 'suppliers')">
                {{ project.supplier_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container *ngIf="suppliersSelect.selected">
            <ul class="selected-list">
              <li *ngFor="let option of suppliersSelect.selected" class="d-flex justify-content-between">
                {{ getValueWithMaxWidth({fval: option.value.supplier_name}) }}
                <span class="font-size20">
                  <mat-icon (click)="removeId(option.value.supplierId, 'suppliers'); searchValue(option.value, 'suppliers')" inline="true">close </mat-icon>
                </span>
              </li>
            </ul>
          </ng-container>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- material name -->
    <div class="border-bottom">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Material Name
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field class="d-block border-bottom-dark">
          <mat-label>Select Materials</mat-label>
          <mat-select multiple (openedChange)="materialInput.focus()" #materialsSelect>
            <div class="d-flex">
              <input
                class="pl-3"
                #materialInput
                matInput
                focused="'true'"
                type="text"
                (input)="search($event.target.value, 'materials')"
                autocomplete="off"
                placeholder="search"
                (keydown)="$event.stopPropagation()"
              />
              <button mat-button matSuffix mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
            </div>
            <mat-divider></mat-divider>
            <mat-option *ngFor="let project of materialsList" [value]="project" (click)="searchValue(project, 'materials')">
              {{ project.materialName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <ng-container *ngIf="materialsSelect.selected">
          <ul class="selected-list">
            <li *ngFor="let option of materialsSelect.selected" class="d-flex justify-content-between">
              {{ getValueWithMaxWidth({fval: option.value.materialName}) }}
              <span class="font-size20">
                <mat-icon (click)="removeId(option.value.materialCode, 'materials'); searchValue(option.value, 'materials')" inline="true">close </mat-icon>
              </span>
            </li>
          </ul>
        </ng-container>
      </mat-expansion-panel>
    </div>

    <!-- indent status for indent -->
    <ng-container *ngIf="filterType === 'indent'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Request Status
            </mat-panel-title>
          </mat-expansion-panel-header>

          <section class="example-section pb-2">
            <mat-checkbox class="example-margin d-block" #indentOpen> Open</mat-checkbox>
            <mat-checkbox class="example-margin d-block" #indentClosed> Closed</mat-checkbox>
          </section>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- rfq status for rfq -->
    <ng-container *ngIf="filterType === 'rfq'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              RFP Status
            </mat-panel-title>
          </mat-expansion-panel-header>

          <section class="example-section pb-2">
            <mat-checkbox class="example-margin d-block" (change)="checkSubmitNotSubmit(bidSubmitted, notSubmitted)" #bidSubmitted> Bid Submitted</mat-checkbox>
            <mat-checkbox class="example-margin d-block" (change)="checkSubmitNotSubmit(bidSubmitted, notSubmitted)" #notSubmitted> Not Submitted</mat-checkbox>
          </section>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- raised by for rfq, indent -->
    <ng-container *ngIf="filterType === 'rfq' || filterType === 'indent'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Raised By
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="d-block border-bottom-dark">
            <mat-label>Select Users</mat-label>
            <mat-select multiple (openedChange)="usersInput.focus()" #usersSelect>
              <div class="d-flex">
                <input
                  class="pl-3"
                  #usersInput
                  matInput
                  focused="'true'"
                  type="text"
                  (input)="search($event.target.value, 'users')"
                  autocomplete="off"
                  placeholder="search"
                  (keydown)="$event.stopPropagation()"
                />
                <button mat-button matSuffix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </div>
              <mat-divider></mat-divider>
              <mat-option *ngFor="let project of usersList" [value]="project" (click)="searchValue(project, 'users')">
                {{ project.ProjectUser.firstName }} {{ project.ProjectUser.lastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container *ngIf="usersSelect.selected">
            <ul class="selected-list">
              <li *ngFor="let option of usersSelect.selected" class="d-flex justify-content-between">
                {{ getValueWithMaxWidth({fval: option.value.ProjectUser.firstName, sval: option.value.ProjectUser.lastName}) }}
                <span class="font-size20">
                  <mat-icon (click)="removeId(option.value.ProjectUser.userId, 'users'); searchValue(option.value, 'users')" inline="true">close </mat-icon>
                </span>
              </li>
            </ul>
          </ng-container>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- approved by for po -->
    <ng-container *ngIf="filterType === 'po'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Approved By
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="d-block border-bottom-dark">
            <mat-label>Select Users</mat-label>
            <mat-select multiple (openedChange)="approversInput.focus()" #approversSelect>
              <div class="d-flex">
                <input
                  class="pl-3"
                  #approversInput
                  matInput
                  focused="'true'"
                  type="text"
                  (input)="search($event.target.value, 'approvers')"
                  autocomplete="off"
                  placeholder="search"
                  (keydown)="$event.stopPropagation()"
                />
                <button mat-button matSuffix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </div>
              <mat-divider></mat-divider>
              <mat-option *ngFor="let project of approversList" [value]="project" (click)="searchValue(project, 'approvers')">
                {{ project.ProjectUser.firstName }} {{ project.ProjectUser.lastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container *ngIf="approversSelect.selected">
            <ul class="selected-list">
              <li *ngFor="let option of approversSelect.selected" class="d-flex justify-content-between">
                {{ getValueWithMaxWidth({fval: option.value.ProjectUser.firstName, sval: option.value.ProjectUser.lastName}) }}
                <span class="font-size20">
                  <mat-icon (click)="removeId(option.value.ProjectUser.userId, 'approvers'); searchValue(option.value, 'approvers')" inline="true">close </mat-icon>
                </span>
              </li>
            </ul>
          </ng-container>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- created by for po -->
    <ng-container *ngIf="filterType === 'po'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Created By
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="d-block border-bottom-dark">
            <mat-label>Select Users</mat-label>
            <mat-select multiple (openedChange)="createdInput.focus()" #createdSelect>
              <div class="d-flex">
                <input
                  class="pl-3"
                  #createdInput
                  matInput
                  focused="'true'"
                  type="text"
                  (input)="search($event.target.value, 'created')"
                  autocomplete="off"
                  placeholder="search"
                  (keydown)="$event.stopPropagation()"
                />
                <button mat-button matSuffix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </div>
              <mat-divider></mat-divider>
              <mat-option *ngFor="let project of createdList" [value]="project" (click)="searchValue(project, 'created')">
                {{ project.ProjectUser.firstName }} {{ project.ProjectUser.lastName }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <ng-container *ngIf="createdSelect.selected">
            <ul class="selected-list">
              <li *ngFor="let option of createdSelect.selected" class="d-flex justify-content-between">
                {{ getValueWithMaxWidth({fval: option.value.ProjectUser.firstName, sval: option.value.ProjectUser.lastName}) }}
                <span class="font-size20">
                  <mat-icon (click)="removeId(option.value.ProjectUser.userId, 'created'); searchValue(option.value, 'created')" inline="true">close </mat-icon>
                </span>
              </li>
            </ul>
          </ng-container>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- payment status for po -->
    <!-- <ng-container *ngIf="filterType === 'po'">
        <div class="border-bottom">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Payment Status
                    </mat-panel-title>
                </mat-expansion-panel-header>

            </mat-expansion-panel>
        </div>
    </ng-container> -->

    <!-- po amount for po -->
    <ng-container *ngIf="filterType === 'po'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              PO Amount
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field class="w-100 border-input">
            <mat-label>Min Amount</mat-label>
            <input matInput type="number" min="0" (input)="checkAmount($event, maxAmt, '0')" autocomplete="off" #minAmt />
          </mat-form-field>

          <mat-form-field class="w-100 border-input">
            <mat-label>Max Amount</mat-label>
            <input matInput type="number" (input)="checkAmount($event, minAmt, '1')" autocomplete="off" min="0" #maxAmt />
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- raised date for po, rfq -->
    <div class="border-bottom">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Raised Date
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>From</mat-label>
          <input
            matInput
            [max]="raisedMaxDate"
            [matDatepicker]="raisedFromPicker"
            (dateChange)="getDate($event, 'raisedFromPicker'); checkToDate($event, raisedToPicker, 'raised')"
          />
          <mat-datepicker-toggle matSuffix [for]="raisedFromPicker"></mat-datepicker-toggle>
          <mat-datepicker #raisedFromPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>To</mat-label>
          <input
            matInput
            [min]="raisedMinDate"
            [matDatepicker]="raisedToPicker"
            (dateChange)="getDate($event, 'raisedToPicker'); checkFromDate($event, raisedFromPicker, 'raised')"
          />
          <mat-datepicker-toggle matSuffix [for]="raisedToPicker"></mat-datepicker-toggle>
          <mat-datepicker #raisedToPicker></mat-datepicker>
        </mat-form-field>
      </mat-expansion-panel>
    </div>

    <!-- expiry date for rfq -->
    <ng-container *ngIf="filterType === 'rfq'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Expiry Date
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>From</mat-label>
            <input
              matInput
              [max]="expiryMaxDate"
              [matDatepicker]="expiryFromPicker"
              (dateChange)="getDate($event, 'expiryFromPicker'); checkToDate($event, expiryToPicker, 'expiry')"
            />
            <mat-datepicker-toggle matSuffix [for]="expiryFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #expiryFromPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>To</mat-label>
            <input
              matInput
              [min]="expiryMinDate"
              [matDatepicker]="expiryToPicker"
              (dateChange)="getDate($event, 'expiryToPicker'); checkFromDate($event, expiryFromPicker, 'expiry')"
            />
            <mat-datepicker-toggle matSuffix [for]="expiryToPicker"></mat-datepicker-toggle>
            <mat-datepicker #expiryToPicker></mat-datepicker>
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- required date for indent -->
    <ng-container *ngIf="filterType === 'indent'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Required Date
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>From</mat-label>
            <input
              matInput
              [max]="requiredMaxDate"
              [matDatepicker]="requestedFromPicker"
              (dateChange)="getDate($event, 'requestedFromPicker'); checkToDate($event, requestedToPicker, 'required')"
            />
            <mat-datepicker-toggle matSuffix [for]="requestedFromPicker"></mat-datepicker-toggle>
            <mat-datepicker #requestedFromPicker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label>To</mat-label>
            <input
              matInput
              [min]="requiredMinDate"
              [matDatepicker]="requestedToPicker"
              (dateChange)="getDate($event, 'requestedToPicker'); checkFromDate($event, requestedFromPicker, 'required')"
            />
            <mat-datepicker-toggle matSuffix [for]="requestedToPicker"></mat-datepicker-toggle>
            <mat-datepicker #requestedToPicker></mat-datepicker>
          </mat-form-field>
        </mat-expansion-panel>
      </div>
    </ng-container>

    <!-- po status for rfq -->
    <ng-container *ngIf="filterType === 'po'">
      <div class="border-bottom">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              PO Status
            </mat-panel-title>
          </mat-expansion-panel-header>

          <section class="example-section pb-2">
            <mat-checkbox class="example-margin d-block" #po1> Sent for Approval</mat-checkbox>
            <mat-checkbox class="example-margin d-block" #po2> Approved</mat-checkbox>
            <mat-checkbox class="example-margin d-block" #po3> Drafted</mat-checkbox>
          </section>
        </mat-expansion-panel>
      </div>
    </ng-container>
  </mat-accordion>

  <div class="actions text-align-center p-10 justify-content-between">
    <button mat-button class="bordered-button mr-2" (click)="getFilterExportRequest()">
      Export
    </button>
    <button mat-button mat-button-base class="main-background-color color-white demo-title" (click)="getFilterRequest()">
      Apply
    </button>
  </div>
</section>
