<section class="search-block">
  <div class="s-head border-bottom">
    <h4>{{ config.title }}</h4>
    <span class="brand-color" (click)="clearFilter()">Clear</span>
  </div>

  <div class="ml-2 mr-2">
    <ng-container *ngIf="config?.options">
      <ng-container *ngFor="let searchOpt of config.options">

        <adv-search-item *ngIf="searchOpt.type === 'MULTI_SELECT_SEARCH'" [config]="{
          title:searchOpt.name,
          placeholder:'Search',
          list:searchOpt.data
        }" (selectionUpdate)="advSelectionUpdate($event, searchOpt.key, '0')"></adv-search-item>

        <adv-select-item *ngIf="searchOpt.type === 'MULTI_SELECT'" [config]="{
          title:searchOpt.name,
          list:searchOpt.data
        }" (selectionUpdate)="advSelectionUpdate($event, searchOpt.key, '1')"></adv-select-item>

        <adv-date-item *ngIf="searchOpt.type === 'DATE'" [config]="{
          title:searchOpt.name,
          list:searchOpt.data
        }" (selectionUpdate)="advSelectionUpdate($event, searchOpt.key, '2')"></adv-date-item>

        <adv-input-number-item *ngIf="searchOpt.type === 'INPUT_NUMBER'" [config]="{
          title:searchOpt.name,
          list:searchOpt.data
        }" (selectionUpdate)="advSelectionUpdate($event, searchOpt.key, '3')"></adv-input-number-item>

      </ng-container>
    </ng-container>
  </div>


  <div class="actions text-align-center p-10 justify-content-between">
    <button mat-button class="bordered-button mr-2" (click)="export()">
      Export
    </button>
    <button mat-button mat-button-base class="main-background-color color-white demo-title" (click)="submit()">
      Apply
    </button>
  </div>
</section>