<!-- <fix-header></fix-header> -->
<div *ngIf="rfqSupplierDetailList">
  <div class="p-l-20 p-r-20 p-b-20 min-height parent">
    <div class="row width-100">
      <div class="col-md-12">
        <div class="row p-b-10">

          <div class="col-md-5 col-xs-12 p-t-10">
            
            <label for="validity" class="pull-left p-t-20 p-r-10">Quote Valid till</label>
            
            <mat-form-field class="border-input">
              
              <input matInput (dateChange)="duedatefunc($event)" [matDatepicker]="dueDate"
                placeholder="Quote Valid till" [(ngModel)]="rfqSupplierDetailList.dueDate" [min]="minDate" required />
              
              <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>

              <mat-datepicker #dueDate (change)="valueChange(rfqSupplierDetailList)"></mat-datepicker>
              <!-- startView="month" [startAt]="dueDate" -->
            </mat-form-field>
            
          </div>

          <div class="col-md-5 col-xs-8 p-t-10">
            <label for="bidCompletion" class="pull-left p-t-20 p-r-10">Bid Completion:</label>
            <span class="pull-left text-semi-bold m-t-20">{{brandCount}}/{{materialCount}}</span>
          </div>

          <div class="col-md-2 col-xs-4 p-t-20">
            <button mat-raised-button [disabled]="!submitButtonValidationFlag"
              class="main-background-color main-button color-white pull-right"
              (click)="postRFQDetailSupplier(rfqSupplierDetailList)">
              Next
            </button>
          </div>
        </div>


        <div style="width:100%;overflow-x:scroll">
          <table class="table rfq-bids-table" *ngFor="let projects of rfqSupplierDetailList.projectList">

            <!-- Project Name Header -->
            <tr class="blue-background-color color-white">
              <th class="font-size18">{{projects.projectName}}
              </th>

              <th class="font-size14" colspan="2">
                {{projects.addressLine1}},{{projects.city}},{{projects.state}}
              </th>

              <th class="white-radiobutton">
                <mat-radio-group aria-label="Select GST" class="pull-right" [(ngModel)]="projects.gst"
                  (change)="radioChange($event,projects)">
                  <mat-radio-button class="p-r-20" value="IGST">IGST</mat-radio-button>
                  <mat-radio-button value="CGST-SGST">CGST & SGST</mat-radio-button>
                </mat-radio-group>
              </th>
            </tr>

            <!-- Material Info -->
            <ng-container *ngFor="let material of projects.materialList">
              <tr matSort class="material-rfq-supplies">
                <td class="font-size14">{{material.materialName}}</td>
                <td class="font-size14" colspan="2">Requested Quantity: {{material.materialQuantity}}
                  {{material.materialUnit}}
                </td>
                <td>
                  <mat-form-field class="border-input">
                    <input matInput type="number" placeholder="GST %" [(ngModel)]="material.materialIgst"
                      (change)="valueChange(rfqSupplierDetailList)" />
                    <mat-error>GST is Required</mat-error>
                  </mat-form-field>
                </td>
              </tr>

              <!-- Brand Header -->
              <ng-container>
                <tr matSort class="brand-name-rfq-supplies">
                  <td class="font-size14">Brand Name</td>
                  <td class="font-size14">Rate</td>
                  <td class="font-size14">Total Amount (Rs)</td>
                  <td class="font-size14">GST Amount (Rs)</td>
                </tr>

                <!-- Brand-wise details -->
                <tr class="table-white-background-color" *ngFor="let brand of material.rfqBrandList">
                  
                  <td>{{brand.brandName}}</td>
                  
                  <td>
                    <mat-form-field class="border-input">
                      <input matInput type="number" placeholder="Rate" [(ngModel)]="brand.brandRate"
                        (change)="valueChange(rfqSupplierDetailList)" />
                      <mat-error>Project Name is Required</mat-error>
                    </mat-form-field>
                  </td>
                  
                  <td class="text-align-right">{{brand.brandRate * material.materialQuantity}}</td>
                  
                  <td class="text-align-right">
                    <span *ngIf="!brand.brandRate">0</span>
                    <span
                      *ngIf="brand.brandRate">{{((material.materialIgst/100)*(brand.brandRate * material.materialQuantity))}}</span>
                  </td>
                </tr>
              </ng-container>
            </ng-container>

          </table>

        </div>

      </div>
    </div>

  </div>
</div>