<div *ngIf="issueToIndentDetails && issueToIndentDetails.indentDetailList">
  <div mat-dialog-title>
    <div class="row">
      <div class="col-xs-3">
        {{issueToIndentDetails.materialName}}
      </div>
      <div class="col-xs-4">
        Available in Stock: {{ issueToIndentDetails.availableStock}} {{issueToIndentDetails.materialUnit}}
      </div>
    </div>
  </div>

  <div mat-dialog-content class="p-l-10 p-r-10">
    <div class="row">
      <div class="col-xs-12">
        <div class="row p-t-10 p-b-10 gray-border">
          <div class="col-xs-3"></div>
          <div class="col-xs-2">Required Quantity</div>
          <div class="col-xs-2">Required Date</div>
          <div class="col-xs-2">Issued Quantity</div>
          <div class="col-xs-3">To be Issued</div>
        </div>
        <form [formGroup]="materialForms " (ngSubmit)="onSubmit()">
          <div formArrayName="forms" class="row p-t-10 p-b-10 gray-border" *ngFor="let indent of issueToIndentDetails.indentDetailList; let i = index; ">
            <div class="col-xs-3 formGroup">
              <div>
                {{indent.indentId}}
              </div>
            </div>
            <div class="col-xs-2 formGroup">
              <div>
                {{indent.quantity}}
              </div>
            </div>
            <div class="col-xs-2 formGroup">
              <div>
                {{indent.dueDate|date: "dd-MMM-yyy"}}
              </div>
            </div>
            <div class="col-xs-2 formGroup">
              <div class="issue-qty-div">
                <div>
                  {{indent.issuedQty}}
                </div>

                <div class="show-detail-qty" *ngIf="indent.IssuedQuantityList">
                  <img src="../../../../assets/images/i_icon.png" />
                  <div id="detail-qty">
                    <div class="row">
                      <div class="col-sm-6">
                        <span>Issued Date</span>
                        <ng-container *ngFor="let date of indent.IssuedQuantityList">
                          <span
                            ><br />
                            {{date.issuedDate| date: "dd-MMM-yyy"}}
                          </span>
                        </ng-container>
                      </div>
                      <div class="col-sm-6">
                        <span>Issued Quantity</span>
                        <ng-container *ngFor="let date of indent.IssuedQuantityList">
                          <span
                            ><br />
                            {{date.issuedQty}}
                          </span>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-xs-3 formGroup">
              <mat-form-field class="col-xs-12 border-input" [formGroupName]="i">
                <input formControlName="issuedQty" matInput type="number" placeholder="Issue Quantity" />
              </mat-form-field>
              <span>{{indent.unit}}</span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div mat-dialog-actions class="parent">
    <div class="center-element">
      <button mat-raised-button class="main-background-color main-button color-white m-b-5" (click)="showIndent()">
        Save
      </button>
    </div>
  </div>
</div>
<div *ngIf="issueToIndentDetails && (!issueToIndentDetails.indentDetailList)">
  <div mat-dialog-title>
    <div class="col-xs-12 no-indent-list">
      No Indent List Available for this {{issueToIndentDetails.materialName}}
    </div>
  </div>
</div>
