// Basic color css
$main-color: #f47721;
$blue-color: #192135;
$white-color: #ffffff;
$icon-color-gray: #b8b8b8;
$plain-grey: #808080;
$black-color: #000000;
$alert-color: #ff5353;
$background-color-grey: #979797;
$background-color-light-grey: #b8b8b8;
$background-table-color-grey: #ececec;
$green-color: #7ed321;
$skyblue-color: #2197bb;
$light-grey: #707070;
$dark-blue: #0c3d56;
.ink-color {
  color: $dark-blue;
}

.navy-blue-color {
  color: #193764;
}

.off-white-background {
  background-color: #f1f1f1;
}

a:hover {
  color: $main-color !important;
  text-decoration: none;
}

.light-grey {
  color: $light-grey !important;
}

.backgound-none {
  background: none;
}
.backgound-none-important {
  background: none !important;
}

.warning-color {
  color: $alert-color;
}

.background-color-grey {
  background-color: $background-color-grey;
}
.background-color-light-grey {
  background-color: $background-color-light-grey;
}

.background-color-skyblue {
  background-color: $skyblue-color;
}

.background-white-color {
  background-color: $white-color;
}

.full-border.mat-form-field.mat-focused input {
  border: 2px solid $main-color;
}

.full-border-main {
  border: 2px solid $main-color;
}

.full-border.mat-form-field input {
  border: 2px solid $icon-color-gray;
}

.color-white {
  color: $white-color !important;
}

.color-black {
  color: $black-color !important;
}

.color-grey {
  color: $plain-grey;
}

.main-color {
  color: $main-color !important;
}
.main-color-faded {
  color: $main-color !important;
  opacity: 0.6;
}

.main-background-color {
  background-color: $main-color;
}

.max-height-300 {
  max-height: 300px;
}
.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.border-bottom-grey {
  border-bottom: 1px solid #d8d8d8;
}

.blue-color {
  color: $blue-color;
}

.blue-background-color {
  background-color: $blue-color;
}

.gray-color {
  color: $icon-color-gray;
}

.table-gray-background-color {
  background-color: $background-table-color-grey;
}

button:focus {
  outline: 0px;
  outline: 0px;
}
@media only screen and (min-width: 958px) {
  .page-start-point {
    // padding-top: 140px !important;
    height: 100%;
    overflow-x: hidden;
  }
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.overflow-remove .mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}

input {
  // background: $white-color;
  padding: 10px;
  border-radius: 5px;
}

.display-flex-important {
  display: flex !important;
}

.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon {
  font-size: 30px !important;
  color: $icon-color-gray;
  line-height: 0.5;
}

.mat-raised-button[disabled][disabled] {
  background-color: $main-color !important;
  opacity: 0.7;
  color: $white-color;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  padding: 5px 8px 8px 0px;
}

.mat-form-field-infix {
  border-top: 0em solid transparent;
}

// .mat-form-field-appearance-legacy .mat-form-field-wrapper{
//     padding-bottom: 0px;
// }

.main-button.mat-button-base {
  border: 2px solid $main-color !important;
  min-width: 120px;
  border-radius: 25px;
  padding: 0px 18px;
  font-weight: 600;
  height: 40px;
}
@media only screen and (max-width: 576px) {
  .main-button.mat-button-base {
    border: 2px solid $main-color !important;
    min-width: 95px;
    border-radius: 25px;
    padding: 0px 12px;
    font-weight: 500;
    max-height: 40px;
  }
}
.text-bold {
  font-weight: 800;
}

.text-semi-bold {
  font-weight: 500;
}
.text-very-light {
  font-weight: 300;
}
.text-size-light {
  font-weight: 400;
}

.font-size14 {
  font-size: 14px;
}
.font-size9 {
  font-size: 9px;
}
.font-size10 {
  font-size: 10px;
}
.font-size11 {
  font-size: 11px;
}
.font-size12 {
  font-size: 12px;
}

.font-size20 {
  font-size: 20px;
}

.font-size18 {
  font-size: 18px;
}
.font-size16 {
  font-size: 16px;
}

.width35Percent {
  width: 35%;
}

.width17Percent {
  width: 17%;
}

.width55Percent {
  width: 50%;
}

.width50Percent {
  width: 50%;
}
.width70Percent {
  width: 70%;
}
.width78Percent {
  width: 78%;
}

.width80Percent {
  width: 80%;
}

.height12Percent {
  height: 12%;
}

.max-width-128 {
  max-width: 128px;
}
.min-width-128 {
  min-width: 128px;
}

.brand-view-style {
  background-color: $background-table-color-grey;
  border-radius: 10px;
  padding: 7px;
  margin: 5px 5px;
  font-size: 12px;
}

.border-input input,
.border-input select,
.border-select .mat-form-field-flex {
  border-bottom: 2px solid $icon-color-gray;
  border-radius: 0px;
  padding: 5px 5px 5px 0px;
}

.border-input.mat-form-field.mat-focused input,
.border-select.mat-form-field.mat-focused .mat-form-field-flex {
  border-bottom: 2px solid $main-color;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: $main-color;
}

.border-input mat-datepicker-toggle .mat-button-wrapper {
  float: left;
  padding-left: 15px;
}

.min-height {
  min-height: calc(100vh - 140px);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $black-color !important;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: $green-color !important;
}

.parent {
  position: relative;
}

a:hover {
  color: transparent;
  text-decoration: none;
}

.box-shadow:hover mat-card {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  -o-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.mat-table thead {
  background-color: $skyblue-color;
  color: $white-color;
}

.mat-header-cell {
  color: $white-color !important;
}

.dropdown-padding.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 15px !important;
  padding-bottom: 0px !important;
}
.add-grn-popup.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 0px !important;
}

@media only screen and (max-width: 576px) {
  .add-grn-responsive-div {
    position: relative;
    width: 110%;
    left: -5%;
  }
}
.color-6d6a6a {
  color: #6d6a6a !important;
}
.text-decoration-underline {
  text-decoration: underline !important;
}
.padd-box-none {
  padding: 0 !important;
  box-shadow: none !important;
  .upload-documents-mat-header {
    padding: 0px !important;
    overflow-x: hidden;
  }
}
.add-grn-responsive-div {
  max-height: 270px;
  overflow-y: auto;
  .add-edit-grn-popup-accordian.mat-accordion {
    .mat-expansion-panel-header {
      min-height: 72px;
      background: #f3f3f3;
    }

    .mat-form-field {
      text-align: left;
      position: absolute;
      top: 12%;
      left: 0%;
    }
    .mat-form-field-infix {
      display: block;
      position: relative;
      flex: auto;
      min-width: 0;
      width: 112px;
      font-size: 12px;
    }
    .myPanel .mat-expansion-panel-body {
      background: #fafafa;
    }
    .mat-expansion-panel-header {
      padding: 0 5px;
    }
  }
}

@media only screen and (min-width: 576px) {
  .add-grn-responsive-div {
    max-height: 220px;
    overflow-y: auto;
    .add-edit-grn-popup-accordian.mat-accordion {
      .mat-expansion-panel-header {
        min-height: 72px;
        background: #f3f3f3;
      }

      .mat-form-field {
        text-align: left;
        position: absolute;
        top: 12%;
        left: 12%;
        width: 100%;
      }
      .mat-form-field-infix {
        font-size: 14px;
      }
    }
  }
}

.input-search-padding-zero.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 0px !important;
}

.accordion-padding-zero .mat-expansion-panel-body {
  padding: 0 0px 16px;
}

.right-pipe {
  border-right: 1px solid black;
}

.white-radiobutton .mat-radio-outer-circle {
  border-color: $white-color;
}

.white-radiobutton .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $main-color;
}

.black-border {
  border-bottom: 2px solid;
  position: relative;
  top: 45px;
}
.border-radius {
  border-radius: 10px !important;
}
.border-round {
  border-radius: 10px !important;
}

.border-radius-panel {
  border-radius: 7px 7px 0px 0px !important;
}
//Muskaan's edit
.round-button {
  border: none;
  border-radius: 50%;
  align-self: center;
}

.scroll-box {
  overflow: auto;
}

.grey-border {
  border-bottom: 2px solid $icon-color-gray;
}

.grey-full-border {
  border: 2px solid $icon-color-gray;
}

.h-290 {
  height: 290px;
}

.h-200 {
  height: 200px;
}

.grey-dotted-border {
  border: 2px dotted $icon-color-gray;
}

.myPanel .mat-expansion-panel-body {
  padding: 0;
}
// .myPanel{
//   box-shadow: none !important;
//   border-left: 1px solid rgba(0,0,0,.12);
//   border-right: 1px solid rgba(0,0,0,.12);
// }

.dark-gray-color {
  color: $background-color-grey;
}

.width100Percent {
  width: 100%;
}

.width103Percent {
  width: 103%;
}

.width96Percent {
  width: 96%;
}
.width40Percent {
  width: 40%;
}
.width50Percent {
  width: 50%;
}
.width94Percent {
  width: 94%;
}
.width98Percent {
  width: 98%;
}
.width80Percent {
  width: 80%;
}
.width60Percent {
  width: 60%;
}
.Width99Percent {
  width: 99%;
}
.margin-0-auto {
  margin: 0 auto;
}

.margin-auto {
  margin: auto;
}

.mat-form-field textarea,
.gray-border {
  border: 1px solid $icon-color-gray;
}

.drag-and-drop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.password-eye {
  float: left;
  position: absolute;
  right: 10px;
}

.icon-inverse {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.m-0-auto {
  margin: 0px auto;
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: #ffffff !important;
}

tr.mat-header-row {
  height: 45px;
}

tr.mat-footer-row,
tr.mat-row {
  height: 35px;
}
section.mat-header-row.blue-background-color-color-white-section {
  min-height: 45px;
}
mat-accordion {
  mat-expansion-panel-header {
    max-height: 38px;
  }
  .mat-row {
    max-height: 38px;
  }
}

.text-align-center {
  text-align: center !important;
}
.text-align-right {
  text-align: right !important;
}

// Custom Css for ScrollBar
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}
.cursor-pointer {
  cursor: pointer !important;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-15-px {
  img {
    width: 15px;
  }
}
.width-17-px {
  img {
    width: 17px;
  }
}

.width-22-px {
  img {
    width: 22px;
  }
}
// SnackBar Css
// .blue-snackbar {
//   background: $blue-color;
//   color: #ffffff;
//   .mat-simple-snackbar {
//     justify-content: center;
//   }
// }

.error-msg {
  color: red;
}
.success-msg {
  color: green;
}
.error-msg.sameStartEndDate {
  padding-left: 4px;
  color: red;
}

.justify-center {
  .mat-sort-header-container {
    justify-content: center;
  }
}

.mat-dialog-container {
  padding-top: 5px !important;
}

.font-size {
  font-size: 15px;
}

.mat-header-cell {
  background: #2197bb;
  font-size: 15px;
  font-weight: 450;
}
.mat-checkbox-inner-container {
  width: 19px !important;
  height: 19px !important;
}
.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

.fr-box.fr-basic .fr-element {
  //   line-height: 0.6 !important;
  min-height: 106px !important;
}
.float-right {
  float: right;
}
.color-main {
  color: #f4772a;
}
.font-bold {
  font-weight: 500;
}
.upload-template:hover {
  color: $main-color;
  cursor: pointer;
}

.signupForm-error-msg.green-colour {
  color: #569414;
}

.signupForm-error-msg.green-colour {
  color: #569414;
}
.material-info {
  padding-top: 8px;
  font-size: 16px;
}
.mat-horizontal-stepper-header-container {
  height: 54px !important;
}

.cursor-default {
  cursor: default !important ;
}

.mat-card-width {
  max-width: 127px;
}

.word-wrap {
  word-wrap: break-word;
}

.text-align-justify {
  text-align: justify !important;
}
.line-height-1 {
  line-height: 1;
}
.line-height-1-6 {
  line-height: 1.6;
}

.max-width-96 {
  max-width: 96px;
}
.word-break-word {
  word-break: break-word;
}
.word-break-all {
  word-break: break-all;
}
.margin-auto {
  margin: auto;
}

.button-display-none {
  background-color: transparent;
  border: none;
}
.max-width-of-select-address {
  max-width: 100%;
  white-space: pre-line;
}

.mat-calendar-controls {
  .mat-icon-button {
    width: 40px !important;
  }
}

.color-brand {
  color: #6b6969;
}

.angular-editor-textarea {
  background-color: #ffffff !important;
}

.material-info-padding.material-info {
  padding-top: 0px;
}

@media (max-width: 599px) {
  .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon {
    font-size: 20px !important;
  }
}
