// Basic color css
$main-color: #f47721;
$blue-color: #192135;
$white-color: #ffffff;
$icon-color-gray: #b8b8b8;
$plain-grey: #808080;
$black-color: #000000;
$alert-color: #ff5353;
$background-color-grey: #979797;
$background-color-light-grey: #b8b8b8;
$background-table-color-grey: #ececec;
$green-color: #7ed321;
$skyblue-color: #2197bb;
$light-grey: #707070;
$dark-blue: #0c3d56;
$modal-background-color: #e7e7e7;
/*******************************************Colors*******************************************/
.ink-color {
  color: $dark-blue;
}

.navy-blue-color {
  color: #193764;
}

.off-white-background {
  background-color: #f1f1f1;
}

a:hover {
  color: $main-color !important;
  text-decoration: none;
}

.modal-header-color {
  background-color: $modal-background-color;
}

.light-grey {
  color: $light-grey !important;
}

.warning-color {
  color: $alert-color;
}

.background-color-grey {
  background-color: $background-color-grey;
}
.background-color-light-grey {
  background-color: $background-color-light-grey;
}

.background-color-skyblue {
  background-color: $skyblue-color;
}

.background-white-color {
  background-color: $white-color;
}

.color-white {
  color: $white-color !important;
}

.color-black {
  color: $black-color !important;
}

.color-grey {
  color: $plain-grey;
}

.main-color {
  color: $main-color !important;
}
.main-color-faded {
  color: $main-color !important;
  opacity: 0.6;
}

.main-background-color {
  background-color: $main-color;
}

.blue-color {
  color: $blue-color;
}

.blue-background-color {
  background-color: $blue-color;
}

.gray-color {
  color: $icon-color-gray;
}

.table-gray-background-color {
  background-color: $background-table-color-grey;
}

.color-6d6a6a {
  color: #6d6a6a !important;
}

.grey-border {
  border-bottom: 2px solid $icon-color-gray;
}

.grey-full-border {
  border: 2px solid $icon-color-gray;
}

.color-main {
  color: #f4772a;
}

.signupForm-error-msg.green-colour {
  color: #569414;
}

.signupForm-error-msg.green-colour {
  color: #569414;
}

.color-brand {
  color: #6b6969;
}

.angular-editor-textarea {
  background-color: #ffffff !important;
}

.white-radiobutton .mat-radio-outer-circle {
  border-color: $white-color;
}

.white-radiobutton .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $main-color;
}

.grey-dotted-border {
  border: 2px dotted $icon-color-gray;
}
.dark-gray-color {
  color: $background-color-grey;
}

.mat-form-field textarea,
.gray-border {
  border: 1px solid $icon-color-gray;
}

.error-msg {
  color: red;
}
.success-msg {
  color: green;
}
.error-msg.sameStartEndDate {
  padding-left: 4px;
  color: red;
}

.black-border {
  border-bottom: 2px solid;
  position: relative;
  top: 45px;
}

.dark-blu-color-bg {
  background-color: #0c3c55;
}
.dark-blu-color {
  color: #0c3c55;
}
/*********************************************************************************/

.backgound-none {
  background: none !important;
}

.overflow-y-auto {
  overflow-y: auto;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}

.text-semi-bold {
  font-weight: 500 !important;
}

.background-modal-grey {
  background-color: $modal-background-color !important;
}

.text-very-light {
  font-weight: 300;
}
.text-size-light {
  font-weight: 400;
}
.text-decoration-underline {
  text-decoration: underline !important;
}

.text-align-center {
  text-align: center !important;
}
.text-align-right {
  text-align: right !important;
}

.text-bold {
  font-weight: 800 !important;
}

.margin-0-auto {
  margin: 0 auto;
}

.margin-auto {
  margin: auto;
}

button:focus {
  outline: 0px;
  outline: 0px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}

.overflow-remove .mat-tab-body-content {
  height: 100%;
  overflow: hidden;
}

input {
  padding: 10px;
  border-radius: 5px;
}

.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon {
  font-size: 30px !important;
  color: $icon-color-gray;
  line-height: 0.5;
}

.mat-raised-button[disabled][disabled] {
  background-color: $main-color !important;
  opacity: 0.7;
  color: $white-color;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  padding: 5px 8px 8px 0px;
}

.mat-form-field-infix {
  border-top: 0em solid transparent;
}

// .mat-form-field-appearance-legacy .mat-form-field-wrapper{
//     padding-bottom: 0px;
// }

.main-button.mat-button-base {
  border: 2px solid $main-color !important;
  min-width: 120px;
  border-radius: 25px;
  padding: 0px 18px;
  font-weight: 600;
  height: 40px;
}

.bs-button.mat-button-base {
  border: 2px solid $main-color !important;
  border-radius: 25px;
  padding: 0px 20px;
  font-weight: 600;
  height: 40px;
}

@media only screen and (max-width: 576px) {
  .main-button.mat-button-base {
    border: 2px solid $main-color !important;
    min-width: 95px;
    border-radius: 25px;
    padding: 0px 12px;
    font-weight: 500;
    max-height: 40px;
  }
}

.brand-view-style {
  background-color: $background-table-color-grey;
  border-radius: 10px;
  padding: 7px;
  margin: 5px 5px;
  font-size: 12px;
}

.border-input input,
.border-input select,
.border-select .mat-form-field-flex {
  border-bottom: 2px solid $icon-color-gray;
  border-radius: 0px;
  padding: 5px 5px 5px 0px;
}

.border-input.mat-form-field.mat-focused input,
.border-select.mat-form-field.mat-focused .mat-form-field-flex {
  border-bottom: 2px solid $main-color;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: $main-color;
}

.border-input mat-datepicker-toggle .mat-button-wrapper {
  float: left;
  padding-left: 15px;
}

.min-height {
  min-height: calc(100vh - 140px);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $black-color !important;
}

.mat-primary .mat-pseudo-checkbox-checked,
.mat-primary .mat-pseudo-checkbox-indeterminate {
  background: $green-color !important;
}

.parent {
  position: relative;
}

a:hover {
  color: transparent;
  text-decoration: none;
}

.box-shadow:hover mat-card {
  -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  -o-box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.mat-table thead {
  background-color: $skyblue-color;
  color: $white-color;
}

.mat-header-cell {
  color: $white-color !important;
}

.dropdown-padding.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 15px !important;
  padding-bottom: 0px !important;
}
.add-grn-popup.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 0px !important;
}

.padd-box-none {
  padding: 0 !important;
  box-shadow: none !important;
  .upload-documents-mat-header {
    padding: 0px !important;
    overflow-x: hidden;
  }
}

.input-search-padding-zero.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-top: 0px !important;
}

.accordion-padding-zero .mat-expansion-panel-body {
  padding: 0 0px 16px;
}

.right-pipe {
  border-right: 1px solid black;
}

//Muskaan's edit
.round-button {
  border: none;
  border-radius: 50%;
  align-self: center;
}

.scroll-box {
  overflow: auto;
}

.myPanel .mat-expansion-panel-body {
  padding: 0;
}

.drag-and-drop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.icon-inverse {
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.m-0-auto {
  margin: 0px auto;
}

// .mat-expansion-panel-header.mat-expanded:focus,
// .mat-expansion-panel-header.mat-expanded:hover {
//   background: #ffffff !important;
// }

// Custom Css for ScrollBar
/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}
.cursor-pointer {
  cursor: pointer !important;
}

.width-15-px {
  img {
    width: 15px;
  }
}
.width-17-px {
  img {
    width: 17px;
  }
}

.width-22-px {
  img {
    width: 22px;
  }
}
// SnackBar Css
// .blue-snackbar {
//   background: $blue-color;
//   color: #ffffff;
//   .mat-simple-snackbar {
//     justify-content: center;
//   }
// }

.justify-center {
  .mat-sort-header-container {
    justify-content: center;
  }
}

.mat-dialog-container {
  padding-top: 5px !important;
}

.mat-header-cell {
  background: #2197bb;
  font-size: 15px;
  font-weight: 450;
}

.mat-checkbox-inner-container {
  width: 19px !important;
  height: 19px !important;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

.fr-box.fr-basic .fr-element {
  min-height: 106px !important;
}
.float-right {
  float: right;
}

.font-bold {
  font-weight: 500;
}
.upload-template:hover {
  color: $main-color;
  cursor: pointer;
}

.material-info {
  padding-top: 8px;
  font-size: 16px;
}
.mat-horizontal-stepper-header-container {
  height: 54px !important;
}

.cursor-default {
  cursor: default !important ;
}

.mat-card-width {
  max-width: 127px;
}

.word-wrap {
  word-wrap: break-word;
}

.line-height-1 {
  line-height: 1;
}
.line-height-1-6 {
  line-height: 1.6;
}

.word-break-word {
  word-break: break-word;
}
.word-break-all {
  word-break: break-all;
}
.margin-auto {
  margin: auto;
}

.button-display-none {
  background-color: transparent;
  border: none;
}
.max-width-of-select-address {
  max-width: 100%;
  white-space: pre-line;
}

.mat-calendar-controls {
  .mat-icon-button {
    width: 40px !important;
  }
}

.material-info-padding.material-info {
  padding-top: 0px;
}

.inpt-0 {
  .mat-form-field-wrapper {
    padding-top: 0 !important;
  }
}

.min-w-120px {
  min-width: 120px;
}

@media (max-width: 599px) {
  .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button .mat-icon {
    font-size: 20px !important;
  }
}

@media only screen and (min-width: 958px) {
  .page-start-point {
    height: 100%;
    overflow-x: hidden;
  }
}
