<div class="page-start-point">
  <div class="p-l-20 p-r-20 p-b-20 min-height parent">
    <mat-accordion>
      <div *ngFor="let PO of POStatus; let i = index">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ POStatus[i] }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <table
              mat-table
              [dataSource]="dataSource"
              class="mat-elevation-z8 col-sm-12"
            >
              <ng-container matColumnDef="PO Name">
                <th mat-header-cell *matHeaderCellDef>PO Name</th>
                <td mat-cell *matCellDef="let element">{{ element.POName }}</td>
              </ng-container>

              <ng-container matColumnDef="Raised Date">
                <th mat-header-cell *matHeaderCellDef>Raised Date"</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.createdAt }}
                </td>
              </ng-container>

              <ng-container matColumnDef="Total Material">
                <th mat-header-cell *matHeaderCellDef>Total Material</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.totalMaterial }}
                </td>
              </ng-container>

              <ng-container matColumnDef="PO Amount">
                <th mat-header-cell *matHeaderCellDef>PO Amount</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.POAmount }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>
</div>
