<div class="page-start-point">
  <div class="p-l-20 p-r-20 p-b-20 min-height parent">
    <div class="row p-t-15 p-b-10">
      <div class="col-xs-2">
        <a href="javascript:void(0)" (click)="setButtonName('projectMaterials')">
          <button [class.active]="buttonName == 'projectMaterials'" class="color-black" mat-button>
            Project & Material
          </button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href="javascript:void(0)" (click)="setButtonName('addQueryMakes')">
          <button [class.active]="buttonName == 'addQueryMakes'" class="color-black" mat-button>
            Add Quantity & Makes
          </button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href="javascript:void(0)" (click)="setButtonName('selectSupplier')">
          <button [class.active]="buttonName == 'selectSupplier'" class="color-black" mat-button>
            Select Supplier
          </button>
        </a>
      </div>
      <div class="col-xs-2">
        <a href="javascript:void(0)" (click)="setButtonName('uploadDocuments')">
          <button [class.active]="buttonName == 'uploadDocuments'" class="color-black" mat-button>
            Upload Documents & Terms
          </button>
        </a>
      </div>
      <div class="col-xs-2">
        <mat-form-field class="input-search-padding-zero pull-right">
          <input matInput placeholder="Search Projects" type="search" [(ngModel)]="searchText" />
          <button mat-button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="text-right col-xs-2">
        <button mat-raised-button (click)="raiseIndent()" class="main-background-color main-button color-white">
          Next
        </button>
      </div>
    </div>
    <div class="row p-b-10">
      <div class="col-sm-12">
        <button [disabled]="!projects.value.length" mat-raised-button (click)="setSelectedProjectList()"
          class="main-background-color main-button color-white pull-right m-t-15">
          Add
        </button>
        <mat-form-field class="border-select pull-right m-r-25">
          <mat-select [formControl]="projects" [(ngModel)]="selectedProjects" multiple>
            <div class="display-flex">
              <input class="p-l-10 p-b-5" matInput type="search" placeholder="Search project Name"
                [(ngModel)]="searchText" />
              <button mat-button matSuffix mat-icon-button>
                <mat-icon>search</mat-icon>
              </button>
            </div>
            <mat-option *ngFor="
                let project of allProjects
                  | SearchPipe: searchText:'projectName'
              " [value]="project">{{ project.projectName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="rfq-detail-body">
      <!-- table structure -->

      <ng-template ngFor let-material [ngForOf]="rfqDetails" let-i="index">
        <mat-expansion-panel class="myPanel" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{material.projectName}}
              <a href="javascript:void(0)" class="main-color p-l-15">{{material.defaultAddress.addressLine1}}</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="material.projectMaterialList" class="mat-elevation-z8 col-sm-12">
            <ng-container matColumnDef="Material Name">
              <th mat-header-cell *matHeaderCellDef>Material Name</th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox (change)="element.checked = !element.checked" [checked]="element.checked">
                  {{ element.materialName }} <br>
                  <span class="category-name">
                    {{ element.materialGroup}}
                  </span>
                </mat-checkbox>
              </td>
            </ng-container>


            <ng-container matColumnDef="Required Date">
              <th mat-header-cell *matHeaderCellDef>Required Date</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ element.dueDate }}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="Requested Quantity">
              <th mat-header-cell *matHeaderCellDef class="text-align-center">Requested Quantity</th>
              <td mat-cell *matCellDef="let element" class="text-align-center">
                {{ element.requestedQty }}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="Estimated Quantity">
              <th mat-header-cell *matHeaderCellDef class="text-align-center">Estimated Quantity</th>
              <td mat-cell *matCellDef="let element" class="text-align-center">
                {{ element.estimatedQty }}
              </td>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <!-- end table part -->
        </mat-expansion-panel>
        <br>
      </ng-template>

      <!-- end table structure -->
    </div>

    <!-- end fix part -->
  </div>
</div>