<div class="sideNavigation" fxShow="true" fxShow.gt-xs="true" fxShow.sm="false" fxShow.xs="false">
  <span class="material-icons mat-arrow-icon cursor" (click)="collapseSideMenu()"
    [ngClass]="{'no-collapsed': !isCollapseMenu, collapsed: isCollapseMenu}">
    {{ !isCollapseMenu ? "keyboard_arrow_left" : "keyboard_arrow_right" }}
  </span>
  <!-- <div class="sidenav sidebar-navigation" *ngIf="role" [ngClass]="!isCollapseMenu ? 'f-w' : 'c-w'" (mouseover)="showOnHover()" (mouseout)="hideOnHover()"> -->
  <div class="sidenav sidebar-navigation" *ngIf="role" [ngClass]="!isCollapseMenu ? 'f-w' : 'c-w'">

    <ng-container *ngIf="data && data.moduleList">
      <ng-container *ngFor="let item of data.moduleList">
        <a class="sidenav-btns" href="javascript:void(0)" [routerLink]="'/' + item.modulePath"
          (click)="isCollapseMenu = true">
          <button [class.active]="buttonName === item.moduleName" class="header-links" mat-button>
            <img src="../../../assets/images/sidenav_{{ item.moduleIcon }}" class="ml-1 mr-3" />
            <span>{{ item.moduleName }}</span>
          </button>
        </a>
      </ng-container>
    </ng-container>
  </div>
</div>