<!-- <mat-sidenav #sidenav> -->
<mat-nav-list>
  <!-- <ng-container *ngFor="let selectedHeader of headerConst">
      <div [ngClass]="(buttonName && (buttonName === selectedHeader.name)) ? 'display-flex active' : 'display-flex'" >
         <a href="javascript:void(0)" *ngIf="selectedHeader.flag" mat-list-item (click)="redirect(selectedHeader.link)">
            <img [src]="selectedHeader.image" alt=""/>
           <span class="p-l-15">
             {{selectedHeader.name}}
           </span> 
        </a>
      </div>
    </ng-container> -->
  <ng-container *ngIf="data && data.moduleList">
    <ng-container *ngFor="let item of data.moduleList">
      <div class="sidenav-btns display-flex"
        [ngClass]="(buttonName && (buttonName === item.modulePath)) ? 'active' : '' ">
        <a href="javascript:void(0)" mat-list-item (click)="redirect(item.modulePath)">
          <img src="../../../assets/images/sidenav_{{ item.moduleIcon }}" alt="" />
          <span class="p-l-15">
            {{item.moduleName}}
          </span>
        </a>
      </div>
    </ng-container>
  </ng-container>

  <!-- <ng-container *ngIf="isPlanAvailable === 1 && accountOwner === 1">
    <div class="display-flex" [ngClass]="(buttonName && (buttonName === 'My Plans')) ? 'active' : '' ">
      <a href="javascript:void(0)" mat-list-item (click)="goToMyPlans()">
        <img src="../../../assets/images/sidenav_payment.svg" alt="" />
        <span class="p-l-15">
          My Plan / Upgrade
        </span>
      </a>
    </div>
  </ng-container> -->

  <div class="display-flex">
    <a href="javascript:void(0)" mat-list-item (click)="logout()">
      <img src="../../../assets/images/logout-hamburger.svg" alt="" />
      <span class="p-l-15">
        Logout
      </span>
    </a>
  </div>
</mat-nav-list>