<div class="header-add-edit-dialog">
  <h1 mat-dialog-title>Unsubscribe Plan</h1>
  <button type="button" class="close" (click)="closeDialog()" aria-label="Close">
    <mat-icon>clear</mat-icon>
  </button>
</div>

<div class="p-rem-t-3 p-rem-b-3 redirections text-align-center">
  <h2 class="font-size-26px mb-3">Do you Really Wish to Unsubscribe This Plan?</h2>

  <div class="shadow-tag p-rem-l-1.5 p-rem-r-1.5 p-t-1-rem p-b-1-rem" [ngClass]="isMobile ? 'w-100' : 'w-75'">
    We don't want to see you go
    <br />
    we promise security of your data until next payment
    <span class="d-block mt-2 mb-2"></span>
    <span class="d-block" [ngClass]="isMobile ? 'ml-1 mr-1' : 'ml-5 mr-5'">Regarding payment related terms</span>
  </div>

  <div [ngClass]="isMobile ? 'mt-4' : 'mt-5'">
    <button mat-button class="brand-bg-color p-rem-l-3 p-rem-r-3 fontsize-18-px p-rem-r-0.50 p-rem-r-0.50" (click)="cancelSubscription()">Unsubscribe</button>
  </div>
</div>
