<div class="page-start-point p-rem-t-40">
  <div *ngIf="!poApprovalDetailsTemp && !poDraftedDetailsTemp && !acceptedRejectedPOListTemp && poCount === 0">
    <div class="p-l-20 p-r-20 p-b-20 min-height parent wrapper-btn-center">
      <div class="add-user-img">
        <img src="../../../../assets/images/po-background.png" alt="BuildSupply_Logo" />
        <div>
          <p>
            You haven't created any purchase order yet. <br />
            Please create one to continue.
          </p>
        </div>

        <button
          mat-raised-button
          [routerLink]="['./initiate-po']"
          class="main-background-color main-button color-white"
          matTooltip="Issue P.O. to supplier without Request For Quotations"
        >
          Create P.O.
        </button>
      </div>
    </div>
  </div>

  <div class="p-b-20 min-height parent create-po-dashboard po-details" *ngIf="poApprovalDetailsTemp || poDraftedDetailsTemp || acceptedRejectedPOListTemp || poCount > 0">
    <div class="row" [ngClass]="isMobile ? 'ml-0' : ''">
      <div class="col-xs-6">
        <mat-form-field class="example-form-field border-input project" [ngClass]="isMobile ? 'w-100' : 'width-30'">
          <input matInput placeholder="Search PO" type="search" (keyup)="applyFilter($event.target.value)" />
          <button mat-button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="text-right col-xs-6 create-po-btn p-t-10" [ngClass]="isMobile ? 'sm-btn1 d-flex justify-content-flex-end p-r-15' : ''">
        <ng-container *ngIf="isMobile">
          <button mat-button class="fltr-btn brand-color" (click)="openFilter()">
            <mat-icon inline="true">filter_list</mat-icon>
          </button>
        </ng-container>

        <button
          mat-raised-button
          class="main-background-color main-button color-white demo-title"
          [routerLink]="['./initiate-po']"
          matTooltip="Issue P.O. to supplier without Request For Quotations"
        >
          Create P.O.
        </button>
      </div>
    </div>

    <div class="row po-detail-list">
      <ng-container *ngIf="!isMobile; else mobileSearch">
        <div class="col-md-2 align-top">
          <advance-search *ngIf="searchConfig" (submitExport)="applyExport($event)" (submitSearch)="applySearch($event)" [config]="searchConfig"> </advance-search>
        </div>
      </ng-container>

      <ng-template #mobileSearch>
        <div class="mb-srch" [ngClass]="isFilter ? 'mb-srch__open' : 'mb-srch__close'">
          <div class="sdb" (click)="closeFilter()"></div>
          <advance-search class="mb-cl" *ngIf="searchConfig" (submitExport)="applyExport($event)" (submitSearch)="applySearch($event)" [config]="searchConfig"></advance-search>
        </div>
      </ng-template>

      <div class="col-md-10 text-right align-top">
        <!-- Topmost Status -->
        <!-- <mat-card class="m-t-40 m-b-20">
          <div class="row">
            <div class="right-pipe" style="width: 25%;">
              <span class="p-l-30 p-r-20 pull-left">23</span>
              <span class="pull-left">Approved PO</span>
            </div>
            <div class="right-pipe" style="width: 25%;">
              <span class="p-l-10 p-r-20 pull-left">23</span>
              <span class="pull-left">Total Project</span>
            </div>
            <div class="right-pipe" style="width: 25%;">
              <span class="p-l-10 p-r-20 pull-left">23</span>
              <span class="pull-left">Completed Indent</span>
            </div>
            <div style="width: 25%;">
              <span class="p-l-10 p-r-20 pull-left">23</span>
              <span class="pull-left">Ongoing Indent</span>
            </div>
          </div>
        </mat-card> -->

        <!-- Accordion for PO Lists -->
        <div class="po-list-detail-custom">
          <!-- <div *ngIf="poApprovalDetailsTemp">
            <mat-expansion-panel class="myPanel m-b-10" [expanded]="true">
              <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
                <mat-panel-title>
                  P.O. For Approval
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row matCellAlignLeft">
                <table mat-table [dataSource]="poApprovalDetails" class="mat-elevation-z8 col-sm-12 po-custom-mat-width">
                  <ng-container matColumnDef="PO Number">
                    <th mat-header-cell class="text-align-center" *matHeaderCellDef>PO Number</th>
                    <td mat-cell class="text-align-center" *matCellDef="let element">{{ element.poNumber }}</td>
                  </ng-container>
  
                  <ng-container matColumnDef="Raised Date">
                    <th mat-header-cell class="text-align-center" *matHeaderCellDef>Raised Date</th>
                    <td mat-cell class="text-align-center" *matCellDef="let element">
                      {{ element.poStatusChangedOn | date: "dd-MMM-yyy" }}
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="Supplier Name">
                    <th mat-header-cell class="text-align-center" *matHeaderCellDef>Supplier Name</th>
                    <td mat-cell class="text-align-center" *matCellDef="let element">
                      {{ element.supplierName }}
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="Total Material">
                    <th mat-header-cell class="text-align-center" *matHeaderCellDef>Total Material</th>
                    <td mat-cell class="text-align-center" *matCellDef="let element">
                      {{ element.totalMaterials }}
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="PO Amount">
                    <th mat-header-cell *matHeaderCellDef class="text-right">PO Amount ₹</th>
                    <td mat-cell class="text-right" *matCellDef="let element">
                      {{ element.poAmount | number: "1.2-2" }}
                    </td>
                  </ng-container>
  
                  <ng-container matColumnDef="Action">
                    <th mat-header-cell class="text-align-center" class="text-align-right" *matHeaderCellDef></th>
                    <td mat-cell class="text-align-center" *matCellDef="let element">
                      <span class="p-r-10">
                        <a href="javascript:void(0)" style="color: #f47721" [routerLink]="['../../po/po-generate/', element.purchaseOrderId, 'requiredApproval']">View P.O</a>
                      </span>
                      <span>&nbsp;</span>
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
              </div>
            </mat-expansion-panel>
          </div> -->

          <ng-container *ngIf="(poApprovalDetailsTemp && permissionObj.poApprovalFlag) || poDraftedDetailsTemp || acceptedRejectedPOListTemp; else emptyReports">
            <div *ngIf="poApprovalDetailsTemp && permissionObj.poApprovalFlag">
              <mat-expansion-panel class="myPanel mb-2" [expanded]="true">
                <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'" [ngClass]="isMobile ? 'p-rem-r-5 p-rem-r-5' : ''">
                  <mat-panel-title> P.O. For Approval </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="example-container mat-elevation-z8 po-for-approval">
                  <table mat-table [dataSource]="poApprovalDetails" #approvalPOSort="matSort" matSort>
                    <!-- PO Number Column -->
                    <ng-container matColumnDef="poNumber">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Number</th>
                      <td mat-cell *matCellDef="let element">{{ element.poNumber }}</td>
                    </ng-container>

                    <!-- Raised Date Column -->
                    <ng-container matColumnDef="poStatusChangedOn">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Raised Date</th>
                      <td mat-cell class="text-center" *matCellDef="let element">
                        {{ element.poStatusChangedOn | date: "dd-MMM-yyy" }}
                      </td>
                    </ng-container>

                    <!-- Supplier Name Column -->
                    <ng-container matColumnDef="supplierName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Supplier Name</th>
                      <td mat-cell class="text-center" *matCellDef="let element">
                        {{ element.supplierName }}
                      </td>
                    </ng-container>

                    <!-- Total Materials Column -->
                    <ng-container matColumnDef="totalMaterials">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Material</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.totalMaterials }}
                      </td>
                    </ng-container>

                    <!-- PO Amount Column -->
                    <ng-container matColumnDef="poAmount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">PO Amount</th>
                      <td mat-cell class="text-right" *matCellDef="let element">{{ element.poAmount | number: "1.2-2" }} {{ element.currencyCode }}</td>
                    </ng-container>

                    <!-- Action Buttons Column -->
                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef class="text-align-right"></th>
                      <td mat-cell class="actions-cell" *matCellDef="let element">
                        <span class="p-r-20">
                          <a href="javascript:void(0)" style="color: #f47721" [routerLink]="['./po-generate/', element.purchaseOrderId, 'requiredApproval']">View P.O</a>
                        </span>

                        <!-- <span>&nbsp;</span> -->
                        <span class="cursor-pointer"
                          ><a (click)="downloadPo(element.purchaseOrderId)" matTooltip="Download PO"> <img src="../../../../assets/images/download-po.png" /> </a
                        ></span>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                </div>
              </mat-expansion-panel>
            </div>

            <div *ngIf="poDraftedDetailsTemp">
              <mat-expansion-panel class="myPanel mb-2" [expanded]="true">
                <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'" [ngClass]="isMobile ? 'p-rem-r-5 p-rem-r-5' : ''">
                  <mat-panel-title> Drafted P.O. </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="example-container mat-elevation-z8 drafted-po">
                  <table mat-table [dataSource]="poDraftedDetails" #draftPOSort="matSort" matSort>
                    <ng-container matColumnDef="poNumber">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>PO Number</th>
                      <td mat-cell *matCellDef="let element">{{ element.poNumber }}</td>
                    </ng-container>

                    <ng-container matColumnDef="poStatusChangedOn">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Raised Date</th>
                      <td mat-cell class="text-center" *matCellDef="let element">
                        {{ element.poStatusChangedOn | date: "dd-MMM-yyy" }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="supplierName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Supplier Name</th>
                      <td mat-cell class="text-center" *matCellDef="let element">
                        {{ element.supplierName }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="totalMaterials">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Material</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.totalMaterials }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="poAmount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">PO Amount</th>
                      <td mat-cell class="text-right" *matCellDef="let element">{{ element.poAmount | number: "1.2-2" }} {{ element.currencyCode }}</td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                      <th mat-header-cell class="text-align-right" *matHeaderCellDef></th>
                      <td mat-cell class="text-align-center" *matCellDef="let element" class="actions-cell">
                        <span class="p-r-15">
                          <a href="javascript:void(0)" style="color: #f47721" [routerLink]="['./po-generate/', element.purchaseOrderId, 'edit']">Review Draft P.O.</a>
                        </span>
                        
                        <span class="p-r-15 cursor-pointer">
                          <a (click)="downloadPo(element.purchaseOrderId)" matTooltip="Download PO"> 
                            <img src="../../../../assets/images/download-po.png" />
                          </a>
                        </span>

                        <span class="cursor-pointer">
                          <a (click)="deleteDraftedPo(element)" matTooltip="Delete"> 
                            <img src="../../../../assets/images/delete-button.png" />
                          </a>
                        </span>
                        
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                </div>
              </mat-expansion-panel>
            </div>

            <div *ngIf="acceptedRejectedPOListTemp">
              <mat-expansion-panel class="myPanel mb-2" [expanded]="true">
                <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'" [ngClass]="isMobile ? 'p-rem-r-5 p-rem-r-5' : ''">
                  <mat-panel-title>
                    <div class="col-xs-5 text-left approved">Approved P.O.</div>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="example-container mat-elevation-z8 approved-po">
                  <table mat-table [dataSource]="acceptedRejectedPOList" #approvedPOSort="matSort" matSort>
                    <ng-container matColumnDef="poNumber">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>PO No.</th>
                      <td mat-cell *matCellDef="let element">{{ element.poNumber }}</td>
                    </ng-container>

                    <ng-container matColumnDef="poStatusChangedOn">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Raised Date</th>
                      <td mat-cell class="text-center" *matCellDef="let element">
                        {{ element.poStatusChangedOn | date: "dd-MMM-yyy" }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="supplierName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center">Supplier Name</th>
                      <td mat-cell class="text-center" *matCellDef="let element">
                        {{ element.supplierName }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="totalMaterials">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Material</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.totalMaterials }}
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="poAmount">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-right">PO Amount</th>
                      <td mat-cell *matCellDef="let element" class="text-right">{{ element.poAmount | number: "1.2-2" }} {{ element.currencyCode }}</td>
                    </ng-container>

                    <ng-container matColumnDef="Action">
                      <th mat-header-cell class="text-align-right" *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let element" class="actions-cell">
                        <span class="p-r-15 display-inline-block"
                          ><a href="javascript:void(0)" style="color: #f47721" [routerLink]="['./po-generate/', element.purchaseOrderId, 'view']">View P.O.</a></span
                        >

                        <span class="p-r-15 cursor-pointer display-inline-block"
                          ><a (click)="downloadPo(element.purchaseOrderId)" matTooltip="Download PO"> <img src="../../../../assets/images/download-po.png" /> </a
                        ></span>

                        <button mat-icon-button class="main-color" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" class="removePadding">
                          <button mat-menu-item class="border-solid height-36-px line-0-px" (click)="viewGrn(element.purchaseOrderId)" matTooltip="Add/View Receipts">
                            <span> Add/View Receipts</span>
                          </button>
                          <button mat-menu-item class="border-solid height-36-px line-0-px" (click)="openPaymentRecord(element)" matTooltip="Payment Record">
                            <span> Payment Record</span>
                          </button>
                          <button mat-menu-item class="height-36-px line-0-px" (click)="copyPo(element.purchaseOrderId)" matTooltip="Copy PO">
                            <span>Copy PO</span>
                          </button>
                        </mat-menu>

                        <!-- <span class="p-r-10"
                        ><a style="color: #f47721" href="javascript:void(0)" [routerLink]="['../../po/po-generate/', element.purchaseOrderId, 'view']">View P.O.</a></span
                      >
                      <span class="p-r-10"> <a style="color: #f47721" [routerLink]="['../../po/view-grn/', element.purchaseOrderId]">Add/View GRN</a></span> -->
                        <!-- <span><a style="color: #f47721" [routerLink]="['../../po/add-grn/',element.purchaseOrderId]">Add
                          GRN</a></span> -->
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                  </table>
                </div>
              </mat-expansion-panel>
            </div>
          </ng-container>

          <ng-template #emptyReports>
            <div class="d-block text-align-center mt-3">
              <img src="../../../../assets/images/empty-report.svg" alt="empty report" />
              <p class="font-weight-light m-0 p-t-1-rem"><strong class="font-weight500">Oops!</strong> You have nothing to see.</p>
              <p class="font-weight-light m-0 mt-1">Try Again !</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
