<div *ngIf="config?.list" class="multi-sarch-item">

    <form *ngIf="form" [formGroup]="form">
        <mat-form-field class="display-block border-bottom border-dark drp-inpt">
            <mat-label>{{ config.title }}</mat-label>
            <mat-select formControlName="selected" multiple
                (openedChange)="projectInput.focus(); this.form.get('searchInput').setValue('')"
                [compareWith]="compareValues">
                <div class="d-flex">
                    <input formControlName="searchInput" class="p-l-4" #projectInput matInput focused="'true'"
                        type="text" autocomplete="off" placeholder="search" (keydown)="$event.stopPropagation()" />
                    <button mat-button matSuffix mat-icon-button>
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
                <mat-divider></mat-divider>
                <mat-option *ngFor="let item of (filtered || config.list)" [value]="item"
                    (onSelectionChange)="getValueOnChangeOption($event)">
                    {{ item.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

</div>