<form *ngIf="checkedMaterialsList" [formGroup]="materialForms">
  <div class="row">
    <div class="col-xs-12 text-right p-b-10">
      <span class="p-r-5">
        <span (click)="selectCurrency()"
          class="text-decoration-underline main-color font-size-vary-grn p-r-10 text-semi-bold cursor-pointer">Select
          Currency</span>
        <button mat-raised-button matStepperPrevious class="main-background-color main-button color-white"
          (click)="sendDataBack()" type="button">Back</button>
      </span>
      <span>
        <button mat-raised-button [disabled]="!materialForms.valid" matStepperNext (click)="materialAdded()"
          class="main-background-color main-button color-white">
          Next
        </button>
      </span>
    </div>
    <div class="col-xs-12 p-t-10 p-b-20 text-right" *ngIf="poCurrency && poCurrency.exchangeCurrencyName != null">
      <span class="base-currency p-l-5 p-r-5 p-t-10 p-b-10" [ngClass]="isMobile ? 'font-size12 mcrncy' : '' ">
        <span class="font-size-vary-grn color-grey">
          <img width="25px" *ngIf="poCurrency.exchangeCurrencyFlag" [src]="poCurrency.exchangeCurrencyFlag" />
          {{ poCurrency.exchangeCurrencyName }}
        </span>
        <span class="p-l-5"> = </span>
        <span class="p-l-5 color-6d6a6a color-grey"> {{ poCurrency.exchangeValue }} </span>
        <span class="p-l-5 color-grey">
          <img width="25px" *ngIf="poCurrency.primaryCurrencyFlag" [src]="poCurrency.primaryCurrencyFlag" />
          {{ poCurrency.primaryCurrencyName }}
        </span>
      </span>
    </div>
  </div>
  <mat-accordion class="accordion-padding-zero" formArrayName="forms">
    <ng-template ngFor let-material [ngForOf]="checkedMaterialsList" let-mati="index">
      <mat-expansion-panel class="myPanel" [expanded]="true" [ngClass]="isMobile ? 'mt-2' : '' ">
        <mat-expansion-panel-header [ngClass]="isMobile ? 'font-size12 pt-4 pb-4' : '' ">
          <mat-panel-title>
            {{ material.projectName }}
            <!-- <a href="javascript:void(0)" class="main-color p-l-15"
              >{{ material.defaultAddress.addressLine1 }}, {{ material.defaultAddress.addressLine2 }}, {{ material.defaultAddress.city }}, {{ material.defaultAddress.state }},
              {{ material.defaultAddress.pinCode }}
            </a> -->
            <a href="javascript:void(0)" class="main-color p-l-15">
              {{ material.defaultAddress.addressLine1 }}
              <ng-container *ngIf="material.defaultAddress.addressLine2">, {{ material.defaultAddress.addressLine2 }}
              </ng-container>
              <ng-container *ngIf="material.defaultAddress.city">, {{ material.defaultAddress.city }}</ng-container>
              <ng-container *ngIf="material.defaultAddress.state">, {{ material.defaultAddress.state }}</ng-container>
              <ng-container *ngIf="material.defaultAddress.pinCode"> {{ material.defaultAddress.pinCode }}
              </ng-container>
            </a>
            <!-- <a href="javascript:void(0)" (click)="openDialog(material)"
                            class="main-color p-l-15">{{material.defaultAddress.addressLine1}}</a> -->
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="material.projectMaterialList" class="rfq-custom-mat-width">
            <ng-container matColumnDef="Material Name">
              <th mat-header-cell *matHeaderCellDef>Material Name</th>
              <td mat-cell *matCellDef="let element">
                <div class="limited-character global" matTooltip=" {{ element.materialName }}">
                  {{ element.materialName }} <br /></div>
              </td>
            </ng-container>

            <ng-container matColumnDef="Required Date">
              <th mat-header-cell *matHeaderCellDef>Required Date</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ element.dueDate | date: "dd-MMM-yyy" }}
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="Requested Qty">
              <th mat-header-cell class="text-center" *matHeaderCellDef>Requested Qty</th>
              <td mat-cell class="text-center" *matCellDef="let element">
                {{ element.requestedQty }} <span class="p-l-5">{{ element.materialUnit }}</span>
              </td>
            </ng-container>

            <!-- Name Column -->

            <ng-container matColumnDef="Fullfillment Date" class="date-dialog-add-edit">
              <th mat-header-cell *matHeaderCellDef class="fulfillment-date-col">Fullfillment Date</th>
              <td mat-cell *matCellDef="let element; let i = index" class="fulfillment-date-col">
                <mat-form-field class="border-input"
                  [formGroupName]="i + (mati ? checkedMaterialsList[mati].prevMatListLength : 0)">
                  <!-- <mat-label>Fullfil </mat-label> -->
                  <!-- <span class="form-placeholder">{{
                  materialForms["controls"]["forms"]["controls"][i + (mati ? checkedMaterialsList[mati].prevMatListLength : 0)]["controls"]["fullfilmentDate"].value
                    | date: "dd-MMM-yyy"
                }}</span> -->
                  <input matInput [matDatepicker]="dueDate" formControlName="fullfilmentDate" (click)="dueDate.open()"
                    readonly />
                  <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
                  <mat-datepicker #dueDate startView="month" [startAt]="dueDate"></mat-datepicker>
                </mat-form-field>
              </td>
            </ng-container>

            <ng-container matColumnDef="Estimated Qty">
              <th mat-header-cell class="text-center" *matHeaderCellDef>Estimated Qty</th>
              <td mat-cell class="text-center" *matCellDef="let element">
                {{ element.estimatedQty }} <span class="p-l-5">{{ element.materialUnit }}</span>
              </td>
            </ng-container>

            <!-- estimated rate -->
            <ng-container matColumnDef="Estimated Rate">
              <th mat-header-cell class="text-center" *matHeaderCellDef>Awarded Rate</th>
              <td mat-cell class="text-center" *matCellDef="let element; let i = index">
                <mat-form-field [formGroupName]="i + (mati ? checkedMaterialsList[mati].prevMatListLength : 0)"
                  class="border-input table-input">
                  <input matInput formControlName="materialUnitPrice" appTwoDigitDecimaNumber type="text"
                    placeholder="Awarded Rate" min="0" />
                  <small *ngIf="
                    materialForms['controls']['forms']['controls'][i + (mati ? checkedMaterialsList[mati].prevMatListLength : 0)]['controls']['materialUnitPrice'].hasError(
                      'pattern'
                    ) && materialForms['controls']['forms']['controls'][i + (mati ? checkedMaterialsList[mati].prevMatListLength : 0)]['controls']['materialUnitPrice'].touched
                  " class="error-msg">
                    Invalid awarded rate
                  </small>
                </mat-form-field>
              </td>
            </ng-container>
            <!-- quantity -->
            <ng-container matColumnDef="Quantity">
              <th mat-header-cell class="text-center" *matHeaderCellDef>Quantity</th>
              <td mat-cell class="text-center" *matCellDef="let element; let i = index">
                <mat-form-field [formGroupName]="i + (mati ? checkedMaterialsList[mati].prevMatListLength : 0)"
                  class="border-input table-input">
                  <input matInput formControlName="materialQty" type="text" placeholder="Quantity" min="0"
                    appTwoDigitDecimaNumber />
                </mat-form-field>
              </td>
            </ng-container>
            <!-- makes -->
            <ng-container matColumnDef="Makes">
              <th mat-header-cell *matHeaderCellDef>Makes</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <app-chip [chips]="element.makes"
                  (onUpdate)="makesUpdate($event, i + (mati ? checkedMaterialsList[mati].prevMatListLength : 0))">
                </app-chip>
                <!-- <button mat-button class="display-flex pull-right" (click)="deleteMaterial(i)">
                    <mat-icon class="main-color">delete_outline</mat-icon>
                </button> -->
              </td>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <!-- end table part -->
      </mat-expansion-panel>
    </ng-template>
  </mat-accordion>
</form>