<div class="col-md-3 border-input" *ngIf="this.newMaterialData && this.newMaterialData.length > 0">
  <mat-form-field class="example-form-field border-input">
    <input matInput placeholder="Search Material" type="search" [(ngModel)]="searchMaterial" />
    <button mat-button matSuffix mat-icon-button>
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</div>

<mat-accordion displayMode="flat" multi class="mat-table res-table" *ngIf="this.newMaterialData && this.newMaterialData.length > 0">
  <div class="res-td">
    <section matSort class="mat-elevation-z2 mat-header-row blue-background-color-color-white-section">
      <span class="mat-header-cell mat-header-cell maxwidth-20 material material-Name" mat-sort-header="name" [ngClass]="isMobile ? 'text-center p-rem-l-2 p-rem-r-2' : ''"
        >Material Name</span
      >
      <span class="mat-header-cell mat-header-cell maxwidth-20 material" mat-sort-header="estimatedQty" [ngClass]="isMobile ? 'text-center' : ''">Estimated Quantity</span>
      <span class="mat-header-cell mat-header-cell maxwidth-20 material" mat-sort-header="indentedQuantity" [ngClass]="isMobile ? 'text-center' : ''">Indented Quantity</span>
      <span class="mat-header-cell mat-header-cell maxwidth-20 material" mat-sort-header="requiredDate" [ngClass]="isMobile ? 'text-center' : ''">Required Date</span>
      <span class="mat-header-cell mat-header-cell maxwidth-20 material" mat-sort-header="deliveredQuantity" [ngClass]="isMobile ? 'text-center' : ''">Awarded Quantity</span>
      <span class="mat-header-cell mat-header-cell maxwidth-20 material" mat-sort-header="requestedQuantity" [ngClass]="isMobile ? 'text-center' : ''">Delivered Quantity</span>
      <span class="mat-header-cell mat-header-cell maxwidth-20 material" mat-sort-header="availableQuantity" [ngClass]="isMobile ? 'text-center' : ''">Available Stock</span>
    </section>
    <mat-expansion-panel *ngFor="let material of newMaterialData | SearchPipe: searchMaterial:['GlobalMaterial.materialName']" class="myPanel">
      <mat-expansion-panel-header class="mat-row material-row">
        <span class="mat-cell maxwidth-20" matTooltip="{{ material.GlobalMaterial.materialName }}">
          <div class="limited-character globalStore fr-row">
            {{ material.GlobalMaterial.materialName }}
          </div>
        </span>
        <span class="mat-cell maxwidth-20 text-center">
          <div class="row">
            <div class="col-xs-6 text-right p-r-0">
              <span class="p-r-5"> {{ material.GlobalMaterial.estimatedQty }}</span>
            </div>
            <div class="col-xs-6 text-left p-l-0">
              <span>{{ material.GlobalMaterial.materialUnit }}</span>
            </div>
          </div>
        </span>
        <span class="mat-cell maxwidth-20 text-center">
          <div class="row">
            <div class="col-xs-6 text-right p-r-0">
              <span class="p-r-5"> {{ material.GlobalMaterial.sum }}</span>
            </div>
            <div class="col-xs-6 text-left p-l-0">
              <span>{{ material.GlobalMaterial.materialUnit }}</span>
            </div>
          </div>
        </span>
        <span class="mat-cell maxwidth-20 text-center">{{ material.GlobalMaterial.nearDueDate | date: "dd MMM yyy" }}</span>
        <span class="mat-cell maxwidth-20 text-center">
          <div class="row">
            <div class="col-xs-6 text-right p-r-0">
              <span class="p-r-5">{{ material.GlobalMaterial.deliveredQty != null ? material.GlobalMaterial.deliveredQty : 0 }}</span>
            </div>
            <div class="col-xs-6 text-left p-l-0">
              <span>{{ material.GlobalMaterial.materialUnit }}</span>
            </div>
          </div>
        </span>
        <span class="mat-cell maxwidth-20 text-center">
          <div class="row">
            <div class="col-xs-6 text-right p-r-0">
              <span class="p-r-5">{{ material.GlobalMaterial.issuedQty != null ? material.GlobalMaterial.issuedQty : 0 }}</span>
            </div>
            <div class="col-xs-6 text-left p-l-0">
              <span>{{ material.GlobalMaterial.materialUnit }}</span>
            </div>
          </div>
        </span>
        <span class="mat-cell maxwidth-20 text-center">
          <div class="row">
            <div class="col-xs-6 text-right p-r-0">
              <span class="p-r-5">
                {{
                  material.GlobalMaterial.deliveredQty != null
                    ? material.GlobalMaterial.deliveredQty - (material.GlobalMaterial.issuedQty ? material.GlobalMaterial.issuedQty : 0)
                    : 0
                }}</span
              >
            </div>
            <div class="col-xs-6 text-left p-l-0">
              <span>{{ material.GlobalMaterial.materialUnit }}</span>
            </div>
          </div>
        </span>
      </mat-expansion-panel-header>
      <mat-expansion-panel *ngFor="let project of material.GlobalProject" class="myPanel">
        <mat-expansion-panel-header class="mat-row material-project">
          <span class="mat-cell maxwidth-20" matTooltip="{{ project.Projects.projectName }}">
            <div class="limited-character global fr-row">
              {{ project.Projects.projectName }}
            </div>
          </span>
          <span class="mat-cell maxwidth-20 text-center">
            <div class="row">
              <div class="col-xs-6 text-right p-r-0">
                <span class="p-r-5"> {{ project.ProjectEstimatedQnt }}</span>
              </div>
              <div class="col-xs-6 text-left p-l-0">
                <span>{{ material.GlobalMaterial.materialUnit }}</span>
              </div>
            </div>
          </span>
          <span class="mat-cell maxwidth-20 text-center">
            <div class="row">
              <div class="col-xs-6 text-right p-r-0">
                <span class="p-r-5"> {{ project.Projects.sum }}</span>
              </div>
              <div class="col-xs-6 text-left p-l-0">
                <span>{{ material.GlobalMaterial.materialUnit }}</span>
              </div>
            </div>
          </span>
          <span class="mat-cell maxwidth-20 text-center">{{ project.Projects.nearDueDate | date: "dd MMM yyy" }}</span>
          <span class="mat-cell maxwidth-20 text-center"></span>
          <span class="mat-cell maxwidth-20 text-center"></span>
          <span class="mat-cell maxwidth-20 text-center"></span>
        </mat-expansion-panel-header>
        <div *ngFor="let indentMaterial of project.Projects.indentMaterials">
          <mat-expansion-panel-header class="mat-row material-project-details">
            <span class="mat-cell maxwidth-20 text-center"></span>
            <span class="mat-cell maxwidth-20 text-center"></span>
            <span class="mat-cell maxwidth-20 text-center">
              <div class="row">
                <div class="col-xs-6 text-right p-r-0">
                  <span class="p-r-5"> {{ indentMaterial.quantity }}</span>
                </div>
                <div class="col-xs-6 text-left p-l-0">
                  <span>{{ material.GlobalMaterial.materialUnit }}</span>
                </div>
              </div>
            </span>
            <span class="mat-cell maxwidth-20 text-center">{{ indentMaterial.dueDate | date: "dd MMM yyy" }}</span>
            <span class="mat-cell maxwidth-20 text-center"></span>
            <span class="mat-cell maxwidth-20 text-center"></span>
            <span class="mat-cell maxwidth-20 text-center"></span>
          </mat-expansion-panel-header>
        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </div>
</mat-accordion>
