.mat-accordion .mat-header-row {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-bottom: none;
}

.mat-expansion-panel-header.mat-row {
  border-bottom: none;
}

.mat-table {
  display: block;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  box-sizing: border-box;
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  align-items: center;
  color: black !important;
}

.name-padding {
  flex: none;
}

.mat-header-cell {
  display: flex;
  justify-content: center;
}

.mat-header-cell.material-Name {
  justify-content: start;
}