<div class="row p-t-10 p-b-10">
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
    <button
      mat-raised-button
      class="main-background-color main-button color-white pull-right"
      (click)="saveCategory()"
    >
      SAVE
    </button>
  </div>
</div>
<mat-accordion>
  <div #myele *ngFor="let category of selectedCategory">
    <mat-expansion-panel class="m-b-5 m-t-5">
      <mat-expansion-panel-header class="background-color-grey row ">
        <div class="col-xs-6">
          <mat-panel-title class="pull-left">
            {{ category.label }}
          </mat-panel-title>
        </div>
        <div class="col-xs-6">
          <span class="pull-right">
            Estimated Quantity
          </span>
        </div>
      </mat-expansion-panel-header>
      <ng-container *ngIf="category.subcategory != null">
        <div class="row">
          <div class="col-xs-6">
            <span class="pull-left p-l-10 p-t-5">{{
              category.subcategory.label
            }}</span>
          </div>
          <div class="col-xs-6">
            <span class="pull-right"
              ><mat-form-field class="full-border widthZero">
                <input
                  matInput
                  class="p-b-5 shortWidth"
                  placeholder="eg. 1500"
                /><span class="p-b-15 p-l-5">MT</span>
              </mat-form-field>
            </span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="getMaterialLength(category)">
        <div class="row" *ngFor="let material of category.subcategory.material">
          <div class="col-xs-6">
            <span class="pull-left p-l-30 ">{{ material.label }}</span>
          </div>
          <div class="col-xs-6">
            <span class="pull-right"
              ><mat-form-field class="full-border widthZero">
                <input
                  matInput
                  class="p-b-5 shortWidth"
                  placeholder="eg. 1500"
                /><span class="p-b-15 p-l-5">MT</span>
              </mat-form-field>
            </span>
          </div>
        </div>
      </ng-container>
    </mat-expansion-panel>
  </div>
</mat-accordion>
