<div class="page-start-point changeWidth pt-4">
  <div *ngIf="!selectedCategory.length; else elseBlock" class="parent p-t-20 min-height">
    <div class="p-l-20 p-r-20 p-b-20 min-height parent wrapper-btn-center">
      <div class="add-user-img">
        <img src="../../../../assets/images/addMyMatrial.svg" alt="Project Logo" />
        <div>
          <p>
            There is no custom material added in the project. <br />
            Please add material either from below or BOM.
          </p>
        </div>
        <div>
          <button mat-raised-button class="main-background-color main-button color-white" (click)="openAddMaterial()">+Add Material</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div class="p-l-20 p-r-20 p-b-20 min-height">
      <div class="p-t-20">
        <mat-tab-group (selectedTabChange)="tabClick($event)">
          <mat-tab label="My Materials">
            <app-my-material-tab *ngIf="showMyMaterial" [selectedCategory]="selectedCategory"></app-my-material-tab>
          </mat-tab>
          <!-- <mat-tab label="Unapproved My Materials"><app-unapproved-material-tab *ngIf="showUnapprovedMaterial"></app-unapproved-material-tab></mat-tab> -->
        </mat-tab-group>
      </div>
    </div>
  </ng-template>
</div>
