<!-- <fix-header></fix-header> -->
<div>
  <div class="min-height parent">
    <div class="row submit-bid-row-add">
      <div class="submit-bid-div-add">
        <form *ngIf="form" [formGroup]="form">
          <!-- new structure -->
          <div class="col-sm-12 pl-4 pr-4">
            <div class="supplier-details-heading-add-address text-center">
              Supplier Details
            </div>
            <!-- first row -->
            <div class="row">
              <div class="col-sm-6">
                <!-- project Name -->
                <mat-form-field class="border-input w-100">
                  <input matInput type="text" placeholder="Contact Person" formControlName="supplierName" required />
                  <mat-error class="mat-error-add-edit-form-modal">Supplier Name is Required</mat-error>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <!-- address 1 -->
                <mat-form-field class="border-input w-100">
                  <input matInput type="number" placeholder="Phone No" formControlName="contactNo" required />
                  <!-- <mat-error class="mat-error-add-edit-form-modal">contactNo is Required</mat-error> -->
                  <small *ngIf="form.controls['contactNo'].hasError('required') && form.controls['contactNo'].touched"
                    class="form-error-msg"> Phone No is required </small>
                  <small *ngIf="form.controls['contactNo'].hasError('pattern') && form.controls['contactNo'].touched"
                    class="form-error-msg"> Enter Valid Phone No</small>
                </mat-form-field>
              </div>
            </div>

            <!-- third row -->
            <div class="row">
              <div class="col-sm-6">
                <!-- address 1 -->
                <mat-form-field class="border-input w-100">
                  <input matInput type="text" placeholder="Email Id" formControlName="email" required />
                  <!-- <mat-error class="mat-error-add-edit-form-modal">Email Id is Required</mat-error> -->
                  <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                    class="form-error-msg"> Email is required </small>
                  <small *ngIf="form.controls['email'].hasError('pattern') && form.controls['email'].touched"
                    class="form-error-msg"> Enter Valid Email</small>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <ng-container *ngIf="isInternational === 0; else noInt">
                  <mat-form-field class="border-input w-100">
                    <input matInput type="text" placeholder="GST No" formControlName="gstNo" required />
                    <!-- <mat-error class="mat-error-add-edit-form-modal">contactNo is Required</mat-error> -->
                    <small *ngIf="form.controls['gstNo'].hasError('required') && form.controls['gstNo'].touched"
                      class="form-error-msg"> GST No is required </small>
                    <small *ngIf="form.controls['gstNo'].hasError('pattern') && form.controls['gstNo'].touched"
                      class="form-error-msg"> Enter Valid GST No</small>
                  </mat-form-field>
                </ng-container>
                <ng-template #noInt>
                  <mat-form-field class="border-input w-100">
                    <input matInput type="text" placeholder="GST No" formControlName="gstNo" />
                    <small *ngIf="form.controls['gstNo'].hasError('pattern') && form.controls['gstNo'].touched"
                      class="form-error-msg"> Enter Valid GST No</small>
                  </mat-form-field>
                </ng-template>
              </div>
            </div>

            <div class="row p-t-20">
              <div class="col-xs-6" (click)="openAddressDialog()">
                <div [ngClass]="[AddressValid ? 'select-address-tag' : 'select-address-tag-disabled']">
                  Select Address
                </div>
              </div>
              <div class="col-xs-6" (click)="reset()">
                <div class="reset-form-tag">
                  Reset
                </div>
              </div>
            </div>
            <!-- fourth row -->
            <div class="row p-t-20">
              <div class="col-sm-6">
                <!-- PinCode -->
                <mat-form-field class="border-input w-100">
                  <input matInput type="text" placeholder="Address Line1" #FormaddressLine1
                    formControlName="addressLine1" required />
                  <!-- <mat-error class="mat-error-add-edit-form-modal">addressLine1 is Required</mat-error> -->
                  <small
                    *ngIf="form.controls['addressLine1'].hasError('required') && form.controls['addressLine1'].touched"
                    class="form-error-msg">
                    Address Line1 is required
                  </small>
                  <small *ngIf="FormaddressLine1.value.length > 120 && form.controls['addressLine1'].touched"
                    class="form-error-msg">
                    Address should be less than 120 characters
                  </small>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <!-- PinCode -->
                <mat-form-field class="border-input w-100">
                  <input matInput type="text" placeholder="Address Line2" #FormaddressLine2
                    formControlName="addressLine2" />
                  <!-- <mat-error class="mat-error-add-edit-form-modal">addressLine2 is Required</mat-error> -->
                  <!-- <small
                    *ngIf="form.controls['addressLine2'].hasError('required') && form.controls['addressLine2'].touched"
                    class="form-error-msg"> Address Line 2 is required </small> -->
                  <small
                    *ngIf="form.controls['addressLine2'].hasError('pattern') && form.controls['addressLine2'].touched"
                    class="form-error-msg">
                    Enter Valid Address Line 2</small>
                  <small *ngIf="FormaddressLine2.value.length > 120 && form.controls['addressLine2'].touched"
                    class="form-error-msg">
                    Address should be less than 120 characters
                  </small>
                </mat-form-field>
              </div>
            </div>

            <!-- fifth row-->
            <!-- fourth row -->
            <div class="row">
              <div class="col-sm-6">
                <!-- country -->
                <mat-form-field class="border-select mat-form-field-flex-mm-padding w-100">
                  <mat-select formControlName="countryCode" (selectionChange)="blankPincode()">
                    <div class="display-flex">
                      <input class="p-l-10 p-b-5" matInput type="search" placeholder="Search Country"
                        [(ngModel)]="searchCountry" [ngModelOptions]="{standalone: true}"
                        (keydown)="$event.stopPropagation()" />
                      <button mat-button matSuffix mat-icon-button>
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>
                    <mat-select-trigger>
                      <span
                        matTooltip="{{ selectedCountry && selectedCountry.countryCode }} {{ selectedCountry && selectedCountry.callingCode }}"><img
                          class="w-30 p-r-4" [src]="selectedCountry && selectedCountry.imageUrl" alt="" />
                        <span class="p-r-5 font-size12">{{ selectedCountry && selectedCountry.name }}</span>
                        <!-- <span class="font-size12 text-semi-bold">{{ selectedCountry && selectedCountry.callingCode }}</span> -->
                      </span>
                    </mat-select-trigger>
                    <mat-option
                      *ngFor="let country of countryList | SearchPipe: searchCountry:['name', 'countryCode', 'callingCode']"
                      [value]="country" selected="trade.isAttatched"><span><img class="width17Percent p-r-10"
                          [src]="country.imageUrl" alt="" />
                        <span matTooltip="{{ country.name }}"
                          class="limited-character universal p-r-5">{{ country.name }}</span>
                        <span class="text-semi-bold color-grey">{{ country.callingCode }}</span>
                      </span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <!-- PinCode -->
                <mat-form-field class="border-input w-100">
                  <input matInput type="text" placeholder="Pincode" #pincode formControlName="pinCode"
                    (input)="getPincode($event)" required />
                  <small *ngIf="form.controls['pinCode'].hasError('required') && form.controls['pinCode'].touched"
                    class="form-error-msg"> Pincode is required </small>
                  <ng-container *ngIf="form.controls['pinCode'].touched">
                    <small *ngIf="!validPincode && pincodeLength > 0" class="error-msg">
                      Enter Valid Pincode
                    </small>
                  </ng-container>
                </mat-form-field>
              </div>
            </div>

            <!-- fourth row -->
            <div class="row">
              <div class="col-sm-6">
                <!-- PinCode -->
                <mat-form-field class="border-input w-100">
                  <input matInput type="text" placeholder="City" formControlName="city" required />
                  <!-- <mat-error class="mat-error-add-edit-form-modal">city is Required</mat-error> -->
                  <small *ngIf="form.controls['city'].hasError('required') && form.controls['city'].touched"
                    class="form-error-msg"> City is required </small>
                  <small *ngIf="form.controls['city'].hasError('pattern') && form.controls['city'].touched"
                    class="form-error-msg"> Enter Valid City</small>
                </mat-form-field>
              </div>

              <div class="col-sm-6">
                <!-- PinCode -->
                <mat-form-field class="border-input w-100">
                  <input matInput type="text" placeholder="State" formControlName="state" required />
                  <!-- <mat-error class="mat-error-add-edit-form-modal">state is Required</mat-error> -->
                  <small *ngIf="form.controls['state'].hasError('required') && form.controls['state'].touched"
                    class="form-error-msg"> State is required </small>
                  <small *ngIf="form.controls['state'].hasError('pattern') && form.controls['state'].touched"
                    class="form-error-msg"> Enter Valid State</small>
                </mat-form-field>
              </div>
              <div class="col-sm-6"></div>
            </div>

            <!-- sixth row-->
          </div>
          <!-- end structure -->

          <div mat-dialog-actions>
            <div class="col-sm-12 save-btn-add-edit-user-modal rfq-bid-address mt-4">
              <button mat-raised-button [disabled]="disabledAddress ? false : validPincode ? !form.valid : true"
                (click)="saveAddress()" class="main-background-color main-button color-white pull-right">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>