<section class="update-info add-user">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="update-info__popup p-4 mt-5">
                    <form class="update-info__form" *ngIf="addUserForm" [formGroup]="addUserForm">
                        <div class="row">

                            <div class="col-md-12">
                                <h3 class="user-profile text-center text-uppercase pt-2 pb-4">Invite Users</h3>
                            </div>
                        </div>

                        <div formArrayName="other" 
                            *ngFor="let other of addUserForm.get('other').controls; let i = index">

                            <div class="row" [formGroupName]="i">

                                <div class="col-md-3 width-28">
                                    <mat-form-field class="border-input w-100">
                                        <input matInput type="email" placeholder="Email" formControlName="email">
                                    </mat-form-field>
                                    <!-- <mat-error
                                        *ngIf="addUserForm.controls['email'].errors && (addUserForm.controls['email'].dirty || addUserForm.controls['email'].touched)">
                                        <mat-error *ngIf="addUserForm.controls['email'].hasError('required')">
                                            Email is required
                                        </mat-error>
                                    </mat-error> -->
                                </div>
    
    
                                <div class="col-md-3">
                                    <mat-form-field class="border-input w-100">
                                        <input matInput type="text" placeholder="Phone number" formControlName="contactNo">
                                    </mat-form-field>
                                    <!-- <mat-error
                                        *ngIf="addUserForm.controls['contactNo'].errors && (addUserForm.controls['contactNo'].dirty || addUserForm.controls['contactNo'].touched)">
                                        <mat-error *ngIf="addUserForm.controls['contactNo'].hasError('required')">
                                            Phone number is required
                                        </mat-error>
                                    </mat-error> -->
                                </div>
    
    
                                <div class="col-md-3">
                                    <mat-form-field class="border-select w-100 role-input">
                                        <mat-label>Role</mat-label>
                                        <mat-select formControlName="roleId">
                                            <mat-option *ngFor="let role of roles" [value]="role.roleId">
                                                {{role.roleDescription}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <!-- <mat-error
                                        *ngIf="addUserForm.controls['roleId'].errors && (addUserForm.controls['roleId'].dirty || addUserForm.controls['roleId'].touched)">
                                        <mat-error *ngIf="addUserForm.controls['roleId'].hasError('required')">
                                            Role is required</mat-error>
                                    </mat-error> -->
                                </div>

                                
                            </div>
                        </div>

                        <button mat-mini-fab color="warn" (click)="onAddRow()">+ Add User</button>

                        <div class="text-center col-md-12 mt-4">
                            <button class="btn btn-outline-warning mr-3" [routerLink]="['/dashboard']">Skip</button>
                            <button class="btn btn-warning next-btn" (click)="submit()" [disabled]="!addUserForm.valid">Done</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>