<section class="update-info">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="update-info__popup">
                    <form class="example-form">
                        <div class="row">
                            <div class="col-md-6">
                                <app-upload #uploadRef></app-upload>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="First Name">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>