<div class="header-add-edit-dialog p-r-0">
  <div class="row width-100">
    <div class="col-xs-10 col-sm-10">
      <h1 mat-dialog-title>Add Good Receive Note</h1>
    </div>
    <div class="col-xs-2 col-sm-2">
      <button type="button" class="close pull-right p-t-5" (click)="closeDialog()" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
  </div>
</div>

<form *ngIf="materialForms" [formGroup]="materialForms" (ngSubmit)="addGrn()">

      <div formArrayName="forms" class="add-grn-container mat-elevation-z8 form-add-edit-grn-div">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="Material Name">
            <th mat-header-cell *matHeaderCellDef>Material Name</th>
            <td mat-cell *matCellDef="let element" class="grn-material-name">
              <div class="limited-character global">
                {{ element.materialName }}
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="Brand Name">
            <th mat-header-cell *matHeaderCellDef>Brand Name</th>
            <td mat-cell *matCellDef="let element">{{ element.materialBrand }}</td>
          </ng-container>

          <ng-container matColumnDef="Unit">
            <th mat-header-cell *matHeaderCellDef class="text-align-center">Unit</th>
            <td mat-cell *matCellDef="let element" class="text-align-center">
              <span *ngIf="element.materialUnit != ''">
                {{ element.materialUnit }}
              </span>
              <span *ngIf="element.materialUnit == ''">
                -
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="Awarded Quantity">
            <th mat-header-cell *matHeaderCellDef class="text-align-center">Awarded Quantity</th>
            <td mat-cell *matCellDef="let element" class="text-align-center">
              {{ element.materialQuantity }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Delivered Quantity">
            <th mat-header-cell *matHeaderCellDef class="text-align-center">Delivered Quantity</th>
            <td mat-cell *matCellDef="let element" class="text-align-center">
              {{ element.deliveredQty }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Received Quantity">
            <th mat-header-cell *matHeaderCellDef>Received Quantity</th>
            <td mat-cell *matCellDef="let element;let i = index" class="border-input">
              <!-- <input matInput type="number" placeholder="Quantity"> -->

              <mat-form-field [formGroupName]="i" class="border-input table-input">
                <input
                  matInput
                  formControlName="certifiedQty"
                  type="text"
                  placeholder="Received Quantity"
                  min="0"
                  appTwoDigitDecimaNumber
                />
              </mat-form-field>
              <!-- {{ element.certifiedQuantity }} -->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
   

  <div mat-dialog-actions>
    <div class="col-sm-12 save-btn-add-edit-user-modal">
      <button mat-raised-button (click)="closeDialog()" class="main-background-color main-button color-white pull-left">
        Cancel
      </button>

      <button mat-raised-button type="submit" class="main-background-color main-button color-white pull-right" [disabled]="!valueEntered()">
        Save
      </button>
    </div>
  </div>
</form>
