<section class="modal-outer">
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()" class="add-project-component-dialog">
    <div class="modal-header">
      <h5 mat-dialog-title class="m-b-0">Project Details</h5>
      <button type="button" class="close" (click)="closeDialog()" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>

    <div mat-dialog-content>
      <div class="modal-body">
        <div class="row">
          <!-- upload project image field -->
          <div class="col-md-2 col-sm-2 col-xs-12 image-project-div">
            <div class="project-profile">
              <img *ngIf="data.detail" [src]="localImg || data.detail.imageUrl || '../../../../assets/images/project-default-image.png'" />
              <img *ngIf="!data.detail" [src]="localImg || '../../../../assets/images/project-default-image.png'" />
            </div>
            <div class="upload-photo-btn browser-method p-t-10">
              <label class="myLabel photo-btn">
                <input type="file" accept=".jpg,.jpeg,.png,.webp" title="" (change)="onFileSelect($event)" />
                <span>Upload</span>
              </label>
              <div class="text-align-center p-t-5 line-height-1">
                <small class="error-msg">{{ imageFileSizeError }}</small>
              </div>
            </div>
          </div>

          <!-- right block contains all fields to create a project -->
          <div class="col-md-10 col-sm-10 col-xs-12 add-edit-form-dialog">
            <div class="row">
              <!-- project Name -->
              <div class="col-md-12 col-sm-12 col-xs-12" [ngClass]="isMobile ? 'p-rem-l-5 p-r-0' : ''">
                <mat-form-field class="border-input project-name-input width-100">
                  <mat-label>Project Name*</mat-label>
                  <input matInput type="text" formControlName="projectName" />
                </mat-form-field>
                <small *ngIf="form.controls['projectName'].hasError('required') && form.controls['projectName'].touched" class="form-error-msg"> Project name is required </small>
              </div>

              <!-- address 1 -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <mat-form-field class="border-input width-100">
                  <mat-label>Address 1*</mat-label>
                  <input matInput type="text" formControlName="addressLine1" />
                  <small *ngIf="form.controls['addressLine1'].hasError('required') && form.controls['addressLine1'].touched" class="form-error-msg"> Address is required </small>
                  <small *ngIf="form.controls['addressLine1'].hasError('maxlength') && form.controls['addressLine1'].touched" class="form-error-msg">
                    Address should be less than 120 characters
                  </small>
                </mat-form-field>
              </div>

              <!-- address 2 -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <mat-form-field class="border-input width-100">
                  <mat-label>Address 2</mat-label>
                  <input matInput type="text" formControlName="addressLine2" />
                  <small *ngIf="form.controls['addressLine2'].hasError('maxlength') && form.controls['addressLine2'].touched" class="form-error-msg">
                    Address should be less than 120 characters
                  </small>
                </mat-form-field>
              </div>

              <!-- country -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <mat-form-field class="border-select mat-form-field-flex-mm-padding m-t-6 select-country width-100">
                  <mat-select formControlName="countryCode" (selectionChange)="blankPincode()">
                    <div class="display-flex">
                      <input
                        class="p-l-10 p-b-5"
                        matInput
                        type="search"
                        placeholder="Search Country"
                        [(ngModel)]="searchCountry"
                        [ngModelOptions]="{standalone: true}"
                        (keydown)="$event.stopPropagation()"
                      />
                      <button mat-button matSuffix mat-icon-button>
                        <mat-icon>search</mat-icon>
                      </button>
                    </div>
                    <mat-select-trigger>
                      <span matTooltip="{{ selectedCountry && selectedCountry.countryCode }} {{ selectedCountry && selectedCountry.callingCode }}"
                        ><img class="width-27-px p-r-4" [src]="selectedCountry && selectedCountry.imageUrl" alt="" />
                        <span class="p-r-5 color-brand fontsize-16-px">{{ selectedCountry && selectedCountry.name }}</span>
                      </span>
                    </mat-select-trigger>
                    <mat-option
                      *ngFor="let country of countryList | SearchPipe: searchCountry:['name', 'countryCode', 'callingCode']"
                      [value]="country"
                      selected="trade.isAttatched"
                      ><span
                        ><img class="width-17 p-r-10" [src]="country.imageUrl" alt="" />
                        <span matTooltip="{{ country.name }}" class="limited-character universal p-r-5">{{ country.name }}</span>
                        <span class="text-semi-bold color-grey">{{ country.callingCode }}</span>
                      </span>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- PinCode -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <mat-form-field class="border-input width-100">
                  <mat-label>Pincode*</mat-label>
                  <input matInput type="text" (input)="getPincode($event)" formControlName="pinCode" />
                  <small *ngIf="form.controls['pinCode'].hasError('required') && form.controls['pinCode'].touched" class="error-msg"> Pincode is required </small>
                  <small *ngIf="form.controls['pinCode'].touched && !validPincode && pincodeLength > 0" class="error-msg"> Enter Valid Pincode </small>
                </mat-form-field>
              </div>

              <!-- city -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <mat-form-field class="border-input width-100">
                  <mat-label>City*</mat-label>
                  <input matInput type="string" formControlName="city" />
                </mat-form-field>
              </div>

              <!-- state -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <mat-form-field class="border-input width-100">
                  <mat-label>State*</mat-label>
                  <input matInput type="string" formControlName="state" />
                </mat-form-field>
              </div>

              <!-- project start date -->
              <div class="col-md-6 col-sm-6 col-xs-6 date-dialog-add-edit">
                <mat-form-field class="border-input width-100">
                  <mat-label>Project Start Date*</mat-label>
                  <input matInput [matDatepicker]="startDate" formControlName="startDate" #ref (dateChange)="getStart(ref.value)" (click)="startDate.open()" readonly />

                  <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                  <mat-datepicker #startDate startView="month" [startAt]="startDate"></mat-datepicker>
                  <small *ngIf="form.controls['startDate'].hasError('required') && form.controls['startDate'].touched" class="form-error-msg"> Start date is required </small>
                </mat-form-field>
              </div>

              <!-- project end date -->
              <div class="col-md-6 col-sm-6 col-xs-6 date-dialog-add-edit">
                <mat-form-field class="border-input width-100">
                  <mat-label>Project End Date*</mat-label>
                  <input
                    matInput
                    [matDatepicker]="endDate"
                    formControlName="endDate"
                    #refEnd
                    (dateChange)="getEndDate(refEnd.value)"
                    [min]="projectEndDate"
                    (click)="endDate.open()"
                    readonly
                  />
                  <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                  <mat-datepicker #endDate startView="month" [startAt]="endDate"></mat-datepicker>
                  <small *ngIf="form.controls['endDate'].hasError('required') && form.controls['endDate'].touched" class="form-error-msg"> End date is required </small>
                </mat-form-field>
                <small *ngIf="sameStartEndDate" class="error-msg sameStartEndDate"> End Date must be greater than Start Date </small>
              </div>

              <!-- project Type -->
              <div class="col-md-6 col-sm-6 col-xs-6">
                <mat-form-field class="border-select width-100">
                  <mat-label>Project Type*</mat-label>
                  <mat-select formControlName="type">
                    <mat-option *ngFor="let projectType of projectTypes" [value]="projectType.type"> {{ projectType.type }} </mat-option>
                  </mat-select>
                </mat-form-field>
                <small *ngIf="form.controls['type'].hasError('required') && form.controls['type'].touched" class="form-error-msg"> Project type is required </small>
              </div>

              <!-- project area -->
              <div class="col-md-3 col-sm-3 col-xs-3">
                <mat-form-field class="border-input width-100 project-area">
                  <mat-label>Area</mat-label>
                  <input matInput type="text" formControlName="area" min="0" appTwoDigitDecimaNumber required />
                  <small *ngIf="form.controls['area'].hasError('required') && form.controls['area'].touched" class="error-msg"> Area is required </small>
                </mat-form-field>
              </div>

              <!-- project unit -->
              <div class="col-md-3 col-sm-3 col-xs-3">
                <mat-form-field class="border-select width-100">
                  <mat-label>Unit *</mat-label>
                  <mat-select formControlName="unit">
                    <mat-option *ngFor="let unit of units" [value]="unit.value"> {{ unit.value }} </mat-option>
                  </mat-select>
                </mat-form-field>
                <small *ngIf="form.controls['unit'].hasError('required') && form.controls['unit'].touched" class="error-msg">Area unit is required </small>
              </div>

              <!-- construction cost -->
              <div class="col-md-3 col-sm-3 col-xs-6">
                <mat-form-field class="border-input width-100" matTooltip="Construction Cost {{ currencyCode }}">
                  <mat-label>Construction Cost {{ currencyCode }}</mat-label>
                  <input matInput type="text" appTwoDigitDecimaNumber formControlName="cost" min="0" required />
                  <small *ngIf="form.controls['cost'].hasError('required') && form.controls['cost'].touched" class="error-msg"> Construction cost is required </small>
                  <small *ngIf="form.controls['cost'].hasError('pattern') && form.controls['cost'].touched" class="error-msg"> Enter valid construction cost </small>
                </mat-form-field>
              </div>

              <!-- construction cost unit -->
              <div class="col-md-3 col-sm-3 col-xs-6">
                <mat-form-field class="border-select width-100">
                  <mat-label>Unit *</mat-label>
                  <mat-select formControlName="costUnit">
                    <mat-option *ngFor="let unit of costUnits" [value]="unit.value"> {{ unit.value }} </mat-option>
                  </mat-select>
                </mat-form-field>
                <small *ngIf="form.controls['costUnit'].hasError('required') && form.controls['costUnit'].touched" class="error-msg">Cost unit is required </small>
              </div>

              <!-- GSTIN number -->
              <div class="col-md-6 col-sm-6 col-xs-12">
                <mat-form-field class="border-input width-100">
                  <mat-label>GSTIN</mat-label>
                  <input matInput type="text" formControlName="gstNo" />
                  <small *ngIf="form.controls['gstNo'].hasError('pattern') && form.controls['gstNo'].touched" class="form-error-msg"> Enter Valid Gst No</small>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div mat-dialog-actions class="d-flex justify-content-end p-t-20 p-b-20">
          <button mat-raised-button [disabled]="!imageFileSize && localImg ? true : !form.valid || !validPincode" class="main-background-color main-button color-white">
            <span *ngIf="!data.isEdit">Add</span>
            <span *ngIf="data.isEdit">Save</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</section>
