<form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()" class="add-project-component-dialog">
  <div class="header-add-edit-dialog">
    <h1 mat-dialog-title>Project Details</h1>
    <button type="button" class="close" (click)="closeDialog()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="row m-t-20">
      <div class="col-xs-8 col-sm-2 col-md-2 image-project-div">
        <div class="project-profile">
          <img *ngIf="data.detail"
            [src]="localImg || data.detail.imageUrl || '../../../../assets/images/project-default-image.png'" />
          <img *ngIf="!data.detail" [src]="localImg || '../../../../assets/images/project-default-image.png'" />
        </div>
        <div class="upload-photo-btn browser-method p-t-10">
          <label class="myLabel">
            <input type="file" accept=".jpg,.jpeg,.png,.webp" title="" (change)="onFileSelect($event)" />
            <span>Upload</span>
          </label>
          <div class="text-align-center p-t-5 line-height-1">
            <small class="error-msg">{{imageFileSizeError}}</small>
          </div>
        </div>
      </div>
      <!-- new structure -->
      <div class="col-xs-12 col-sm-10 col-md-10 add-edit-form-dialog">
        <!-- first row -->
        <div class="row">
          <div class="col-sm-12">
            <!-- project Name -->
            <mat-form-field class="border-input">
              <mat-label>Project Name*</mat-label>
              <input matInput type="text" formControlName="projectName" />
              <!-- <mat-error>Project Name is Required</mat-error> -->
            </mat-form-field>
          </div>
        </div>

        <!-- second row -->
        <div class="row">
          <div class="col-sm-6">
            <!-- address 1 -->
            <mat-form-field class="border-input">
              <mat-label>Address 1*</mat-label>
              <input matInput type="text" formControlName="addressLine1" />
              <small
                *ngIf="form.controls['addressLine1'].hasError('maxlength') && form.controls['addressLine1'].touched"
                class="form-error-msg"> Address should be less than 120 characters </small>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <!-- address 2 -->
            <mat-form-field class="border-input">
              <mat-label>Address 2</mat-label>
              <input matInput type="text" formControlName="addressLine2" />
              <small
                *ngIf="form.controls['addressLine2'].hasError('maxlength') && form.controls['addressLine2'].touched"
                class="form-error-msg"> Address should be less than 120 characters </small>
            </mat-form-field>
          </div>
        </div>

        <!-- fifth row -->
        <div class="row">
          <div class="col-sm-6">
            <!-- country -->
            <mat-form-field class="border-select mat-form-field-flex-mm-padding mt6p">
              <mat-select formControlName="countryCode" (selectionChange)="blankPincode()">
                <div class="display-flex">
                  <input class="p-l-10 p-b-5" matInput type="search" placeholder="Search Country"
                    [(ngModel)]="searchCountry" [ngModelOptions]="{standalone: true}"
                    (keydown)="$event.stopPropagation()" />
                  <button mat-button matSuffix mat-icon-button>
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
                <mat-select-trigger>
                  <span
                    matTooltip="{{ selectedCountry && selectedCountry.countryCode }} {{ selectedCountry && selectedCountry.callingCode }}"><img
                      class="w-30 p-r-4" [src]="selectedCountry && selectedCountry.imageUrl" alt="" />
                    <span class="p-r-5 color-brand font-size16">{{ selectedCountry && selectedCountry.name }}</span>
                    <!-- <span class="font-size12 text-semi-bold">{{ selectedCountry && selectedCountry.callingCode }}</span> -->
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let country of countryList | SearchPipe: searchCountry:'name'" [value]="country"
                  selected="trade.isAttatched"><span><img class="width17Percent p-r-10" [src]="country.imageUrl"
                      alt="" />
                    <span matTooltip="{{ country.name }}"
                      class="limited-character universal p-r-5">{{ country.name }}</span>
                    <span class="text-semi-bold color-grey">{{ country.callingCode }}</span>
                  </span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <!-- PinCode -->
            <mat-form-field class="border-input">
              <mat-label>Pincode*</mat-label>
              <input matInput type="text" (input)="getPincode($event)" formControlName="pinCode" />
              <!-- <mat-error>PinCode is Required</mat-error> -->
              <small *ngIf="form.controls['pinCode'].hasError('required') && form.controls['pinCode'].touched"
                class="error-msg"> Pincode is required </small>
              <!-- <small *ngIf="form.controls['pinCode'].hasError('pattern') && form.controls['pinCode'].touched" class="error-msg"> Enter Valid Pincode</small> -->
              <small *ngIf="form.controls['pinCode'].touched && (!validPincode) && (pincodeLength>0)" class="error-msg">
                Enter Valid Pincode
              </small>
            </mat-form-field>
          </div>
        </div>

        <!-- fourth row -->
        <div class="row">
          <div class="col-sm-6">
            <!-- city -->
            <mat-form-field class="border-input">
              <mat-label>City*</mat-label>
              <input matInput type="string" formControlName="city" />
              <!-- <mat-error>State is Required</mat-error> -->
            </mat-form-field>
          </div>
          <div class="col-sm-6">
            <!-- state value -->
            <mat-form-field class="border-input">
              <mat-label>State*</mat-label>
              <input matInput type="string" formControlName="state" />
              <!-- <mat-error>State is Required</mat-error> -->
            </mat-form-field>
          </div>
          <div class="col-sm-6"></div>
        </div>

        <!-- fourth row -->
        <div class="row">
          <div class="col-xs-6 col-sm-6 date-dialog-add-edit">
            <!-- start date -->

            <!-- <mat-form-field class="mr-5 w-75">
              <input hidden matInput [matDatepicker]="startDate" formControlName="startDate" #ref
              (dateChange)="getStart(ref.value)" (click)="startDate.open()" readonly>
              <span class="form-placeholder">{{ customDateFormat(form.controls.startDate.value) }}</span>
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field> -->

            <mat-form-field class="border-input">
              <mat-label>Project Start Date*</mat-label>
              <!-- <span class="form-placeholder">{{form["controls"]["startDate"].value | date: "dd-MMM-yyy" }}</span> -->
              <input matInput [matDatepicker]="startDate" formControlName="startDate" #ref
                (dateChange)="getStart(ref.value)" (click)="startDate.open()" readonly />

              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate startView="month" [startAt]="startDate"></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-xs-6 col-sm-6 date-dialog-add-edit">
            <!-- end date -->
            <mat-form-field class="border-input">
              <mat-label>Project End Date*</mat-label>
              <!-- <span class="form-placeholder" >{{ form["controls"]["endDate"].value | date: "dd-MMM-yyy" }}</span> -->
              <input matInput [matDatepicker]="endDate" formControlName="endDate" #refEnd
                (dateChange)="getEndDate(refEnd.value)" [min]="form['controls']['startDate'].value"
                (click)="endDate.open()" readonly />
              <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate startView="month" [startAt]="endDate"></mat-datepicker>
            </mat-form-field>
            <small *ngIf="sameStartEndDate" class="error-msg sameStartEndDate"> End Date must be greater than Start Date
            </small>
          </div>
        </div>

        <!-- another row -->
        <div class="row">
          <div class="col-sm-6">
            <!-- project Type -->
            <mat-form-field class="border-select">
              <mat-label>Project Type*</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let projectType of projectTypes" [value]="projectType.type">
                  {{projectType.type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-xs-6 col-sm-3">
            <!-- project area -->
            <mat-form-field class="border-input">
              <mat-label>Area</mat-label>
              <!-- <mat-error>ProjectArea is Required</mat-error> -->
              <input matInput type="text" formControlName="area" min="0" appTwoDigitDecimaNumber required />
              <small *ngIf="form.controls['area'].hasError('required') && form.controls['area'].touched"
                class="error-msg"> Area is required </small>
              <!-- <small *ngIf="form.controls['area'].hasError('pattern') && form.controls['area'].touched"
                class="error-msg"> Enter valid area </small> -->
            </mat-form-field>
          </div>

          <div class="col-xs-6 col-sm-3">
            <!-- project unit -->
            <mat-form-field class="border-select">
              <mat-label>Unit *</mat-label>
              <mat-select formControlName="unit">
                <mat-option *ngFor="let unit of units" [value]="unit.value">
                  {{unit.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <!-- sixth row -->
        <div class="row">
          <div class="col-xs-6 col-sm-3">
            <!-- construction cost -->
            <mat-form-field class="border-input">
              <mat-label>Construction Cost &#x20b9;</mat-label>
              <input matInput type="text" appTwoDigitDecimaNumber formControlName="cost" min="0" required />
              <small *ngIf="form.controls['cost'].hasError('required') && form.controls['cost'].touched"
                class="error-msg"> Construction cost is required </small>
              <small *ngIf="form.controls['cost'].hasError('pattern') && form.controls['cost'].touched"
                class="error-msg"> Enter valid construction cost </small>
            </mat-form-field>
          </div>

          <div class="col-xs-6 col-sm-3">
            <!-- project area -->
            <mat-form-field class="border-select">
              <mat-label>Unit *</mat-label>
              <!-- <mat-select [value]="selectedConstructionUnit"> -->
              <!-- <mat-option value="1">
                  CR
                </mat-option> -->
              <mat-select formControlName="costUnit">
                <mat-option *ngFor="let unit of costUnits" [value]="unit.value">
                  {{unit.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-sm-6">
            <!-- project Type -->
            <mat-form-field class="border-input">
              <mat-label>GSTIN</mat-label>
              <input matInput type="text" formControlName="gstNo" />
              <!-- <small *ngIf="form.controls['gstNo'].hasError('required') && form.controls['gstNo'].touched"
                class="form-error-msg"> Gst No is required </small> -->
              <small *ngIf="form.controls['gstNo'].hasError('pattern') && form.controls['gstNo'].touched"
                class="form-error-msg"> Enter Valid Gst No</small>
              <!-- <mat-error>Address is Required</mat-error> -->
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- end structure -->
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="col-sm-12 col-md-12 add-edit-dialog-button">
      <button mat-raised-button
        [disabled]="(!imageFileSize && localImg)?true:(!form.valid || (!validPincode) || sameStartEndDate)"
        class="main-background-color main-button color-white">
        <span *ngIf="!data.isEdit">Add</span>
        <span *ngIf="data.isEdit">Save</span>
      </button>
    </div>
  </div>
</form>