<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav [fixedInViewport]="true" [mode]="'over'">
     
     <div class="side-navbar-header">
        <img class="img-circle" height="36" width="38" [src]="url || '../../../../assets/images/logo-profile-header.png'" alt="Test" />
        <span class="user-name" (click)="goToProfile()">
          {{userName}}
        </span>

      <button class="menu-close float-right" (click)="sidenav.close()" mat-icon-button>
       <mat-icon>close</mat-icon>
      </button>

      </div>
    <app-sidenav-list [sidenav]="sidenav"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header #header [menu]="sidenav"></app-header>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
