<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav [fixedInViewport]="true" [mode]="'over'">
    <div class="side-navbar-header">
      <img class="img-circle" height="36" width="38" [src]="url || '../../../../assets/images/logo-profile-header.png'"
        alt="Test" />
      <span class="user-name" (click)="goToProfile(sidenav)">
        {{ userName }}
      </span>

      <button class="menu-close float-right" (click)="sidenav.close()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-sidenav-list [sidenav]="sidenav" [menuData]="menuData"></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header #header [menu]="sidenav" [subscriptionsData]="subscriptionsData"></app-header>
    <sidebar-navigation (collapseMenu)="isSidebarCollapsed($event)" [menuData]="menuData">
    </sidebar-navigation>
    <ng-container *ngIf="isFreeTrialActivate; else noTrial">
      <div class="mt-120">
        <router-outlet> </router-outlet>
      </div>
    </ng-container>
    <ng-template #noTrial>
      <div class="mt-5">
        <router-outlet> </router-outlet>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>