<div class="page-start-point mt-5 p-rem-t-15" [ngClass]="isMobile ? 'm-popd' : ''">
  <div class="p-b-20 min-height parent" [ngClass]="isMobile ? 'p-rem-r-5 p-rem-r-5' : 'p-l-20 p-r-20'">
    <div class="row">
      <div class="col-xs-12 text-right">
        <!-- <span class="p-r-5">
          <button mat-raised-button class="main-background-color main-button color-white" (click)="goBack(stepper)" type="button">Back</button>
        </span> -->
        <!-- <span *ngIf="currentIndex != 2">
          <button
            mat-raised-button
            class="main-background-color main-button color-white"
            (selectionChange)="selectionChange($event)"
            [disabled]="currentIndex === 1 && !completed"
            (click)="goForward(stepper)"
            type="button"
          >
            Next
          </button>
        </span>
        <span *ngIf="currentIndex === 2">
          <button
            mat-raised-button
            class="main-background-color main-button color-white"
            [disabled]="false"
            (selectionChange)="selectionChange($event)"
            (click)="reviewRfq()"
            type="button"
          >
            Next
          </button>
        </span> -->
      </div>
    </div>
    <!-- <mat-horizontal-stepper (selectionChange)="selectionChange($event)" #stepper> -->
    <mat-horizontal-stepper (selectionChange)="selectionChange($event)" #stepper [ngClass]="isMobile ? 'm-stepper' : ''">
      <mat-step stepControl="stepOne">
        <ng-template matStepLabel>Project & Material</ng-template>
        <app-rfq-project-materials
          [projectsList]="allProject"
          *ngIf="allProject.length && currentIndex === 0 ? true : false"
          (updatedRfq)="getMaterial($event)"
          #projectrMaterial
          [existingRfq]="rfqData"
          [prevIndex]="prevIndex"
        >
        </app-rfq-project-materials>
      </mat-step>

      <mat-step stepControl="stepSecond">
        <ng-template matStepLabel>Add Quantity & Makes</ng-template>
        <app-rfq-quantity-makes *ngIf="rfqMaterial && allSupplier" #rfqQtyMakes [generatedRfq]="rfqMaterial" (updatedRfq)="getQuantityAndMakes($event)"> </app-rfq-quantity-makes>
      </mat-step>

      <mat-step stepControl="stepThree">
        <ng-template matStepLabel>Select Supplier</ng-template>
        <app-rfq-supplier
          #rfqSupplier
          *ngIf="countryList.length"
          [cntryList]="this.countryList"
          [suppliers]="allSupplier"
          [supplierModuleFeature]="supplierModuleFeature"
          [finalRfq]="finalRfq"
          (updatedRfq)="getSupplierData($event)"
        >
        </app-rfq-supplier>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</div>
