    <form [formGroup]="projectDetails" (ngSubmit)="submit()">
        <div class="row">
            <span class="m-r-35 p-l-15" *ngIf="!viewMode">
                P.O.No.:
                <mat-form-field class="border-input">
                    <input matInput type="number" formControlName="orderNo" placeholder="Project No." class="m-r-5" />
                </mat-form-field>
            </span>
            <span *ngIf="viewMode" class="m-r-35 p-l-15">P.O.No.:.{{cardData.poNumber}}</span>
            <span *ngIf="!viewMode">
                P.O.Vaid Till:
                <mat-form-field class="border-input">
                    <input matInput formControlName="endDate" [matDatepicker]="endDate" placeholder="Required Date" />
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate startView="month"></mat-datepicker>
                </mat-form-field>
            </span>
            <span *ngIf="viewMode">P.O.Vaid Till:{{cardData.poValidUpto}}</span>
        </div>
        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="2">
                <div class="col-xs-12 pull-left">
                    <div class="row">
                        <div class="col-xs-6">
                            <mat-list>
                                <mat-list-item mat-subheader> Project Name: {{cardData.projectAddress.projectName}}
                                </mat-list-item>
                                <mat-list-item mat-subheader> Contact Person:
                                    {{cardData.projectAddress.firstName?cardData.projectAddress.firstName:""}}
                                    {{cardData.projectAddress.lastName?cardData.projectAddress.lastName:""}}

                                    <a href="javascript:void(0)"
                                        (click)="openDialog('projectUserId',cardData.projectId)"><i
                                            class="material-icons main-color">
                                            edit
                                        </i></a>
                                </mat-list-item>
                                <mat-list-item mat-subheader> Phone
                                    No.:{{cardData.projectAddress.contactNo?cardData.projectAddress.contactNo:""}}
                                </mat-list-item>
                                <mat-list-item mat-subheader> Email.:
                                    {{cardData.projectAddress.email?cardData.projectAddress.email:""}}</mat-list-item>
                            </mat-list>
                        </div>
                        <div class="col-xs-6">
                            <mat-list>
                                <mat-list-item mat-subheader> Delivery Address</mat-list-item>
                                <span>{{cardData.projectAddress.addressLine1}}</span>
                                <span>{{cardData.projectAddress.addressLine2}}</span>
                                <span>{{cardData.projectAddress.city}},{{cardData.projectAddress.state}}</span>
                                <span>{{cardData.projectAddress.pinCode }}</span>
                            </mat-list>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="4">
                <div class="col-xs-12 pull-left">
                    <mat-list>
                        <h3 mat-subheader>Purchase Order Awarded To:</h3>
                        <mat-list-item mat-subheader> Supplier Name: {{cardData.supplierAddress.supplierName}}
                        </mat-list-item>
                        <mat-list-item mat-subheader> Contact Person: {{cardData.supplierAddress.supplierName}}

                        </mat-list-item>
                        <mat-list-item mat-subheader> Phone No.: {{cardData.supplierAddress.contactNo}} </mat-list-item>
                        <mat-list-item mat-subheader> Street Address:{{cardData.supplierAddress.contactNo}}
                            <a href="javascript:void(0)"
                                (click)="openaddressDialog('supplierAddressId',cardData.supplierAddress.supplierId)"><i
                                    class="material-icons main-color">
                                    edit
                                </i></a>
                        </mat-list-item>
                        <mat-list-item mat-subheader> Pin Code: {{cardData.supplierAddress.pinCode}}</mat-list-item>
                        <mat-list-item mat-subheader> City:{{cardData.supplierAddress.city}} </mat-list-item>
                        <mat-list-item mat-subheader> GSTIN: {{cardData.supplierAddress.gstNo}}</mat-list-item>
                    </mat-list>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="2">
                <div class="col-xs-12 pull-left">
                    <mat-list>
                        <h3 mat-subheader>Contract Detail</h3>
                        <div class="row">
                            <div class="col-xs-6">
                                <mat-list-item mat-subheader> Company Name: {{cardData.billingAddress.companyName}}
                                </mat-list-item>
                                <mat-list-item mat-subheader> Contact Person:
                                    {{cardData.billingAddress.firstName}}
                                    {{cardData.billingAddress.lastName}}

                                    <a href="javascript:void(0)"
                                        (click)="openDialog('projectBillingUserId',cardData.projectId)"><i
                                            class="material-icons main-color">
                                            edit
                                        </i></a>
                                </mat-list-item>
                                <mat-list-item mat-subheader> Phone
                                    No.:{{cardData.billingAddress.contactNo}}
                                </mat-list-item>
                                <mat-list-item mat-subheader> Email.:
                                    {{cardData.billingAddress.email}}</mat-list-item>
                            </div>
                            <div class="col-xs-6">
                                <mat-list-item mat-subheader> Street Address: <a href="javascript:void(0)"
                                        (click)="openaddressDialog('projectBillingAddressId',cardData.projectId)"><i
                                            class="material-icons main-color">
                                            edit
                                        </i></a></mat-list-item>
                                <mat-list-item mat-subheader> Pin Code:{{cardData.billingAddress.pinCode}}
                                </mat-list-item>
                                <mat-list-item mat-subheader> City:{{cardData.billingAddress.city}} </mat-list-item>
                                <mat-list-item mat-subheader> GSTIN:{{cardData.billingAddress.gstNo}}</mat-list-item>
                            </div>
                        </div>
                    </mat-list>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </form>