
<mat-sidenav-container>
  <mat-sidenav class="sidenav" #sidenav [fixedInViewport]="true" [mode]="'over'">

    <button class="menu-close" (click)="sidenav.close()" mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>

    <app-sidenav-list></app-sidenav-list>


</mat-sidenav>
  <mat-sidenav-content>
      <!-- <app-global-loader></app-global-loader> -->

      
      <app-header *ngIf="!hideHeader" (sidenavToggle)="sidenav.toggle()" [menu]="sidenav"></app-header>
      
      <router-outlet></router-outlet>

      <!-- <ng-snotify></ng-snotify> -->
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-footer></app-footer> -->

<!-- <dialog-overview-example-dialog></dialog-overview-example-dialog> -->