<div class="row m-0">
  <div class="d-none d-sm-block col-md-12 col-lg-8 pl-0">
    <div class="min-height">
      <img src="../../../assets/images/image-login.jpg" alt="login-image" style="width: 100%;" />
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 offset-lg-0 parent">
    <div class="form-design-forget justify-content-center">
      <img src="../../../assets/images/loginLogo.png" alt="BuildSupply" class="logo-img mb-4 mt-4" />
      <div class="heading-forget">Change Password</div>

      <form [formGroup]="forgetPassForm" (ngSubmit)="submitPassword()" class="forget-pass-form">
        <mat-form-field class="col-xs-12 border-input password-forget">
          <input matInput [type]="showPassWordString ? 'text' : 'password'" formControlName="password" #pass placeholder="Password" />
          <a>
            <mat-icon class="password-eye" (click)="showPassWord()">remove_red_eye</mat-icon>
          </a>
          <small *ngIf="forgetPassForm.controls['password'].errors?.minlength && forgetPassForm.controls['password'].touched" class="signupForm-error-msg"
            >Minimum characters required is 6</small
          >
        </mat-form-field>

        <mat-form-field class="col-xs-12 border-input password-forget">
          <input matInput [type]="showRetypePassWordString ? 'text' : 'password'" (input)="verifyPassword($event)" placeholder="Retype Password" />
          <a>
            <!-- <mat-icon class="password-eye" (click)="showRetypePassWord()">remove_red_eye</mat-icon> -->
            <mat-icon class="password-eye" (click)="showRetypePassWord()">remove_red_eye</mat-icon>
          </a>
        </mat-form-field>

        <div mat-dialog-actions class="col-xs-12 p-t-40">
          <button
            mat-raised-button
            class="main-background-color main-button color-white m-b-5"
            cdkFocusInitial
            style="width: 100%;"
            [disabled]="!(pass.value.length > 5 && passwordMatch)"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
