<div class="page-start-point mt-5 pt-4">
  <div class="p-l-20 p-r-20 p-b-20 bom-table-style">
    <card-layout *ngIf="projectData" (onEdit)="editProject()" (onDelete)="deleteProject()"
      [projectDetails]="projectData" [disableEditDelete]="true" pageType="2"></card-layout>

    <div class="row align-items-center justify-content-between bom-above-tbl-section">
      <div class="col-md-3 col-sm-6 col-xs-12 col-search-input">
        <mat-form-field class="bom-form-field border-input w-100">
          <input matInput placeholder="Search Materials" type="search" (keyup)="applyFilter($event)" />
          <button mat-button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="col-md-9 col-sm-6 col-xs-12 col-bom-actions" [ngClass]="!isMobile ? 'text-right' : ''">
        <div class="bom-detail-action-buttons">
          <button mat-raised-button class="main-background-color main-button color-white create-rfp mr-2"
            (click)="createRfq()" *ngIf="permissionObj.rfqFlag"
            [ngClass]="this.checkedSubcategory.length ? 'main-color' : 'main-color-faded not-allowed'">
            Create RFP
          </button>

          <button mat-raised-button class="main-background-color main-button color-white raise-pr mr-2"
            (click)="raiseIndent()"
            [ngClass]="this.checkedSubcategory.length ? 'main-color' : 'main-color-faded not-allowed'">
            Raise PR
          </button>

          <div class="bom-detail-dropdown">
            <button mat-button [matMenuTriggerFor]="menu">
              <span class="material-icons">menu</span>
            </button>
            <mat-menu #menu="matMenu" class="bom-detail-dropdown-menus">
              <button mat-menu-item (click)="openGrnViaExcelDialog()">Create Receipt via Excel</button>
              <button mat-menu-item (click)="openGrnDialog()">Create Receipt via System</button>
              <button mat-menu-item (click)="addMaterial()">Add/Edit Material</button>
              <button mat-menu-item (click)="openAddMyMaterial()">Add Custom Material</button>
            </mat-menu>
          </div>
        </div>
      </div>
    </div>

    <div class="row bom-details-table-div-part example-container mat-elevation-z8" [ngClass]="isMobile ? 'ml-0' : ''">
      <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class="col-sm-12 bom-material-table">
        <ng-container matColumnDef="materialName">
          <th mat-header-cell *matHeaderCellDef class="first-column-row-header" mat-sort-header>
            Material Name
          </th>
          <td mat-cell class="text-left" *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            <mat-checkbox #ch (change)="getElemenetChecked(ch, element)" [checked]="element.checked"
              [disabled]="element.materialCustomFlag === 1 ? element.isApproved !== 1 : false">
              <div class="limited-character bom" matTooltip=" {{ element.materialName }}">{{ element.materialName }}
                <br /></div>
              <div class="limited-character bom" matTooltip=" {{ element.materialGroup }}">
                <span class="category-name">
                  {{ element.materialGroup }}
                </span>
              </div>
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="materialUnit">
          <th *matHeaderCellDef class="text-align-center justify-center" mat-header-cell mat-sort-header>
            Unit
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            {{ element.materialUnit }}
          </td>
        </ng-container>

        <ng-container matColumnDef="estimatedQty">
          <th *matHeaderCellDef class="text-align-center justify-center minwidth-110-px" mat-header-cell mat-sort-header>
            Estimated Quantity
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            {{ element.estimatedQty }}
          </td>
        </ng-container>

        <ng-container matColumnDef="estimatedRate">
          <th *matHeaderCellDef class="text-align-center justify-center minwidth-110-px" mat-header-cell mat-sort-header>
            Estimated Rate
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            {{ element.estimatedRate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="requestedQuantity">
          <th *matHeaderCellDef class="text-align-center justify-center minwidth-110-px" mat-header-cell mat-sort-header>
            Requested Quantity
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            {{ element.requestedQuantity }}
          </td>
        </ng-container>

        <ng-container matColumnDef="issueToProject">
          <th *matHeaderCellDef class="text-align-center justify-center minwidth-110-px" mat-header-cell mat-sort-header>
            Issued To Project
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            <ng-container *ngIf="element.issueToProject; else showZEroDataIP"> {{ element.issueToProject }}
            </ng-container>
            <ng-template #showZEroDataIP> 0 </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="availableStock">
          <th *matHeaderCellDef [hidden]="!permissionObj.rfqFlag"
            class="text-align-center justify-center minwidth-110-px" mat-header-cell mat-sort-header>
            Available In Stock
          </th>
          <td class="text-align-center" mat-cell [hidden]="!permissionObj.rfqFlag" *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            <ng-container *ngIf="element.availableStock; else showZEroData"> {{ element.availableStock }}</ng-container>
            <ng-template #showZEroData> 0 </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="attachedImages">
          <th *matHeaderCellDef class="text-align-center justify-center minwidth-110-px">
            Attached Images
          </th>
          <td class="text-align-center bom-attached-images-col" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            <!-- View image modal link -->
            <div *ngIf="element?.documentsList?.length" class="images-lists"
              [ngClass]="element.documentsList.length === 1 ? 'single-image' : element.documentsList.length === 2 ? 'double-images' : 'triple-images'"
              (click)="viewAllImages(element.projectId, element.materialId)">
              <ng-container *ngFor="let img of element.documentsList; let i = index">
                <img [src]="img.documentThumbnailUrl" alt="project{{ i }}" class="img-fluid attached-image"
                  *ngIf="i < 3" />
              </ng-container>
            </div>

            <ng-container *ngIf="!element?.documentsList">
              <img src="assets/images/project-default-image.png" alt="default-material"
                class="img-fluid default-image" />
            </ng-container>
          </td>
        </ng-container>

        <ng-container matColumnDef="customColumn">
          <th *matHeaderCellDef></th>
          <td class="text-right p-b-20" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            <span *ngIf="element.materialCustomFlag === 1 ? element.isApproved !== 1 : false"
              class="p-r-20 p-t-10 display-inline-block color-grey">Pending</span>

            <!-- Upload Image Link -->
            <a class="p-r-10 cursor-pointer issue-to-indent-icon" matTooltip="Add/Edit Image"
              (click)="uploadImage(element)">
              <img class="width-20-px mt-1 mr-2" src="assets/images/upload-image-icon.svg" />
            </a>

            <a class="width-15-px p-r-10 cursor-pointer issue-to-indent-icon" matTooltip="Issue to PR">
              <img (click)="openIssueTOIndent(element)" [src]="indentButtonColor(element)" />
            </a>

            <a class="width-15-px p-l-5 cursor-pointer" matTooltip="Delete" (click)="
                element.requestedQuantity == 0 &&
                (element.availableStock == 0 || element.availableStock == null) &&
                element.issueToProject == 0 &&
                (element.materialCustomFlag ? (element.isApproved == 1 ? true : false) : true)
                  ? deleteBom(element.materialId, element.projectId, element.requestedQuantity === 0 && element.availableStock === 0 && element.issueToProject === 0)
                  : null
              ">
              <img [src]="
                  element.requestedQuantity === 0 &&
                  (element.availableStock === 0 || element.availableStock === null) &&
                  element.issueToProject === 0 &&
                  (element.materialCustomFlag ? (element.isApproved == 1 ? true : false) : true)
                    ? '../../../../assets/images/delete-button.png'
                    : '../../../../assets/images/delete-button-disable.png'
                " />
            </a>

            <!-- <a
              (click)="(element.materialCustomFlag === 1 ? element.isApproved !== 1 : false) ? null : issueToIndent(element.materialId, projectId)"
              class="width-15-px p-r-10 cursor-pointer issue-to-indent-icon"
              matTooltip="Issue to Indent"
            > -->

            <!-- <a *ngIf="permissionObj.rfqFlag && (element.availableStock === 0 || element.availableStock === null)" class="width-15-px p-r-10 issue-to-indent-icon">
              <img src="../../../../assets/images/issue_to_indent_disabled.png" />
            </a> -->

            <!-- <a
              class="width-15-px p-l-5"
              *ngIf="
                !(
                  (element.requestedQuantity === 0 || element.requestedQuantity === null) &&
                  (element.availableStock === 0 || element.availableStock === null) &&
                  (element.issueToProject === 0 || element.issueToProject === null)
                )
              "
            >
              <img src="../../../../assets/images/delete-button_disable.png" />
            </a> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" *ngIf="element.materialSpecs"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="inner-table mat-elevation-z8 row" *ngIf="expandedElement">
                <table class="col-sm-12" mat-table [dataSource]="element.materialSpecs">
                  <ng-container matColumnDef="materialName">
                    <th *matHeaderCellDef>
                      Name
                    </th>
                    <td class="text-left" mat-cell *matCellDef="let element">
                      <div class="limited-character">{{ element.materialName }} <br /></div>
                      <div class="limited-character">
                        <span class="category-name">
                          {{ element.materialGroup }}
                        </span>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Unit">
                    <th *matHeaderCellDef class="text-align-center">
                      Unit
                    </th>
                    <td class="text-align-center" mat-cell *matCellDef="let element">{{ element.materialUnit }}</td>
                  </ng-container>

                  <ng-container matColumnDef="estimatedQty">
                    <th *matHeaderCellDef class="text-align-center">
                      Estimated Quantity
                    </th>
                    <td class="text-align-center" mat-cell *matCellDef="let element">{{ element.estimatedQty }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Requested Quantity">
                    <th *matHeaderCellDef class="text-align-center">
                      Requested Material
                    </th>
                    <td class="text-align-center" mat-cell *matCellDef="let element">{{ element.requestedQuantity }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="issueToProject">
                    <th *matHeaderCellDef class="text-align-center">
                      Issued To Project
                    </th>
                    <td class="text-align-center" mat-cell *matCellDef="let element">
                      {{ element.issueToProject }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="availableStock">
                    <th *matHeaderCellDef class="text-align-center">
                      Available In Stock
                    </th>
                    <td class="text-align-center" mat-cell *matCellDef="let element">
                      <ng-template *ngIf="element.availableStock != null">
                        {{ element.availableStock }}
                      </ng-template>
                      <ng-template *ngIf="element.availableStock == null">
                        0
                      </ng-template>
                    </td>
                  </ng-container>

                  <tr style="opacity: 0; height: 0px;" mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns"></tr>
                </table>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay" (click)="toggleRow(element)"></tr>
      </table>
    </div>
  </div>
</div>