<div class="page-start-point">
  <div class="p-l-20 p-r-20 p-b-20">
    <card-layout *ngIf="projectData" (onEdit)="editProject()" (onDelete)="deleteProject()"
      [projectDetails]="projectData" [disableEditDelete]="true"></card-layout>
    <div class="row">
      <div class="col-xs-3">
        <mat-form-field class="example-form-field border-input">
          <input matInput placeholder="Search Materials" type="search" (keyup)="applyFilter($event)" />
          <button mat-button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="col-xs-9 p-t-10 text-right">
        <span *ngIf="this.permissionObj.rfqFlag">
          <button mat-raised-button class="main-background-color main-button color-white pull-right create-rfq-btn"
            [disabled]="!this.checkedSubcategory.length" (click)="createRfq()">
            Create RFQ
          </button>
        </span>
        <span class="p-l-5">
          <button mat-raised-button
            class="mx-3 main-background-color main-button color-white pull-right raise-indent-btn"
            [disabled]="!this.checkedSubcategory.length" (click)="raiseIndent()">
            Raise Indent
          </button>
        </span>
        <!-- <span *ngIf="projectData.openIndentCount > 0" >
          <button mat-raised-button class="m-l-15 main-background-color main-button color-white pull-right " (click)="viewIndent()">
            View Indent
          </button>
        </span> -->
        <span>
          <button mat-raised-button class="main-background-color main-button color-white pull-right"
            (click)="addMaterial()">
            Add/Edit Material
          </button>
        </span>

        <span>
          <a href="javascript:void(0)" class="main-color text-semi-bold pull-right p-r-10 p-t-10"
            (click)="openAddMyMaterial()">+ Add Custom Material</a>
        </span>
      </div>
    </div>

    <div class="row bom-details-table-div-part example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="col-sm-12 bom-material-table">
        <ng-container matColumnDef="materialName">
          <th *matHeaderCellDef class="first-column-row-header">
            Material Name
          </th>
          <td class="text-left" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            <mat-checkbox #ch (change)="getElemenetChecked(ch, element)" [checked]="element.checked"
              [disabled]="element.materialCustomFlag === 1 ? element.isApproved !== 1 : false">
              <div class="limited-character bom" matTooltip=" {{ element.materialName }}">{{ element.materialName }}
                <br /></div>
              <div class="limited-character bom" matTooltip=" {{ element.materialGroup }}">
                <span class="category-name">
                  {{ element.materialGroup }}
                </span>
              </div>

              <div class="add-edit-image d-block">
                <a href="javascript:void(0)" class="orange-text" (click)="uploadImage(element)">Add/Edit Image</a>
              </div>
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th *matHeaderCellDef class="text-align-center justify-center">
            Unit
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            {{ element.materialUnit }}
          </td>
        </ng-container>
        <ng-container matColumnDef="estimatedQty">
          <th *matHeaderCellDef class="text-align-center justify-center minwidth-110-px">
            Estimated Quantity
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            {{ element.estimatedQty }}
          </td>
        </ng-container>
        <ng-container matColumnDef="estimatedRate">
          <th *matHeaderCellDef class="text-align-center justify-center minwidth-110-px">
            Estimated Rate
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            {{ element.estimatedRate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="indentedQuantity">
          <th *matHeaderCellDef class="text-align-center justify-center minwidth-110-px">
            Indented Quantity
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            {{ element.requestedQuantity }}
          </td>
        </ng-container>
        <ng-container matColumnDef="issueToProject">
          <th *matHeaderCellDef class="text-align-center justify-center minwidth-110-px">
            Issued To Project
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            <ng-container *ngIf="element.issueToProject; else showZEroDataIP"> {{ element.issueToProject }}
            </ng-container>
            <ng-template #showZEroDataIP> 0 </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="availableStock">
          <th *matHeaderCellDef [hidden]="!permissionObj.rfqFlag"
            class="text-align-center justify-center minwidth-110-px">
            Available In Stock
          </th>
          <td class="text-align-center" mat-cell [hidden]="!permissionObj.rfqFlag" *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            <ng-container *ngIf="element.availableStock; else showZEroData"> {{ element.availableStock }}</ng-container>
            <ng-template #showZEroData> 0 </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="attachedImages">
          <th *matHeaderCellDef class="text-align-center justify-center minwidth-110-px">
            Attached Images
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            <div *ngIf="element?.documentsList?.length" class="images-lists" (click)="viewAllImages(element.projectId, element.materialId)">
              <ng-container *ngFor="let img of element.documentsList; let i = index">
                <img [src]=img.documentUrl alt="project{{i}}" class="img-fluid attached-image" *ngIf="i < 3" />
              </ng-container>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="customColumn">
          <th *matHeaderCellDef></th>
          <td class="text-right p-b-20" mat-cell *matCellDef="let element"
            [ngClass]="{'background-color-light-grey': element.materialCustomFlag === 1 ? element.isApproved !== 1 : false}">
            <!-- <a>
              <mat-icon>edit</mat-icon>
            </a> -->
            <span *ngIf="element.materialCustomFlag === 1 ? element.isApproved !== 1 : false"
              class="p-r-20 p-t-10 display-inline-block color-grey">Pending</span>
            <!-- <a
              (click)="(element.materialCustomFlag === 1 ? element.isApproved !== 1 : false) ? null : issueToIndent(element.materialId, projectId)"
              class="width-15-px p-r-10 cursor-pointer issue-to-indent-icon"
              matTooltip="Issue to Indent"
            > -->
            <a class="width-15-px p-r-10 cursor-pointer issue-to-indent-icon" matTooltip="Issue to Indent">
              <img (click)="openIssueTOIndent(element)" [src]="indentButtonColor(element)" />
            </a>

            <!-- <a *ngIf="permissionObj.rfqFlag && (element.availableStock === 0 || element.availableStock === null)" class="width-15-px p-r-10 issue-to-indent-icon">
              <img src="../../../../assets/images/issue_to_indent_disabled.png" />
            </a> -->

            <a class="width-15-px p-l-5 cursor-pointer" matTooltip="Delete" *ngIf="
                (element.requestedQuantity === 0 || element.requestedQuantity === null) &&
                (element.availableStock === 0 || element.availableStock === null) &&
                (element.issueToProject === 0 || element.issueToProject === null)
              " (click)="
                (element.materialCustomFlag === 1 ? element.isApproved !== 1 : false)
                  ? null
                  : deleteBom(element.materialId, element.projectId, element.requestedQuantity === 0 && element.availableStock === 0 && element.issueToProject === 0)
              ">
              <img [src]="
                  (element.requestedQuantity === 0 || element.requestedQuantity === null) &&
                  (element.availableStock === 0 || element.availableStock === null) &&
                  (element.issueToProject === 0 || element.issueToProject === null)
                    ? '../../../../assets/images/delete-button.png'
                    : '../../../../assets/images/delete-button_disable.png'
                " />
            </a>

            <!-- <a
              class="width-15-px p-l-5"
              *ngIf="
                !(
                  (element.requestedQuantity === 0 || element.requestedQuantity === null) &&
                  (element.availableStock === 0 || element.availableStock === null) &&
                  (element.issueToProject === 0 || element.issueToProject === null)
                )
              "
            >
              <img src="../../../../assets/images/delete-button_disable.png" />
            </a> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" *ngIf="element.materialSpecs"
              [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="inner-table mat-elevation-z8 row" *ngIf="expandedElement">
                <table class="col-sm-12" mat-table [dataSource]="element.materialSpecs">
                  <ng-container matColumnDef="materialName">
                    <th *matHeaderCellDef>
                      Name
                    </th>
                    <td class="text-left" mat-cell *matCellDef="let element">
                      <div class="limited-character">{{ element.materialName }} <br /></div>
                      <div class="limited-character">
                        <span class="category-name">
                          {{ element.materialGroup }}
                        </span>
                      </div>
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="Unit">
                    <th *matHeaderCellDef class="text-align-center">
                      Unit
                    </th>
                    <td class="text-align-center" mat-cell *matCellDef="let element">{{ element.materialUnit }}</td>
                  </ng-container>

                  <ng-container matColumnDef="estimatedQty">
                    <th *matHeaderCellDef class="text-align-center">
                      Estimated Quantity
                    </th>
                    <td class="text-align-center" mat-cell *matCellDef="let element">{{ element.estimatedQty }}</td>
                  </ng-container>
                  <ng-container matColumnDef="Requested Quantity">
                    <th *matHeaderCellDef class="text-align-center">
                      Requested Material
                    </th>
                    <td class="text-align-center" mat-cell *matCellDef="let element">{{ element.requestedQuantity }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="issueToProject">
                    <th *matHeaderCellDef class="text-align-center">
                      Issued To Project
                    </th>
                    <td class="text-align-center" mat-cell *matCellDef="let element">
                      {{ element.issueToProject }}
                    </td>
                  </ng-container>
                  <ng-container matColumnDef="availableStock">
                    <th *matHeaderCellDef class="text-align-center">
                      Available In Stock
                    </th>
                    <td class="text-align-center" mat-cell *matCellDef="let element">
                      <ng-template *ngIf="element.availableStock != null">
                        {{ element.availableStock }}
                      </ng-template>
                      <ng-template *ngIf="element.availableStock == null">
                        0
                      </ng-template>
                    </td>
                  </ng-container>

                  <tr style="opacity: 0; height: 0px;" mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns"></tr>
                </table>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay" (click)="toggleRow(element)"></tr>
      </table>
    </div>
  </div>
</div>