<div class="page-start-point">
  <div class="p-l-20 p-r-20 p-b-20 min-height parent">
    <div class="row">
      <!-- <div class="col-sm-12 m-t-5 text-left" *ngIf="this.mode === 'view'">
        ApproverName
      </div> -->
      <div class="col-sm-12 m-t-5 text-right">
        <div *ngIf="this.mode === 'edit'">
          <button mat-raised-button class="main-background-color main-button color-white send-for-approval-btn" (click)="selectApprover()" [disabled]="!isPoValid">
            Send P.O For Approval
          </button>
        </div>
        <div *ngIf="this.mode === 'requiredApproval'">
          <button mat-raised-button class="background-color-white main-button main-color m-r-5" (click)="poApproval('rejected')">
            Reject
          </button>
          <button mat-raised-button class="main-background-color main-button color-white " (click)="poApproval('approved')">
            Approve
          </button>
        </div>
      </div>
    </div>
    <div class="main-div-po-outer">
      <div class="main-div-po m-b-45">
        <app-po-card #poCard *ngIf="tableData.length" [cardData]="cardData"> </app-po-card>
      </div>
      <app-po-table #poTable *ngIf="tableData.length" [poTableData]="tableData"> </app-po-table>
    </div>
    <div class="doc-froala-div">
      <div class="row">
        <div class="col-sm-4">
          <app-po-documents #poDocument [documentData]="documentList"></app-po-documents>
        </div>
        <div class="col-sm-8 hidePoweredBy" *ngIf="mode === 'edit'">
          <form [formGroup]="poTerms">
            <textarea formControlName="textArea" [froalaEditor]="froala" [(froalaModel)]="poTerms.textArea">Hello, Froala!</textarea>
          </form>
        </div>
        <div class="col-sm-8 background-white-color border-radius parent">
          <div class="center-element" *ngIf="mode !== 'edit' && this.terms && terms.termsDesc !== ''" [innerHTML]="terms.termsDesc"></div>
          <div class="center-element" *ngIf="mode !== 'edit' && this.terms && terms.termsDesc == ''">No Term To View</div>
        </div>
      </div>
    </div>
  </div>
</div>
