<!-- new structure -->

<div class="row">
  <div class="col-xs-12">
    <label for="upload-document">
      Upload Document
    </label>
  </div>
  <div class="col-xs-12 grey-dotted-border p-t-40" appDnd>
    <input type="file" #fileDropRef id="fileDropRef" class="drag-and-drop" multiple
      (change)="uploadFiles($event.target.files)" />
    <span>Drag and drop or
      <span for="fileDropRef" class="main-color">Browse</span> files
      to upload</span>
  </div>
  <div class="col-xs-12" *ngIf="fileToUpload && fileToUpload.length">
    {{ fileToUpload[fileToUpload.length - 1].name }} has been successfully
    uploaded
  </div>
</div>