<mat-dialog-content class="view-image-dialog">
  <div class="modal-content">
    <div class="modal-body text-center">

      <button type="button" class="close" (click)="closeDialog()">
        <span>&times;</span>
      </button>

      <ngb-carousel *ngIf="selectedImages?.length">        
        <ng-container *ngFor="let image of selectedImages">
          <ng-template ngbSlide>
            <img src="assets/images/download-icon-lg.svg" class="cursor-pointer download-link" (click)="downloadImage(image.documentShortUrl, image.documentUrl)" />
            <div class="picsum-img-wrapper">
              <ng-container *ngIf="image.documentUrl">
                <img [src]=image.documentUrl alt="Random first slide" class="img-fluid">
              </ng-container>
            </div>

            <div class="carousel-caption">
              <h4>{{ image.documentDesc }}</h4>
            </div>
          </ng-template>
        </ng-container>
      </ngb-carousel>
    </div>

  </div>
</mat-dialog-content> 