<section class="update-info add-user flex-center">
  <div class="container text-webkit-center">
    <div class="row background-white-color border-radius-10 p-20 mt-5 width-60">
      <div class="col-md-12 text-center">
        <span class="fontsize-18-px p-r-10 p-t-10"> Verify your email to finish signing up on</span>
        <span><img class="buildsupply-logo" src="../../../../assets/images/loginLogo.png" alt="logo" /></span>
        <div class="col-md-12 p-t-20">
          <div class="off-white-background h-vh-15 margin-auto border-radius-10 maxwidth-90 text-center">
            <h2 class="ink-color line-vh-15">Check your email and verify</h2>
          </div>
        </div>
        <div class="col-md-12 text-center p-t-20">
          <span
            >We have sent you an email to this
            <span class="display-block navy-blue-color">
              {{ email }}
            </span>
          </span>
        </div>
        <div class="col-md-12 text-center p-t-20">
          <span> Just click on the mentioned link and complete your signup process</span>
        </div>
        <div class="col-md-12 text-center p-t-20">
          <span>Can’t find the email?</span>
        </div>
        <div class="col-md-12 main-color text-center p-t-20">
          <a href="javascript:void(0)" (click)="resendEmail()" class="cursor main-color">Resend the email</a>
        </div>
      </div>
    </div>
  </div>
</section>
