.row.my-material-dialog-length {
  max-height: 20em;
  overflow-y: auto;
  overflow-x: hidden;
}

.mat-form-field-flex-mm-padding {
  .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 3px !important;
  }
}
