.search-block{
    background-color: #fff;
    .s-head{
        display: block;
        padding: 10px 10px;
        h4{
            font-size: 16px;
            font-weight: normal;
            display: inline-block;
        } 
        span{
            text-decoration: underline;
            float: right;
            font-size: 12px;
            padding-top: 2px;
            cursor: pointer;
        }       
    }

    .mat-expansion-panel:not([class*=mat-elevation-z]){
        box-shadow: none;
    }
    
    .mat-expansion-panel-header{
        padding: 0 10px;
    }

    .mat-expansion-panel-body{
        padding: 0 10px 16px;
    }
    .mat-expansion-panel:hover{
        background: #ffffff;
    }

    .actions{
        button{
            border-radius: 25px;
            &:first-of-type{
                line-height: 26px;
                padding:0 20px;
            }
            &:last-of-type{
                line-height: 30px;
                padding:0 24px;
            }
        }
    }
}

.bordered-button{
    border:2px solid #f47721 !important;
}

.selected-list{
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0;
    li{
        margin-bottom: 5px;
        background-color: #fbf6f2;
        color:#929292;
        padding: 5px;
        border-radius: 5px;
        display: block;
        width: 100%;
        &:last-of-type{
            margin-bottom: 0px;
        }
        span{
            cursor: pointer;
        }
    }
}