.search-block{
    background-color: #fff;
    .s-head{
        display: block;
        padding: 10px 10px;
        h4{
            font-size: 16px;
            font-weight: normal;
            display: inline-block;
        } 
        span{
            text-decoration: underline;
            float: right;
            font-size: 12px;
            padding-top: 2px;
            cursor: pointer;
        }       
    }

    .mat-expansion-panel:not([class*=mat-elevation-z]){
        box-shadow: none;
    }
    
    .mat-expansion-panel-header{
        padding: 0 10px 0 0;
        height: 40px !important;
    }

    .mat-expansion-panel-body{
        padding: 0 10px 16px;
    }
    .mat-expansion-panel:hover{
        background: #ffffff;
    }

    .actions{
        display: flex;
        button{
            border-radius: 25px;
            &:first-of-type{
                line-height: 26px;
                padding:0 20px;
                color:#f47721;                
            }
            &:last-of-type{
                line-height: 30px;
                padding:0 24px;
            }
        }
    }
}

.bordered-button{
    border:2px solid #f47721 !important;
}

.drp-inpt{
    .mat-form-field-flex{
        display: block !important;
    }

    .mat-form-field-infix{
        width: 100% !important;
    }
}

.selected-list{
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0;
    li{
        margin-bottom: 5px;
        background-color: #fbf6f2;
        color:#929292;
        padding: 5px;
        border-radius: 5px;
        display: block;
        width: 100%;
        &:last-of-type{
            margin-bottom: 0px;
        }
        div{
            white-space: nowrap;
            width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: initial;
            margin-top: 5px;
        }
        span{
            cursor: pointer;
        }
    }
}

@media(max-width: 599px){
    .search-block {
        .s-head{
            padding: 15px 10px 10px;
        }
        
        .mat-expansion-panel-header {
            padding: 0 5px 0 0;
        }

        .mat-expansion-panel-body{
            padding: 0 18px 0px;
        }

        .actions{
            padding: 20px !important;
        }
    }
}