.fileupload {
  position: absolute;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.w-30 {
  width: 27px;
}
.bom-material-table {
  tr.mat-header-row {
    background: #2197bb;
    height: 45px;
    th {
      font-weight: 500;
      font-size: 14px;
    }
  }
  label.mat-checkbox-layout {
    margin-bottom: 0px !important;
  }
  .first-column-row-header {
    padding-left: 48px;
  }

  .mat-column-materialName {
    width: 10% !important;
  }
}
.bom-details-table-div-part {
  max-height: 453px;
  overflow-y: auto;
  table {
    width: 100%;
  }
}
.indent-Modal {
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-top: 0px !important;
  }
  .mid-head-top {
    font-size: 16px;
    padding-top: 3px;
    text-align: center;
  }
  .p-t-7 {
    padding-top: 7px !important;
  }
  .p-t-12 {
    padding-top: 12px !important;
  }
}

div.limited-character.bom {
  max-width: 264px;
  a{
    font-size: 12px;
  }
}

.orange-text{
  color: #f47721;
}

.option-select-height {
  .mat-optgroup-label {
    height: 2em !important;
  }
}

.hide-select-arrow {
  .mat-select-arrow {
    width: 10px;
    height: 10px;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid;
    margin: 0 4px;
  }

  button.close{
    position: absolute;
    right: 10px;
    z-index: 99;
    opacity: 1;
    font-size: 50px;
    font-weight: 100;
    color: #f47721;
    text-shadow: none;
  }

  .carousel-indicators{
    display: none;
  }
}

.upload-image-info{
  width: 95%;
  margin-left: 30px;
}

.image-info{
  .thumbnail-img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 2px;
  }
}

.image-actions{
  .fa{
    text-decoration: none !important;
  }
}

.upload-img-dialog{
  button.close{
    font-weight: 100;
    font-size: 3em;
    line-height: 10px;
  }

  .modal-title {
    opacity: 0.7;
    line-height: 20px;
    font-size: 18px;
  }

  .modal-body{
    padding: 30px 50px;
  }
}

.img-integration {
  padding: 30px 30px 20px !important;
  .upload-green-tick{
    margin-bottom: 25px;
  }

  span.upload-msg{
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
  }

  .image-integration span.file-limit{
    font-size: 12px;
    color: #666;
  }
}

.uploaded-filename {
  display: block;
  margin-top: 20px;
  position: relative;
  font-size: 14px;
  color: #555555;
}

.upload-error {
  border: 1px solid #f3999b;
  border-radius: 4px;
  padding: 10px 6px;
  font-size: 12px;
  color: #ef7678;
  position: relative;
  background-color: #feeeee;
  width: 75%;
  .fa{
    color: #ef7678;
    font-size: 20px;
  }
}
