.card-project-dialog{
   
    .card-project-name{	
        color: #F47720;		
        font-size: 18px;	
        font-weight: bold;
    }
    .display-material-indent-po-box{
       // justify-content: space-between;
         .box-custom{
        	box-sizing: border-box;	
            height: 59px;	
            width: 100%;	
            border: 1px solid #F5F5F5;	
            background-color: #FFFFFF;	
            box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.5);
            justify-content: center;
            }
            .box-custom:hover{
                 box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.9);
                }
         .purchase-amount{
                color: #4A4A4A;
                font-weight: 500;
                font-size: 13px;
                 }
    }
  .display-material-indent-po-box .box-custom:nth-child(2){
       margin: 0 30px;
   }
    .color-text-card{
        color: #4A4A4A;
    }
}

.project-item-image{
    height: 100%;
    max-width: 200px;
}

@media only screen and (max-width: 1273px) {
.card-project-dashboard{
    .image-big-screen{
        display: none;
    }
    .image-small-screen{
        display: block;
        padding: 0px;
    }
}
}

@media only screen and (max-width: 763px) {
     .tiles{
            .third-item{
                padding-top:10px;
            }
        }
}
@media only screen and (min-width: 1273px) {
.card-project-dashboard{
    .image-big-screen{
        display: block;
        height: 150px;
    }
    .image-small-screen{
        display: none;
    }
}
}
@media only screen and (max-width: 576px){
    .card-project-dashboard{
        .icons{
            display: flex;
            justify-content: flex-end;
        }
        .others{
            display: none;
        }
        .firstOne{
            display: block;
            width : 100%
        }
        .firstOne-details{
            display: block;
            color: #f47721;
            font-size: 12px;
            float: right;
            cursor: pointer;
        }

        .tiles{
            .display-material-indent-po-box{
                padding-left: 5px;
                padding-right: 10px;
            }
            .third-item{
                padding-top:10px;
            }
        }
         .add-project-mobile{
            display: block;
            button{
                position: absolute;
                right: 0%;
                top: 76%;
            }
        }
        .last-row{
            display: none;
        }

    }
}
@media only screen and (min-width: 576px){
    .card-project-dashboard{
        .icons{
            display: flex;
            justify-content: flex-end;
        }
        .others{
            display: block;
            width: 50%;
        }
        .firstOne{
            display: block;
            width : 50%
        }
         .firstOne-details{
            display: none;
            }
        
        .tiles{
            .display-material-indent-po-box{
                padding-left: 5px;
                padding-right: 40px;
            }
        }
        .add-project-mobile{
            display: none;
        }
        .last-row{
            display: block;
        }
    }
}

