.mat-dialog-container {
  border-radius: 10px !important;
}

.text-area-border {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 2px solid #b8b8b8 !important;
}

.mat-form-field-flex-padding {
  .mat-form-field-wrapper .mat-form-field-flex {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 11px !important;
  }
}

.mat-form-field-infix-padding {
  .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    padding-bottom: 0px !important ;
  }
}

.mat-select-placeholder-padding {
  .mat-form-field-infix .mat-select-placeholder {
    padding-bottom: 4px !important;
  }
}

.header-border {
  border-bottom: 1px solid #d0d0d0;
}

.button-background {
  background-color: transparent;
  border: none;
}

.mat-form-field-label-wrapper {
  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-top: 8px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
}
.mat-option-alignment {
  mat-option.mat-option {
    white-space: normal !important;
    line-height: normal !important;
    // overflow: auto;
  }
}

.mat-form-field-flex-top-padding {
  .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 0px !important;
    padding-bottom: 3px !important;
  }
}

.mat-expansion-panel-header-wrapper {
  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header.mat-expanded:hover,
  .mat-expansion-panel-header {
    background: $skyblue-color !important;
    border-radius: 18px 18px 0px 0px !important;
  }
}
.mat-expansion-panel-header-not-expand {
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]),
  .mat-expansion-panel-header:not([aria-disabled="true"]) {
    background: $skyblue-color !important;
    border-radius: 18px 18px 0px 0px !important;
  }
}

.limitcharacter-myMaterialName {
  display: inline-block;
  width: 187px;
  overflow: hidden;
  text-overflow: ellipsis;
}
