/*********************************Alignmentn of Elements**********************************/
.align-item-end {
  align-items: flex-end;
}

.align-item-baseline {
  align-items: baseline;
}
.align-center {
  align-items: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-flex-start {
  justify-content: flex-start;
}

.justify-content-space-around {
  justify-content: space-around;
}
.justify-content-space-between {
  justify-content: space-between;
}
.center-element {
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-webkit-center {
  text-align: -webkit-center;
}
.inline-flex {
  display: inline-flex;
}

.display-flex {
  display: flex !important;
}

.display-block {
  display: block !important;
}
.align-center {
  align-items: center;
}
.pull-left {
  float: left;
}

.text-align-justify {
  text-align: justify !important;
}

.horizontal-align-center {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overflow-break {
  overflow-wrap: break-word !important;
}
/*******************************************************************************/

/***************************Shorten long text with***************************...*/
.limitcharacter-myMaterialName {
  display: inline-block;
  width: 187px;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.limited-character.po-p-m {
  width: 187px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.limited-character.universal {
  width: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}
/********************************************************************************/

/***************************border related****************************************/
.border-bottom-dark {
  border-bottom: 1px solid var(--gray);
}
.border-solid {
  border-bottom: 1px solid;
}

.gray-bottom-border {
  border-bottom: 1px solid $icon-color-gray;
}
.header-border {
  border-bottom: 1px solid #d0d0d0;
}
.not-allowed {
  cursor: not-allowed !important;
}

.button-background {
  background-color: transparent;
  border: none;
}
.border-radius {
  border-radius: 10px !important;
}
.border-radius-tltr-5px {
  border-radius: 5px 5px 0px 0px !important;
}

.border-round {
  border-radius: 10px !important;
}

.border-radius-panel {
  border-radius: 7px 7px 0px 0px !important;
}

.full-border.mat-form-field.mat-focused input {
  border: 2px solid $main-color;
}

.full-border-main {
  border: 2px solid $main-color;
}

.full-border.mat-form-field input {
  border: 2px solid $icon-color-gray;
}
/***************************************************************************************/

/***********************************Input and Dropdown Related Padding*****************/
.mat-form-field-flex-padding {
  .mat-form-field-wrapper .mat-form-field-flex {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 11px !important;
  }
}

.mat-form-field-infix-padding {
  .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    padding-bottom: 0px !important ;
  }
}

.mat-form-field-infix-padding-top {
  .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    padding-top: 0px !important ;
  }
}

.mat-form-field-label-wrapper {
  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-top: 8px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
}

.mat-form-field-label-size {
  .mat-form-field-label-wrapper .mat-form-field-label mat-label {
    font-size: 12px;
  }
}

.mat-form-field-highlight {
  .mat-form-field-wrapper .mat-form-field-flex {
    background-color: #e8e8e8;
    border-radius: 2px;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/***************************************************************************************/

/**************************Modal Related Classes****************************************/
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

/***************************************************************************************/

.password-eye {
  float: left;
  position: absolute;
  right: 10px;
}

.mat-dialog-container {
  border-radius: 10px !important;
}

.text-area-border {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 2px solid #b8b8b8 !important;
}

.date-picker-button-padding {
  .mat-form-field-suffix .mat-button-wrapper {
    padding-left: 16px !important;
  }
}

.breadcrumb {
  background: none;
  font-size: 0.9em;
  margin: 0;
  padding: 0px 0px 0px 17px !important;
  background-color: #ffffff;
  span {
    color: #565655;
    outline: none;
  }
  a:hover,
  span:hover {
    color: $main-color;
    text-decoration: none;
  }
  li {
    list-style: none;
    float: left;
    margin: 5px;
    outline: none;
  }
  li:last-child {
    margin-right: 20px;
  }
  li::after {
    content: "/";
    color: darkgrey;
  }
  li:last-child::after {
    content: "";
  }
}
.tab-body-padding {
  .mat-tab-body-wrapper {
    padding-top: 10px !important;
  }
}

.info:hover #infoIcon {
  display: block;
}

.info #infoIcon {
  display: none;
  background-color: #ffffff;
  color: #000000;
  z-index: 999;
  top: -36px;
  position: relative;
  font-size: 10px;
  padding: 5px 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #d0d0d0;
  overflow-x: hidden;
  max-height: 18vh;
  overflow-y: auto;
  .row {
    width: 175px;
  }
}

.info {
  position: absolute;
}

.hideCalender ngx-mat-drp-picker-overlay .ngx-mat-drp-calendar-item {
  display: none;
}

.mat-form-field-flex-mm-padding {
  .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 3px !important;
  }
}

.mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
  max-width: 100%;
}

.info-icon {
  display: inline-flex;
  text-align: center;
  border: 2px solid #f47720;
  border-radius: 50%;
  padding: 2px 5px;
  cursor: pointer;
  img {
    height: 9px;
  }
}

.info-tootip {
  $this: &;
  &:hover {
    #{$this}__content {
      display: block;
    }
  }
  &__content {
    display: none;
    margin-top: 10px;
    position: absolute;
    left: 10px;
  }
}

.tooltip-info {
  left: auto;
  background: #ffffff;
  border: 1px solid #bbbbbb;
  margin-top: 0px;

  .tooltip-info-header,
  .tooltip-info-body span {
    padding: 0.5em;
  }

  .tooltip-info-header {
    background-color: #eeeeee;
    margin-right: 0px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #bbbbbb;
  }

  .tooltip-info-body {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 27.5vh;
    overflow-y: auto;
    span {
      display: block;
      &:not(:last-child) {
        border-bottom: 1px solid #bbbbbb;
      }
    }
  }
}

.rfp-details-tbl .mat-row {
  &:last-child,
  &:nth-last-child(2),
  &:nth-last-child(3) {
    .mat-column-Total-Supplier .tooltip-info {
      bottom: 10px;
    }
  }
}

.tooltip-table {
  display: block !important;
  max-width: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-left: -62%;
  z-index: 9;
  position: relative;
  text-align: left;
  p {
    border-bottom: 1px solid #e8e8e8;
    margin-left: 1px;
    margin-right: 1px;
    &:last-of-type {
      border-bottom: 0px;
    }
  }
  strong {
    margin-bottom: 2px;
  }
  span {
    margin-left: 3px;
    font-weight: normal;
    text-align: right;
  }
  span,
  strong {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}

.slideToggalColor {
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar,
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $main-color !important;
  }
}

.rt-0 {
  right: 0;
}

.lh30 {
  input {
    line-height: 30px;
  }
}

.main-flex {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: row;
  & > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: row;
  }
}

ngx-mat-drp-picker-overlay {
  overflow: auto;
}

.d-grid {
  display: grid !important;
}

.actv-btn.active {
  font-weight: 500 !important;
  border-bottom: 2px solid #f47721;
  border-radius: 0;
}

.m-stepper {
  .mat-horizontal-stepper-header {
    padding: 0 16px;
  }
  .mat-step-icon {
    height: 16px;
    width: 16px;
    font-size: 11px;
  }
  .mat-step-label {
    display: inline-block;
    font-size: 11px;
    white-space: break-spaces;
    overflow: visible;
    text-overflow: unset;
    min-width: 60px;
    vertical-align: middle;
  }
}

.po-sm-btn {
  min-width: auto !important;
  padding: 0 16px !important;
}

.po-sm-fm {
  .mat-form-field {
    font-size: 12px !important;
  }
}
.label-font-size {
  .mat-form-field-label-wrapper {
    font-size: 14px !important;
  }
}

.mat-list-content-padding {
  .mat-list-item-content {
    padding-right: 0px !important;
    padding-left: 0px !important ;
  }
}

.po-rdbtn {
  vertical-align: sub;
}

.m-popd {
  .mat-horizontal-content-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.m-podr {
  .m-itm {
    &:nth-child(1) {
      order: 2;
    }
    &:nth-child(2) {
      order: 1;
    }
    &:nth-child(3) {
      order: 3;
    }
  }
}

.m-podr1 {
  .m-itm {
    &:nth-child(1) {
      order: 3;
    }
    &:nth-child(2) {
      order: 4;
    }
    &:nth-child(3) {
      order: 1;
    }
    &:nth-child(4) {
      order: 2;
    }
  }
}

.m-podr2 {
  .m-itm {
    &:nth-child(1) {
      order: 4;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 1;
    }
    &:nth-child(4) {
      order: 3;
    }
  }
}

.m-podr3 {
  .m-itm {
    &:nth-child(1) {
      order: 3;
    }
    &:nth-child(2) {
      order: 1;
    }
    &:nth-child(3) {
      order: 2;
    }
  }
}

.m-podr4 {
  .m-itm {
    &:nth-child(1) {
      order: 2;
    }
    &:nth-child(2) {
      order: 3;
    }
    &:nth-child(3) {
      order: 1;
    }
  }
}

.mcrncy {
  img {
    width: 18px;
  }
}

.m-srch {
  .mat-icon-button .mat-icon {
    font-size: 20px !important;
  }
  .mat-form-field {
    display: block !important;
  }
}

.lbm {
  label {
    margin-bottom: 0;
  }
}

.hiddenTooltip {
  position: absolute;
  visibility: hidden;
  left: 0;
  width: 0;
  top: 3em;
}

.cntry {
  min-width: 144px;
  display: inline-block;
}

.sm-btn1 {
  .mat-raised-button {
    line-height: 26px !important;
  }
  .main-button.mat-button-base {
    min-width: auto;
    max-height: 32px;
  }
}

.sidenav-btns {
  img {
    width: 25px;
    max-height: 25px;
  }
}

input [title]:hover {
  font-style: italic;
  color: gray;
}
input::title {
  font-style: italic;
  color: gray;
}

.fltr-btn {
  font-size: 30px !important;
  min-width: auto !important;
  line-height: 18px !important;
  padding: 0 10px !important;
  margin-top: -8px !important;
}

.mb-srch {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  transition: 0.2s;
  background-color: rgba(0, 0, 0, 0.2);

  .sdb {
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
    position: fixed;
  }

  .mb-cl {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #fff;
    right: 0;
    width: 80vw;
    padding: 0;
    overflow-y: auto;
  }

  &__open {
    transform: translateX(0);
  }

  &__close {
    transform: translateX(100%);
  }
}

.line-through {
  text-decoration-line: line-through;
}

/******* Table and Expansion panel height css start *********/
.mat-expansion-panel-header {
  height: 45px !important;
  padding: 0 16px !important;

  .mat-expansion-panel-header-title {
    color: #545454;
    font-weight: 450;
  }
}

.mat-expansion-indicator {
  &:after {
    padding: 5px !important;
    margin-top: -8px;
  }
}

tr.mat-header-row,
thead tr.mat-row {
  height: 50px !important;
}

tr.mat-row,
tr.mat-footer-row {
  height: 42px !important;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 16px !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 16px !important;
}

.mat-header-cell,
.mat-cell {
  border-bottom: none !important;
}

.mat-row {
  .mat-cell {
    color: #545454;
  }

  .actions-cell .mat-icon-button {
    width: auto;
  }
}

.mat-sort-header-arrow {
  color: #ffffff;
  opacity: 0.75 !important;
}

/******* Table and Expansion panel height css end *********/

@media only screen and (max-width: 959px) {
  .adjust-right-padding {
    padding: 0 10px !important;
  }
}

@media (max-width: 599px) {
  .mat-form-field-infix {
    font-size: 13px;
  }

  .ngx-mat-drp-calendar-container {
    display: flex;
    flex-direction: column;
    min-width: auto !important;
    height: auto !important;
  }

  .mat-expansion-panel-header {
    height: 42px !important;
  }

  tr.mat-header-row,
  thead tr.mat-row {
    height: 45px !important;
  }

  .mat-header-cell,
  .mat-cell {
    font-size: 12px;
  }

  .add-user-style .mat-expansion-panel-header-title {
    font-size: 13.5px;
  }
}

@media only screen and (max-width: 330px) {
  .info-tootip:hover .info-tootip__content {
    left: 0px;
  }
}
