.mat-dialog-container {
  border-radius: 10px !important;
}

.text-area-border {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 2px solid #b8b8b8 !important;
}

.mat-form-field-flex-padding {
  .mat-form-field-wrapper .mat-form-field-flex {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 11px !important;
  }
}

.mat-form-field-infix-padding {
  .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    padding-bottom: 0px !important ;
  }
}
.mat-form-field-infix-padding-all {
  .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    padding-bottom: 0px !important ;
    padding-top: 0px !important ;
  }
}
.mat-form-field-arrow-padding {
  .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-select-arrow-wrapper {
    padding-top: 0px !important ;
  }
}

.mat-select-placeholder-padding {
  .mat-form-field-infix .mat-select-placeholder {
    padding-bottom: 4px !important;
  }
}

.header-border {
  border-bottom: 1px solid #d0d0d0;
}

.button-background {
  background-color: transparent;
  border: none;
}

.mat-form-field-label-wrapper {
  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-top: 8px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
}
.mat-option-alignment {
  mat-option.mat-option {
    white-space: normal !important;
    line-height: normal !important;
    // overflow: auto;
  }
}

.mat-form-field-flex-top-padding {
  .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 0px !important;
    padding-bottom: 3px !important;
  }
}

.mat-expansion-panel-header-wrapper {
  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header.mat-expanded:hover,
  .mat-expansion-panel-header {
    background: $skyblue-color !important;
    border-radius: 18px 18px 0px 0px !important;
  }
}
.mat-expansion-panel-header-not-expand {
  .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]),
  .mat-expansion-panel-header:not([aria-disabled="true"]) {
    background: $skyblue-color !important;
    border-radius: 18px 18px 0px 0px !important;
  }
}

.limitcharacter-myMaterialName {
  display: inline-block;
  width: 187px;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.limited-character.po-p-m {
  width: 187px;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.limited-character.universal {
  width: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb {
  background: none;
  font-size: 0.9em;
  margin: 0;
  padding: 0px 0px 0px 17px !important;
  background-color: #ffffff;
  span {
    color: #565655;
    outline: none;
  }
  a:hover,
  span:hover {
    color: $main-color;
    text-decoration: none;
  }
  li {
    list-style: none;
    float: left;
    margin: 5px;
    outline: none;
  }
  li:last-child {
    margin-right: 20px;
  }
  li::after {
    content: "/";
    color: darkgrey;
  }
  li:last-child::after {
    content: "";
  }
}
.tab-body-padding {
  .mat-tab-body-wrapper {
    padding-top: 10px !important;
  }
}

.info:hover #infoIcon {
  display: block;
}

.info #infoIcon {
  display: none;
  background-color: #ffffff;
  color: #000000;
  z-index: 999;
  top: -36px;
  position: relative;
  font-size: 10px;
  padding: 5px 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: 1px solid #d0d0d0;
  overflow-x: hidden;
  max-height: 18vh;
  overflow-y: auto;
  .row {
    width: 175px;
  }
}

.info {
  position: absolute;
}

.hideCalender ngx-mat-drp-picker-overlay .ngx-mat-drp-calendar-item {
  display: none;
}

.mat-form-field-flex-mm-padding {
  .mat-form-field-wrapper .mat-form-field-flex {
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 3px !important;
  }
}

.tx-cst {
  .mat-tab-body-content {
    padding-bottom: 10px;
  }
}

.w-95 {
  width: 95% !important;
}

.mt-56px {
  margin-bottom: 56px;
}

.adtbtn {
  bottom: 0;
  padding-bottom: 17px;
  // position:absolute;
  margin-left: 5px;
}

.tctnc {
  font-size: 12px;
  color: #888888;
}

.info-icon {
  display: inline-flex;
  text-align: center;
  border: 2px solid #f47720;
  border-radius: 50%;
  padding: 2px 5px;
  cursor: pointer;
  img {
    height: 9px;
  }
}

.info-tootip {
  $this: &;
  &:hover {
    #{$this}__content {
      display: block;
    }
  }
  &__content {
    display: none;
    margin-top: 10px;
    position: absolute;
  }
}

.tooltip-table {
  display: block !important;
  max-width: 200px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-left: -55%;
  font-size: 12px;
  text-align: left;
  p {
    border-bottom: 1px solid #e8e8e8;
    margin-left: 1px;
    margin-right: 1px;
  }
  strong,
  span {
    margin: 2px;
  }
}
.slideToggalColor {
  .mat-slide-toggle.mat-checked .mat-slide-toggle-bar,
  .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: $main-color !important;
  }
}
