.rfq-custom-mat-width {
  .mat-column-Estimated-Rate,
  .mat-column-Estimated-Rate .mat-form-field {
    max-width: 120px;
  }
  .mat-column-Quantity,
  .mat-column-Quantity .mat-form-field {
    max-width: 100px;
  }
  .mat-column-Makes,
  .mat-column-Makes .mat-form-field {
    max-width: 150px;
  }

  .mat-column-Fullfillment-Date,
  .mat-column-Fullfillment-Date .mat-form-field {
    max-width: 100px;
  }

  .mat-column-material-name,
  .mat-column-material-name .mat-form-field {
    max-width: 100px;
  }
}

.customWidth {
  flex: 0 0 75px !important;
}
