

.forget-pass-form{
   .mat-form-field-appearance-legacy .mat-form-field-wrapper{
        width: 100%;
    }
   
   .password-forget{
       width: 100% !important;
   }
    .mat-form-field-flex{
        padding-left: 0px !important;
    }
    
    small{
        color: red;
        font-size: 12px;
    }
    .phone-number{
        .mat-form-field-appearance-legacy .mat-form-field-infix{
    display: flex;
    justify-content: space-between;
}
    }

    .main-button.mat-button-base {
     border: 2px solid #f47721 !important;
    min-width: 58px;
    border-radius: 25px;
    font-weight: 500;
    padding-right: 30px;
    font-size: 12px;
}
.signupForm-error-msg.p-l-12{
    padding-left: 12px;
}
}

.form-design-forget {
    padding-top: 25%;
    width: 75%;
    margin: auto;
}

.logo-img{
    width: 250px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #f47721;
}

.tab-signin-up{

        .mat-tab-header {
            display: flex;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
        }
        .mat-tab-header-pagination-before .mat-tab-header-pagination-chevron, .mat-tab-header-rtl .mat-tab-header-pagination-after .mat-tab-header-pagination-chevron{
            display: none;
        }
        .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
            display: none;
        }
        .mat-tab-label{
            min-width : 50%;
        }

}

    .heading-forget{
        font-size: 22px;
        font-weight: 500;
        .otp{
            display: flex;
            img{
                width: 25px;
                height: 29px;
                padding-top: 4px;
                cursor: pointer;
            }
            div{
                padding-left: 10px;
            }
        }
    }
     .heading-des-forget{
         padding-top:10px;
        font-size: 14px;
        font-weight: 450;
        color: #6e6b6b;
    }

    @media only screen and (max-width: 1195px){
        .form-design-forget {
                padding-top: 0px;
                width: 75%;
                margin: auto;
            }

    }