.custom-stepper {

    .mat-stepper-horizontal-line,
    .mat-step-icon {
        display: none !important;
    }
}

.custom-header-height {

    .mat-horizontal-stepper-header-container,
    .mat-step-header {
        height: 25px
    }
}

.custom-po-radio {
    .mat-radio-button {
        display: block;
    }
}

.approver-tbl{
    .mat-row .mat-cell:first-child {
        border-left: 1px solid #e1e1e1;
    }

    .mat-row .mat-cell:last-child {
        border-right: 1px solid #e1e1e1;
    }
}

.mat-last-cell{
    width: 100px;
    flex: 0 0 100px !important;
}