.widthWrapper {
  .ngx-mat-drp-date-display {
    min-width: 90% !important;
    width: 98% !important;
  }

  .ngx-mat-drp-date-input {
    color: $main-color !important;
  }
}

ngx-mat-drp-picker-overlay .ngx-mat-drp-calendar-item .mat-calendar-header {
  padding: 0px !important;
}

ngx-mat-drp-picker-overlay {
  .ngx-mat-drp-date-input,
  .ngx-mat-drp-presets-list,
  .ngx-mat-drp-calendar-container {
    color: $main-color !important;
  }
}

.ngx-mat-drp-menu ul.ngx-mat-drp-presets-list li {
  color: $main-color !important;
}

.ngx-mat-drp-menu ul.ngx-mat-drp-presets-list li:hover,
.ngx-mat-drp-menu ul.ngx-mat-drp-presets-list li:active,
.ngx-mat-drp-menu ul.ngx-mat-drp-presets-list li:focus {
  color: $white-color !important;
  background-color: $skyblue-color !important;
}

td .mat-calendar-body-selected {
  background-color: $main-color !important;
}

.ngx-mat-drp-controls .mat-button.mat-primary {
  color: $main-color !important;
}

.mat-calendar-table-header th {
  padding: 0px !important;
}

@media (max-width: 599px) {
  .widthWrapper {
    .ngx-mat-drp-date-display {
      min-width: 100% !important;
      width: 1000% !important;
    }
  }
}

.wdrpr-mb {
  margin-top: -1px;
}

.wdpw-100 {
  .mat-form-field {
    width: 100% !important;
    padding-right: 10px;
  }
  .ngx-mat-drp-date-input {
    color: $main-color !important;
  }
}

.input-font-size {
  .mat-form-field-infix .ngx-mat-drp-date-input {
    font-size: 11px;
  }
}
.input-font-size-large {
  .mat-form-field-infix .ngx-mat-drp-date-input {
    font-size: 14px;
  }
}
