.customPo {
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    border-bottom: none;
  }
  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
  }

  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
  }

  $mat-header-row-height: 56px;
  $mat-row-height: 48px;
  $material-row-height: 77px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
  }

  .mat-row {
    min-height: $mat-row-height;
  }
  .material-row {
    min-height: $mat-row-height;
  }

  .mat-row,
  .material-row,
  .mat-header-row {
    display: flex;
    align-items: center;
    padding: 0 $mat-row-horizontal-padding;
    box-sizing: border-box;
  }

  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    color: black;
  }

  .widthReduce {
    flex: none;
    width: 55px;
  }

  .mat-header-row {
    background: #2197bb;

    span {
      color: #ffffff !important;
    }
  }

  .po-table {
    .mat-row {
      border-bottom: 0.5px solid #979797;
      min-height: 50px;

      .mat-cell {
        color: #707070;
      }
    }

    .material-row {
      border-bottom: 0.5px solid #979797;
      .mat-cell {
        color: #707070;
      }
    }
    .footer {
      background-color: rgba(25, 33, 53, 0.2);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      min-height: 70px;

      .mat-cell {
        color: #000000;
        font-weight: 500;
        font-size: 12px;
      }
    }
  }

  .radio-btn-group-po-table {
    padding-right: 10px;

    mat-radio-button {
      padding: 0px 5px;
    }
  }

  .mat-row:focus {
    background-color: white;
  }
}

.hidePoweredBy {
  a#logo {
    visibility: hidden;
  }
}

.add-address-dialog-div-main {
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-top: 7px !important;
  }
}
.dropdownPadding {
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding: 0px !important;
  }
}
s .validTill {
  .mat-form-field-infix {
    padding: 0px;
  }
}

.po-custom-mat-width {
  .mat-column-PO-Number,
  .mat-column-PO-Number .mat-form-field {
    max-width: 100px;
  }
  .mat-column-Raised-Date,
  .mat-column-Raised-Date .mat-form-field {
    max-width: 100px;
  }
  .mat-column-Supplier-Name,
  .mat-column-Supplier-Name .mat-form-field {
    max-width: 150px;
  }

  .mat-column-Total-Material,
  .mat-column-Total-Material .mat-form-field {
    max-width: 50px;
  }

  .mat-column-PO-Amount,
  .mat-column-PO-Amount .mat-form-field {
    max-width: 100px;
  }

  .mat-column-Action,
  .mat-column-Action .mat-form-field {
    max-width: 150px;
  }
}

.add-grn-container-popup{
      width: 100%;
.mat-table {
      width: 100%;
      overflow-x: scroll;
    }

}

.add-grn-container {
  width: 100%;
  min-width: 0px;
  overflow-x: auto;

.mat-table {
      overflow-x: scroll;
    }

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 2%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-weight: 500;
}
  .brand-name{
      text-align: left;
    }
.mat-row,
.mat-header-row {
    display: table-row;
}
.grn-material-name{
  text-align: left;
}
}


.example-container {
  width: 100%;
  min-width: 0px;
  overflow-x: auto;

.mat-table {
      overflow-x: scroll;
    }

.mat-cell,
.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 2%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-weight: 500;
}
.mat-row,
.mat-header-row {
    display: table-row;
}

}

@media only screen and (max-width : 576px){
  .example-container {
    .mat-cell,
    .mat-header-cell {
      font-size: 12px;
    }
  }
  .add-grn-container {
    .mat-cell,
    .mat-header-cell {
      font-size: 12px;
    }
    .brand-name{
      text-align: left;
    }
  }
  .add-user-container{
     .mat-cell,
    .mat-header-cell {
      font-size: 12px;
    }
    .project-user-details-width{
      button{
        font-size: 12px;
    }
  }
  }
  .po-number-grn{
    font-size: 14px;
  }
  .font-size-vary-grn{
    font-size: 12px;
  }
}
@media only screen and (min-width:576){
  .font-size-vary-grn{
    font-size: 14px;
  }
}



.po-view{
  .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-top : 0px !important;
    font-size: 12px;
     .mat-form-field-infix{
       margin-top: -10px;
   }
  }
  .border-bottom-po-view{
    border-bottom: 1px solid #000000;
  }
 .header-card-po {
    color: #5F5F5F;
    font-weight: 500;
    font-size: 16px;

}

}


.customPo .mat-cell, .customPo .mat-header-cell{
  min-width: 100px;
}
.customPo .po-table .material-row .mat-cell{
  min-width: 100px;
}
.customPo .po-table{
  .total-amount{
    margin-right: -15px;
  }
}
.froala-design{
  padding: 0;
  padding-bottom: 10px;
}
.no-terms-window{
  min-height: 100px;
}