@media only screen and (max-width: 767px){
  .report{
    .showResponsiveReport{
      display: flex;
    }
    .column-1{
      order: 2;
    }
    .column-2{
      order: 2;
    }
    .column-3{
      order: 1;
    }
    .column-4{
      order: 2;
    }
    .showResponsiveReportSecond{
      display: flex;
    }
    .report-image{
      padding-top:14%;
    }
    .show-amount{
      padding-top: 30px;
    }
  }  
}
@media only screen and (min-width: 767px){
  .report{
    .showResponsiveReportSecond{
      display: none;
    }
    .showResponsiveReport{
      display: flex;
    }
    .report-image{
      padding-top:15px;
    }
    .show-amount{
      padding-top: 10px;
    }
  }  
}


.report{
  .mat-select-arrow-wrapper{
    padding-top: 10px;
  }
  .backgound-total-amount{
    background: #d6d3d3;
    font-weight: 500;
    padding-right: 40px !important;
  }
  .mat-select-value{
    padding-top: 5px;
  }
}

// Table Responsive Report ::

.reportTablePo {
  width: 100%; 
  overflow-x: auto;
  table{
    width: 100%;
  }
  td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
    border-bottom: none;
  }
  .mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
  }

  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
  }

  $mat-header-row-height: 56px;
  $ctc-mat-header-row-height: 75px;
  $mat-row-height: 48px;
  $material-row-height: 77px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
    height: auto
  }

  .mat-header-row.ctc-report-header-row{
    height: auto;
    padding-right: 42px;
  }

  .mat-row {
    min-height: $mat-row-height;
  }
  .material-row {
    min-height: $mat-row-height;
  }

  .mat-row,
  .material-row,
  .mat-header-row {
    display: flex;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    color: black;
  }

  .widthReduce {
    flex: none;
    width: 55px;
  }

  .mat-header-row {
    background: #2197bb;
    padding-right: 40px;

    span {
      color: #ffffff !important;
    }
  }

  .report-table {
    .mat-row {
      min-height: 50px;

      .mat-cell {
        color: #707070;
      }
    }
    .border-row{
      border-bottom: 0.5px solid #979797;
     }
     .background-supplier{
       background: #EFFBFF;
     }
     .background-project{
      background: #eaeaea;
    }
    .background-project-list{
      background: #EFEFEF;
      padding-right: 40px;
      padding-left: 10px;
      border-left: 4px solid #2196ba;
      border-bottom: 1px solid #cccccc;
    }
    .material-row {
      min-height: 38px;
      .mat-cell {
        color: #707070;
      }
    }
    .footer {
      background-color: rgba(25, 33, 53, 0.2);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      min-height: 70px;

      .mat-cell {
        color: #000000;
        font-weight: 500;
        font-size: 12px;
      }
    }

    .background-category{
      background-color: #D5D5D5 !important;
      .material-row {
        background-color: #D5D5D5 !important;
        border-bottom: 0.5px solid #979797;
      }
    }

    .background-projects{
      background-color: #ACACAC !important;
      .material-row td{
        color: #000;
      }
    }

    .mat-expansion-indicator:after{
      padding: 6px;
    }
  }

  .radio-btn-group-report-table {
    padding-right: 10px;

    mat-radio-button {
      padding: 0px 5px;
    }
  }

  .mat-row:focus {
    background-color: white;
  }

  .mat-expansion-panel-header{
    padding-left: 0px;
    padding-right: 12px;
    // background: #979797;
  }
  .mat-expansion-panel-body{
    padding: 0;
  }

  .mat-content{
    padding-right: 4px;
  }
}
.reportTablePo .mat-cell, .reportTablePo .mat-header-cell{
  min-width: 130px;
  padding: 0 5px;
}
.reportTablePo .mat-cell, .reportTablePo .mat-header-cell.widthReduce{
  min-width: 50px;
  padding: 0 5px;
}
.reportTablePo .report-table .material-row .mat-cell.widthReduce{
  min-width: 50px;
  padding: 0 5px;
}
.reportTablePo .report-table .material-row .mat-cell{
  min-width: 130px;
  padding: 0 5px;
}
.reportTablePo .report-table .material-row{
  width: 100% !important;
}

.ctc-report .mat-select-panel-wrap{
  margin-left: 40px;
}

.select-all-checkbox {
  background-color: #eae8e8;
}

@media only screen and (max-width: 410px){
  .report {
    .show-amount{
      width: 50px;
    }
    .add-project-btn{
      text-align: right;
      justify-content: flex-end;
    }
  }
}