.reportTablePo {
  width: 100%; 
  overflow-x: auto;

  .report-table{
    width: 100%;
  }

  .mat-header-cell, .mat-cell{
    border-bottom: none !important;
  }

  .mat-row, .mat-header-row, .liability-row, .ctc-row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

  .liability-row, .ctc-row{
    td.mat-cell:first-of-type {
      padding-left: 0px !important;
    }
  }

  .mat-cell, .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    color: black;
  }

  .mat-header-row {
    background: #2197bb;
    padding-right: 2rem;
    span {
      color: #ffffff !important;
    }
  }

  .mat-expansion-panel-body{
    padding: 0;
  }
  
  .mat-expansion-panel:not([class*=mat-elevation-z]){
    box-shadow: none;
  }

  .bg-suppliers, .bg-projects, .bg-po-data, .bg-total-amount, .bg-ctc-projects, .bg-category, .bg-project-list, .bg-ctc-total-amount{
    border-bottom: 1px solid #bbbbbb;
  }

  .bg-suppliers, .bg-projects, .bg-po-data, .bg-ctc-projects, .bg-category, .bg-project-list{
    .mat-cell{
      color: #545454;
    }
  }

  .bg-suppliers, .bg-ctc-projects{
    background-color: #d3d6dd !important;
  }

  .bg-projects, .bg-category{
    background-color: #eeeeee !important;
  }
  
  .bg-total-amount, .bg-ctc-total-amount{
    background-color: #A9AEBC !important;
  }

  .bg-po-data, .bg-project-list, .bg-total-amount, .bg-ctc-total-amount{
    min-height: 42px;
    height: auto;
  }

  .bg-po-data, .bg-total-amount{
    padding: 0 2rem 0 16px;
  }

  .bg-project-list, .bg-ctc-total-amount{
    padding: 0 1.75rem 0 16px;
  }

  .ctc-header-row{
    padding: 0 1.75rem 0 0;
  }
}

.info-tooltip {
  font-size: 14px !important;
}

.report-header{
  font-size: 20px;
}

.ctc-report{
  .projected-cost-col, .balance-cost-col{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    .cell1{
      flex: 1;
    }
  }

  .reportTablePo{
    .ctc-header-row .mat-unit-cell, .ctc-row .mat-unit-cell{
      flex: 0.5;
    }
  }
}

.mat-expansion-panel-header {
  min-height: 42px !important;
  height: auto !important;
}

@media only screen and (max-width: 1199px) and (min-width: 992px){
  .ctc-report{
    tr.mat-header-row, thead tr.mat-row{
      height: auto !important;
      min-height: 50px;
    }
  }
}

@media only screen and (max-width: 1023px){
  .report-header{
    padding-left: 0px;
  }

  .ctc-report-header{
    padding-left: 6px;
  }
}

@media only screen and (max-width: 991px){
  .ctc-report-tbl{
    .mat-cell, .mat-header-cell{
      min-width: 150px;
    }

    .mat-unit-cell{
      min-width: 80px;
    }
  }
}

@media only screen and (max-width: 767px){
  .reportTablePo{
    .mat-cell, .mat-header-cell{
      min-width: 150px;
    }

    .mat-cell {
      padding-right: 10px;
    }

    .bg-suppliers, .bg-projects, .bg-po-data{
      .mat-cell:last-of-type{
        padding-right: 20px !important;
      }
    }
  }

  .liability-report{
    .mobile-extra-col{
      order: 1;
      flex-basis: 70%;
      max-width: 70%;
    }

    .mobile-display-amount, .add-project-btn{
      margin-bottom: 0.5rem;
    }

    .mobile-display-amount{
      order: 2;
      flex-basis: 20%;
      max-width: 20%;
      text-align: right;
      padding-top: 0.2rem;
    }

    .add-project-btn{
      order: 3;
      flex-basis: 10%;
      max-width: 10%;
    }

    .select-projects{
      order: 4;
    }

    .select-suppliers{
      order: 5;
    }

    .report-header{
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: 657px){
  .liability-report {
    .mobile-display-amount{
      flex-basis: 22%;
      max-width: 22%;
    }

    .mobile-extra-col{
      flex-basis: 68%;
      max-width: 68%;
    }
  }
}

@media only screen and (max-width: 599px){
  .liability-report, .ctc-report {
    padding-top: 0rem !important;
  }

  .report-header {
    font-size: 16px;
  }
}

@media only screen and (max-width: 464px){
  .liability-report {
    .mobile-display-amount{
      flex-basis: 30%;
      max-width: 30%;
    }

    .mobile-extra-col{
      flex-basis: 60%;
      max-width: 60%;
    }
  }
}

@media only screen and (max-width: 342px){
  .liability-report {
    .liability-header-row{
      height: auto !important;
    }
  }
}