@import "../base/variables.scss";

.customBid {
  .mat-expansion-panel-header {
    background-color: #ffffff !important;
  }

  .rfp-bids-tbl .mat-header-cell, .rfp-bids-tbl .mat-cell{
    border-bottom: none;
  }

  .mat-table {
    display: block;
  }

  .mat-header-row {
    background: #2297bb;
    span {
      color: #ffffff !important;
    }
  }

  .mat-row,
  .mat-header-row {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
  }

  input.quantity {
    width: 3rem !important;
  }

  .mat-expansion-panel-body {
    padding: 0px !important;
  }

  .material-details-row{
    background-color: #eeeeee;
  }

  .supplier-details-row, .material-details-row{
    border-bottom: 1px solid #bbbbbb;
  }

  .makes-details-row{
    td.mat-cell:first-of-type{
      padding-left: 0px !important;
    }

    td.mat-cell:last-of-type{
      padding-right: 0px !important;
    }
  }

  .supplier-details-row{
    height: 45px !important;
  }

  ::-webkit-input-placeholder {
    text-align: left;
  }

  /* mozilla solution */
  input::placeholder {
    text-align: left;
  }

  .supplierLevel {
    background-color: white;
    .col-sm-2:first-child {
      color: #5f5f5f;
      font-weight: 500;
    }
  }

  .supplierLevel:focus,
  .supplierLevel:hover {
    background-color: white;
  }

  .mat-form-field-infix {
    width: 100% !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-top: 0px !important;
  }

  .mat-expansion-panel-header.rfqbid-header-color {
    background-color: (169, 174, 188, 0.21) !important;
  }

  .supplierLevel {
    border: 1px solid #edebeb;
    border-top: none;
  }

  .w-12 {
    max-width: 12%;
    flex-basis: 12%;
  }

  .margin-right:not(:last-child) {
    margin-right: 30px;
  }
}

.rfq-list-detail-custom {
  .mat-row .mat-cell {
    min-width: 80px;
  }
}

.mat-horizontal-stepper-content {
  .select-project {
    .mat-form-field-wrapper {
      padding-top: 0px !important;
    }
  }
}

.mat-form-field-padding {
  .mat-form-field-wrapper {
    padding-top: 0px !important;
  }
}

.date-button {
  .mat-button-wrapper {
    padding-left: 3px !important;
    padding-top: 4px !important;
  }
}

.white-space-nowrap {
  white-space: nowrap;
}

.select-address-tag, .reset-form-tag{
  font-size: 14px;
  color: #f47721;
  font-weight: 550;
  cursor: pointer;
  margin-top: 20px;
}

.select-address-tag {
  float: left;
  text-decoration: underline;
}

.reset-form-tag {
  float: right;
}

.select-address-tag-disabled {
  float: left;
  padding-left: 28px;
  font-size: 14px;
  color: #d0d0dd;
  text-decoration: underline;
  font-weight: 550;
}

.ratings {
  margin: 0 0 10px 4px;

  .fa{
    margin-left: 5px;
  }

  .fa-star-o {
    color: #c5c4c4;
  }
  .fa-star{
    color: #f47721;
  }
}

.supplier-company label{
  margin-bottom: 0;
}

.image-heading{
  text-align: left;
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
}

.supplier-img-heading{
  width: 95%;
  margin-left: 30px;
}

.supplier-bid-imgs{

  max-width: 130px;
  min-width: 130px;

  .images-lists {
    .attached-image{
      position: relative;
    }

    .attached-image:first-child {
      top: -8px;
      left: 0px;
    }

    .attached-image:nth-child(2) {
      left: 6px;
      top: -2px;
      position: absolute;
    }

    .attached-image:nth-child(3) {
      left: 12px;
      top: 4px;
      position: absolute;
    }
  }

}

.view-bid-images-preview .images-lists{
  position: relative;
  .attached-image {
    position: relative;

    &:first-child{
      top: 20px;
      left: 10px;
    }

    &:nth-child(2){
      left: 16px;
      top: -21px;
    }

    &:nth-child(3){
      left: 23px;
      top: -60px;
    }

    &:nth-child(4), &:nth-child(5){
      display: none;
    }
  }
}

.po-images-list{
  min-height: 70px;
  max-height: 75px;

  .default-image{
    margin-top: 10px;
  }
}

.po-images-list {
  .images-lists{
    .attached-image{
      position: relative;
      &:first-child{
        top: -30px;
        left: 0px;
      }

      &:nth-child(2){
        left: 6px;
        top: -70px;
      }

      &:nth-child(3){
        left: 13px;
        top: -109px;
      }
    }
  }

  .images-lists.single-image{
    .attached-image:first-child {
      top: 12px;
      left: -4px;
    }
  }

  .images-lists.double-images{
    .attached-image{
      &:first-child {
        top: 10px;
        left: -4px;
      }

      &:nth-child(2) {
        left: 3px;
        top: -28px;
      }
    }
  }

  .images-lists.triple-images{
    .attached-image{
      &:first-child {
        top: 10px;
        left: -4px;
      }

      &:nth-child(2) {
        left: 2px;
        top: -30px;
      }

      &:nth-child(3) {
        left: 8px;
        top: -70px;
      }
    }
  }
}

th.attached-images-col.mat-column-Attached-Images {
  max-width: 80px;
  white-space: normal;
}

th.fulfillment-date-col.mat-column-Fullfillment-Date {
  max-width: 130px;
}

tr.tbl-body-cols.mat-row {
  height: 65px;
}

.attached-images-col .images-lists{
  .attached-image{
    &:first-child{
      top: -36px;
      left: 20px;
    }

    &:nth-child(2){
      top: -30px;
      left: 26px;
    }

    &:nth-child(3){
      top: -24px;
      left: 32px;
    }
  }
}

.view-bid-images-preview{
  .images-lists.single-image{
    .attached-image:first-child {
      left: 0;
      top: 0;
      margin: auto;
    }
  }

  .images-lists.double-images{
    .attached-image:first-child {
      left: 42px;
      top: 18px;
    }

    .attached-image:nth-child(2) {
      left: 48px;
    }
  }

  .images-lists.triple-images{
    .attached-image:first-child {
      left: 38px;
      top: 36px;
    }

    .attached-image:nth-child(2) {
      left: 44px;
      top: -2px;
    }

    .attached-image:nth-child(3) {
      left: 50px;
      top: -40px;
    }
  }
}

.tax-dialog{
  .plus-btn{
    padding-top: 1em;
  }
}

/** view bid page - view rating and supplier rates column distortion css fixes **/
@media only screen and (max-width: 1332px){
  .view-bid-tbl{
    max-width: 20% !important;
  }

  .supplier-rate-col-bid {
    max-width: 15% !important;
  }
}

@media only screen and (max-width: 767px){
  
}

@media only screen and (max-width: 767px) and (min-width: 600px){
  .ref-detail {
    .project{
      padding-left: 8px;
      width: 75% !important;
    }

    advance-search {
      margin: 10px 0 10px;
      display: block;
    }
  }
}

@media only screen and (max-width: 645px){
  .tax-dialog{
    .width-mobile{
      width: 93% !important;
    }

    .plus-btn{
      margin-left: 6px;
    }
  }
}