@import "../base/variables.scss";

.customBid {
  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header.mat-expanded:hover {
    // background: $background-color-grey !important;
    background-color: rgba(169, 174, 188, 0.21) !important;
  }

  .mat-expansion-panel-header {
    background-color: rgba(169, 174, 188, 0.21) !important;
  }

  .mat-accordion .mat-header-row {
    padding-right: 2rem;
    border-bottom: none;
  }

  .mat-expansion-panel-header.mat-row {
    border-bottom: none;
  }

  $mat-header-row-height: 56px;
  $mat-row-height: 52px;
  $mat-row-horizontal-padding: 24px;

  .mat-table {
    display: block;
  }

  .mat-header-row {
    min-height: $mat-header-row-height;
    background: #2297bb;

    span {
      color: #ffffff !important;
    }
  }

  .mat-row {
    min-height: $mat-row-height;
  }

  .mat-row,
  .mat-header-row {
    display: flex;
    align-items: center;
    box-sizing: border-box;

    // Workaround for https://goo.gl/pFmjJD in IE 11. Adds a pseudo
    // element that will stretch the row the correct height. See:
    // https://connect.microsoft.com/IE/feedback/details/802625
    // &::after {
    //   display: inline-block;
    //   min-height: inherit;
    //   content: '';
    // }
  }

  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    color: black;
  }

  input.quantity {
    width: 3rem !important;
  }

  .mat-expansion-panel-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  ::-webkit-input-placeholder {
    text-align: left;
  }

  /* mozilla solution */
  input::placeholder {
    text-align: left;
  }

  .supplierLevel {
    background-color: white;
    .col-sm-2:first-child {
      color: #5f5f5f;
      font-weight: 500;
    }
  }

  .mat-expansion-panel:hover {
    background-color: rgba(169, 174, 188, 0.21);
  }

  .supplierLevel:focus,
  .supplierLevel:hover {
    background-color: white;
  }

  .mat-form-field-infix {
    width: 100% !important;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-top: 0px !important;
  }

  .mat-expansion-panel-header.rfqbid-header-color {
    background-color: (169, 174, 188, 0.21) !important;
  }

  .supplierLevel {
    border: 1px solid #edebeb;
    border-top: none;
  }

  .mat-accordion .mat-expansion-panel-header,
  .rfqbid-header-color {
    background: rgba(169, 174, 188, 0.21) !important;
    border: 1px solid #979797;
    color: #707070;
    font-weight: 500;
  }

  .mat-accordion .mat-expansion-panel-header {
    min-height: 50px;
  }

  .w-12 {
    max-width: 12%;
    flex-basis: 12%;
  }

  .margin-right:not(:last-child) {
    margin-right: 30px;
  }
}

.rfq-list-detail-custom {
  .mat-row .mat-cell {
    min-width: 80px;
  }
  tr.mat-header-row {
    height: 45px;
  }
  .mat-expansion-panel-header {
    min-height: 48px;
  }
}

// .customBid .mat-expansion-panel-header,
// .customBid .mat-expansion-panel-header.mat-expanded,
// .customBid .mat-expansion-panel-header.mat-expanded:focus,
// .customBid .mat-expansion-panel-header.mat-expanded:hover {
//   background-color: #ffffff !important;
// }

.rfqbid-header-color {
  background-color: (169, 174, 188, 0.21) !important;
}

.mat-horizontal-stepper-content {
  .select-project {
    .mat-form-field-wrapper {
      padding-top: 0px !important;
    }
  }
}

.mat-form-field-padding {
  .mat-form-field-wrapper {
    padding-top: 0px !important;
  }
}

.date-button {
  .mat-button-wrapper {
    padding-left: 3px !important;
    padding-top: 4px !important;
  }
}

.white-space-nowrap {
  white-space: nowrap;
}

.select-address-tag {
  float: left;
  width: auto;
  padding-left: 28px;
  font-size: 14px;
  color: #f47721;
  text-decoration: underline;
  font-weight: 550;
  cursor: pointer;
}
.select-address-tag-disabled {
  float: left;
  width: auto;
  padding-left: 28px;
  font-size: 14px;
  color: #d0d0dd;
  text-decoration: underline;
  font-weight: 550;
}
.reset-form-tag {
  float: right;
  width: 24%;
  font-size: 14px;
  color: #f47721;
  font-weight: 550;
  cursor: pointer;
}

.ratings {
  margin: 0 0 10px 4px;

  .fa{
    margin-left: 5px;
  }

  .fa-star-o {
    color: #c5c4c4;
  }
  .fa-star{
    color: #f47721;
  }
}

.supplier-company label{
  margin-bottom: 0;
}

.rfq-final-step, .rfq-view-step{
  width: 100%;
  tr.mat-footer-row, tr.mat-row{
    height: 66px;
  }

  .images-lists .attached-image:first-child {
    top: -28px;
    left: 80px;
  }

  .images-lists .attached-image:nth-child(2) {
    left: 86px;
    top: -23px;
  }

  .images-lists .attached-image:nth-child(3) {
    left: 92px;
    top: -17px;
  }
}

.image-heading{
  text-align: left;
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
}

.supplier-img-heading{
  width: 95%;
  margin-left: 38px;
}

.supplier-bid-imgs{

  .images-lists {
    .attached-image{
      position: relative;
    }

    .attached-image:first-child {
      top: -8px;
      left: 0px;
    }

    .attached-image:nth-child(2) {
      left: 6px;
      top: -2px;
      position: absolute;
    }

    .attached-image:nth-child(3) {
      left: 12px;
      top: 4px;
      position: absolute;
    }
  }

}

.view-bid-images-preview .images-lists{
  position: relative;
  .attached-image {
    position: relative;

    &:first-child{
      top: 20px;
      left: 10px;
    }

    &:nth-child(2){
      left: 16px;
      top: -21px;
    }

    &:nth-child(3){
      left: 23px;
      top: -60px;
    }

    &:nth-child(4), &:nth-child(5){
      display: none;
    }
  }
}

.rfq-final-step .float-rfq-img-stack{
  .attached-image{
    &:first-child{
      left: 39px;
    }

    &:nth-child(2){
      left: 45px;
    }

    &:nth-child(3){
      left: 52px;
    }
  }
}