.select-project{
    &__title {
        margin: 10px -20px 0;
        border-bottom: 1px solid #414141;
        padding: 0 20px 5px;
    }

    .mat-dialog-title{
        font-size: 20px;
    }

    .mat-radio-button {
        width: 100%;
        border-bottom: 1px solid #DFDFDF;
        padding: 10px 0;
    }

    .mat-radio-container{
        margin-top: -24px;
    }

    .mat-radio-label{
        margin-bottom: 0;
    }

    .mat-radio-label-content{
        width: 100%;
    }

    &__name{
        color: #F47720;
        font-weight: 500;
        flex: 0 0 35%;
        margin-left: 40px;
    }

    &__no-projects{
        img{
            width: 200px;
        }

        h5{
            font-size: 16px;
            color: #4B4B4B;
        }

        button.close{
            font-size: 2rem;
        }
    }
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
    background-color: #F47720;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #F47720;
}

.gray-clr{
color:#828282;
}