.sign-in-form{
    mat-form-field{
        width: 100%;
    }
    small{
        color: red;
        font-size: 12px;
    }
}
.sign-up-form{
    mat-form-field{
        width: 100%;
    }
    .mat-form-field-flex{
        padding-left: 0px !important;
    }
    .mat-select-arrow-wrapper{
        padding-top:13px !important;
    }

    small{
        color: red;
        font-size: 12px;
    }
}

.signup-image{
    height: 112vh;
    object-fit: cover;
}

.login-image{
    height: 100vh;
    object-fit: cover;
}

.form-design {
    width: 75%;
    margin: auto;
}

.logo-img{
    width: 250px;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: #f47721;
}

.tab-signin-up{

        .mat-tab-header {
            display: flex;
            overflow: hidden;
            position: relative;
            flex-shrink: 0;
        }
        .mat-tab-header-pagination-before .mat-tab-header-pagination-chevron, .mat-tab-header-rtl .mat-tab-header-pagination-after .mat-tab-header-pagination-chevron{
            display: none;
        }
        .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
            display: none;
        }
        .mat-tab-label{
            min-width : 50%;
        }

}