.sign-in-form {
  mat-form-field {
    width: 100%;
  }
  small {
    color: red;
    font-size: 12px;
  }
}
.sign-up-form {
  mat-form-field {
    width: 100%;
  }
  .mat-form-field-flex {
    padding-left: 0px !important;
  }

  small {
    color: red;
    font-size: 12px;
  }
  .phone-number {
    .mat-form-field-appearance-legacy .mat-form-field-infix {
      display: flex;
      justify-content: space-between;
    }
  }

  .main-button.mat-button-base {
    border: 2px solid #f47721 !important;
    // min-width: 58px;
    border-radius: 25px;
    font-weight: 500;
    // padding-right: 30px;
    font-size: 12px;
  }
  .signupForm-error-msg.p-l-12 {
    padding-left: 12px;
  }
}

.signup-image {
  height: 100vh;
  object-fit: cover;
}

.login-image {
  height: 100vh;
  object-fit: cover;
}

.form-design {
  width: 75%;
  margin: auto;
}

.logo-img {
  width: 250px;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background: #f47721;
}

.tab-signin-up {
  .mat-tab-header {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
  }
  .mat-tab-header-pagination-before .mat-tab-header-pagination-chevron,
  .mat-tab-header-rtl .mat-tab-header-pagination-after .mat-tab-header-pagination-chevron {
    display: none;
  }
  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }
  .mat-tab-label {
    min-width: 50%;
  }
}

.signupForm-error-msg.resend-otp {
  float: right;
  font-weight: 500;
  padding-top: 10px;
  color: #f47721 !important;
  cursor: pointer;
}

.otp-btn{
  min-width: 60px !important;
}

.sign-in-up{
  .mat-tab-body-content{
    overflow: hidden !important;
  }
}

.si-gn{
  .mat-form-field-infix{
    padding-bottom: 6px;
  }
}

.mxw-500px{
  max-width: 500px;
}

@media(max-width: 1024px){
  .landing-page-image{
    display: none !important;
  }

  .sign-in-up, .forgot-password-page{
    .right-align-form {
      max-width: 65%;
      margin: auto;
      flex: 0 0 65%;
    }

    .country-flags{
      width: 22.5% !important;
    }
  }

  .forgot-password-page{
    .country-phone-num label {
      font-size: 14px;
    }

    .left-country-code{
      .mat-form-field-infix{
        padding-top: 5px;
      }

      .mat-select-value{
        padding-bottom: 3px;
      }
    }

    .country-extension, .country-symbol {
      color: #6f6f6f;
      font-size: 13px;
    }
  
  }
}

@media only screen and (max-width: 992px){
  .forgot-password-page{
    .country-flags{
      width: 27.5% !important;
    }
  }
}

@media only screen and (max-width: 768px){
  .sign-in-up .country-flags {
    width: 32.5% !important;
  }

  .forgot-password-page{
    .country-flags{
      width: 38.5% !important;
    }
  }
}

@media only screen and (max-width: 660px){
  .sign-in-up{
    .country-flags {
      width: 40.5% !important;
    }
  }

  .forgot-password-page{
    .country-flags{
      width: 45.5% !important;
    }
  }
}

@media only screen and (max-width: 599px){
  .sign-in-up{
    .right-align-form {
      max-width: 100%;
      margin: auto;
      flex: 0 0 100%;
    }

    .country-flags {
      width: 25% !important;
    }

    .mobile-num .mat-input-element{
      height: 39px;
    }
  }

  .forgot-password-page{
    .right-align-form {
      max-width: 90%;
      flex: 0 0 90%;
    }

    .country-flags{
      width: 35.5% !important;
    }

    .country-phone-num{
      .mat-form-field-infix{
        padding: 10px 0;
      }
    }
  }
}

@media only screen and (max-width: 580px){
  .forgot-password-page{
    .left-country-code .mat-form-field-flex{
      height: 30px;
    }
  }
}

@media only screen and (max-width: 566px){
  .sign-in-up{
    .select-country-code .mat-form-field-infix{
      padding-top: 6px;
    }

    .mobile-num .mat-input-element{
      height: 40px;
    }
  }
}

@media only screen and (max-width: 530px){
  .sign-in-up{
    .select-country-code .mat-form-field-infix{
      padding-top: 7px;
    }

    .mobile-num .mat-input-element{
      height: 41px;
    }
  }

  .forgot-password-page .country-flags {
    width: 40.5% !important;
  }
}

@media only screen and (max-width: 480px){
  .sign-in-up{
    .country-flags {
      width: 22% !important;
    }

    .right-align-form{
      .form-design {
        width: 90%;
      }
    }
  }

  .forgot-password-page{
    .form-design-forget {
      width: 100%;
    }

    .country-flags{
      width: 34.5% !important;
    }
  }
}

@media only screen and (max-width: 425px){
  .sign-in-up{
    .country-flags {
      width: 26% !important;
    }
  }
}

@media only screen and (max-width: 360px){
  .sign-in-up{
    .country-flags {
      width: 33% !important;
    }
  }

  .forgot-password-page{
    .country-flags{
      width: 40.5% !important;
    }
  }
}


.forget-pass-form{
  .si-gn{
    .mat-form-field-infix{
      padding-bottom:0 !important;
    }
  }
}