.view-address-supplier{
    padding-right: 40px;
    float: right;
    font-size: 15px;
    font-weight: 400;
    color: #f47721;
}
.delete-icon{
    color: #d0d0d0;
    cursor: pointer;
}
.supplier-dialog{
    mat-form-field{
        width: 100%;
    }
}

.view-disabled-address-supplier{
    padding-right: 64px;
    float: right;
    font-size: 15px;
    font-weight: 400;
    color: #f47721;
}
.supplier-details-table-div
{
   max-height: 450px;
   width: 100%;
   overflow: auto;
   table{
       border-left: 1px solid #d6d6d6;
   }  
}

.mat-checkbox.mat-accent {
  .mat-checkbox-frame {
    border: 1px solid dodger-blue;
  }

  &.mat-checkbox-checked .mat-checkbox-background {
    background-color: #7dd32d;
    border: 1px solid dodger-blue;
  }

  .mat-checkbox-checkmark-path {
    stroke: dodger-blue !important;
  }
}

.action1{
    a{
    float: right;
    font-size: 15px;
    font-weight: 400;
    color: #f47721;
    }
}
.action2{
    a{
    float: right;
    font-size: 15px;
    font-weight: 400;
    color: #f47721;
    }
}
.rfq-create-btn{
    padding: 5px 0px;
}
.category-name{
    font-size: 12px;
}
.rfq-detail-body{
    min-height:300px;
    background: white;
}

.material-rfq-supplies{
    background:#C7C7C7;
    div{
        color :#343434;
    }
}
.brand-name-rfq-supplies{
    background:#E6E6E6;
    div{
        color :#121212 !important;
    }
}
.table-white-background-color{
    background: #ffffff;
   div{
       color : #707070;
   } 
}

.parent{
.row{
    .submit-bid-div{
    background:#e6e6e6;
    margin: auto;
    width: 500px;
    height: 225px;
     text-align: center;
        display: block;
        border-radius: 8px;
    .image-orange-tick{
        padding-top: 40px;
        padding-bottom: 10px ;
    }
}
}
}



.submit-bid-row{
   padding: 50px;
   height: calc(100vh - 120px);
}

.bid-material{
    color:#6A6A6A;
    font-size: 14px;
}
.thank-you{
    color:#6A6A6A;
    font-size: 24px;
}
.quotes-submitted{
    color:#6A6A6A;
    font-size: 12px;
}
.no-indent-list{
    text-align: center;
}
body{
    overflow-x: hidden;
}
.buildsupply-logo-header{
   img{
        width: 250px;
    height: 50px;
    padding-left:10px ;
   }    
}
.main-div-po-outer{
    background: #FFFFFF !important;
    margin-top:10px;
    padding-top:10px;
    border-top: 1px solid #979797;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
}

.main-div-po{
    padding: 10px 15px;
}

.second-mat-grid{
left: calc(((50% - 2.5px) + 1px) * 1) !important;
}
.third-mat-grid{
top: calc(200px) !important;
    height: calc(203px) !important;
}



.mat-list-base .mat-subheader {
    height: 40px !important;
    line-height: 16px !important;
     span{
        color: #5F5F5F;
        font-weight: 400;
        font-size: 14px;
        padding-left: 8px;
        }
}

.header-card-po.mat-subheader{
        color: #5F5F5F;
        font-weight: 500;
        font-size: 16px;
       
}
.delivery-address-po-card{
    span{
         color: #5F5F5F;
        font-weight: 400;
        font-size: 14px;
        padding-left: 15px;
    }
}

.doc-froala-div{
    padding:10px;
}
.upload-document-label{
    text-align: center;
    font-size: 14px;
}
.upload-documents-mat-header{
    .mat-card-header-text{
        margin: 0;
    }
}
.grey-dotted-border{
    text-align: center;
    font-size: 14px;
}
.upload-green-tick{
    margin: auto;
}
.files-list {
 font-size: 12px;
}

.show-detail-qty:hover #detail-qty {
 display: block;
 
}

.show-detail-qty #detail-qty {
 display: none;
 background-color: #ffffff;
 color:#000000;
 z-index: 999;
  margin-top: -26px;
  position: relative;
  font-size: 10px;
    width: 250px;
    position: relative;
    padding: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    border: 1px solid #d0d0d0;
}

.issue-qty-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.show-detail-qty{
    position: absolute;
   margin-left: 16px;
    margin-top: -3px;
    img{
        z-index: 10;
    }
}

.file-icon{
    width: 15px;
    height: 18px;
    padding-right: -14px;
    margin-right: 5px;
}

div.limited-character {
    position: relative;
  white-space: nowrap; 
  width: 150px; 
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 10;
}

div.limited-character:hover {
  overflow: visible;
  z-index: 999;
}