.wrapper-btn-center {
  text-align: center;
}

.center-screen-btn {
  position: absolute;
  top: 45%;
  left: 40%;
}
.btn-width-add-users {
  width: 275px;
  top: 78%;
  margin: 10px auto;
}

.add-user-img {
  img {
    margin-top: 5%;
  }
  div {
    margin-top: 15px;
  }
  button {
    min-width: 164px;
  }
}

.add-user-img.suppliers {
  img {
    margin-top: 0%;
  }
  div {
    margin-top: 0px;
  }
  button {
    min-width: 164px;
  }
}

.add-edit-user-form-modal {
  width: 90%;
  padding-left: 5%;
}
.mat-error-add-edit-form-modal {
  padding-top: 8px;
}

.save-btn-add-edit-user-modal {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
}

.rfq-bid-address{
  button{
    margin-bottom: 20px !important;
  }
}
.user-dts {
  .myPanel {
    .mat-expansion-panel-header#mat-expansion-panel-header-0 {
      height: 48px !important;
    }
  }
}
.user-details-table-div {
  max-height: 400px;
  width: 100%;
  overflow-y: auto;

  table {
    border-left: 1px solid #d6d6d6;
  }
}

.user-details-table-div-active-inactive {
  overflow-y: scroll;
  max-height: 166px;
  overflow-x: hidden;
  width: 99.5%;

  table {
    border-left: 1px solid #d6d6d6;
  }
}

.btn-project-user-details {
  background: #f0f0f0;
  margin: 3px 1px;
  cursor: default;
   font-size: 12px;  
   div{
     max-width: 200px;
      white-space: pre-line;
       word-break: break-all;
   }        
   max-width: 200px;
   white-space: pre-line;
}

.add-user-container {
  .mat-header-cell{
    z-index: 9 !important;
  }

  .project-user-details-width {
    max-width: 400px;
    min-width: 400px !important;
  }
}

.add-user-details-button-right {
  padding-bottom: 8px;
}
.text-align-center {
  text-align: center;
}
.form-error-msg {
  color: #f44336;
}

.update-info, .terms-conditions {
  background-image: url("/assets/images/background-image-overlay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
  &__popup {
    background-color: #fff;
    border-radius: 6px;
  }

  .border-input input,
  .border-input select,
  .border-select .mat-form-field-flex {
    padding-left: 0;
    padding-right: 0;
  }

  .mat-error {
    font-size: 12px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 0;
    padding-right: 0;
  }

  .trades.active,
  .mat-chip.mat-chip.mat-primary.mat-standard-chip.mat-chip-selected.ng-star-inserted.active {
    border: 1px solid #66bf00;
    border-radius: 50px;
    background-color: #66bf00;
    color: #ffffff;
  }

  &__form {
    position: relative;
    .mat-mini-fab.mat-warn {
      position: absolute;
      right: 0px;
      top: 70px;
      width: auto;
      border-radius: 50px;
      padding: 0px 1px;
    }
    .mat-mini-fab .mat-button-wrapper {
      padding: 8px 15px;
      display: inline-block;
      line-height: 24px;
      font-size: 14px;
    }
  }
}
 .buildsupply-logo{
    width: 200px;
  }

.update-info-profile {
  background-image: url("/assets/images/background-image-overlay.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 // background: #0E3C55;
  padding: 130px 0;
  &__popup {
    background-color: #fff;
    border-radius: 6px;
  }

  .border-input input,
  .border-input select,
  .border-select .mat-form-field-flex {
    padding-left: 0;
    padding-right: 0;
  }

  .mat-error {
    font-size: 12px;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    padding-left: 0;
    padding-right: 0;
  }

  .trades.active,
  .mat-chip.mat-chip.mat-primary.mat-standard-chip.mat-chip-selected.ng-star-inserted.active {
    border: 1px solid #66bf00;
    border-radius: 50px;
    background-color: #66bf00;
    color: #ffffff;
  }

  &__form {
    position: relative;
    .mat-mini-fab.mat-warn {
      position: absolute;
      right: 0px;
      top: 70px;
      width: auto;
      border-radius: 50px;
      padding: 0px 1px;
    }
    .mat-mini-fab .mat-button-wrapper {
      padding: 8px 15px;
      display: inline-block;
      line-height: 24px;
      font-size: 14px;
    }
  }
}

.invite-users{
  max-height: 500px;
  overflow-y: scroll;
}
.add-user {
  height: 100%;
  padding-top:0px;
}

.width-28 {
  max-width: 28%;
  flex-basis: 28%;
}

.city-input.mat-form-field-appearance-legacy,
.role-input.mat-form-field-appearance-legacy {
  .mat-form-field-wrapper {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
  }
}

.padding-8 {
  padding: 0px 8px;
}

.btn-outline-warning {
  border-radius: 50px;
  padding: 8px 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.37);
  cursor: pointer;
  color: #f47720;
  background-color: transparent;
  background-image: none;
  border-color: #f47720;
}

.btn-warning.disabled,
.btn-warning:disabled,
.btn-outline-warning:not(:disabled):not(.disabled).active,
.btn-outline-warning:not(:disabled):not(.disabled):active,
.show > .btn-outline-warning.dropdown-toggle,
.btn-outline-warning:hover {
  background-color: #f47720;
  border-color: #f47720;
  color: #ffffff;
}

.userInfo-upload {
  .drag-and-drop {
    height: auto;
  }
}

.org-name {
  color: #020202;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  border-bottom: 2px solid #b8b8b8;
}

.user-profile {
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
}

.trades,
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
  width: auto;
  border: 1px solid #bcc9f0;
  border-radius: 50px;
  background-color: #e0e3ec;
  padding: 6px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  color: #020202;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.trades.active h6 {
  color: #ffffff;
}

.trades:not(:last-child) {
  margin-right: 15px;
}

.trade-tile {
  color: #020202;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  font-weight: 400;
}

.next-btn, .hollow-btn{
  border-radius: 40px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  padding: 8px 40px;
  border: 1px solid #f47720;
}

.hollow-btn{
  background-color: #fff;
  color: #f47720 !important;
}

.next-btn {
  background-color: #f47720;
  color: #fff !important;
}

.next-btn, .hollow-btn{
  &:hover, &:focus, &:active{
    background-color: #f37234;
    border-color: #f37234;
    color: #fff !important;
  }
}

.lh-30 {
  line-height: 30px;
}

.mat-fab.mat-warn,
.mat-flat-button.mat-warn,
.mat-mini-fab.mat-warn,
.mat-raised-button.mat-warn {
  background-color: #f47720;
  font-size: 20px;
}

.margin-top-minus3px {
  img {
    margin-top: -3px;
  }
}

.add-edit-user-modal-form {
  mat-form-field {
    width: 100%;
    padding-left: 0px;
  }
}
.user-photo {
  height: 120px;
  min-width: 90px;
  width: 60%;
  margin: 30px auto 0;
  border: 1px solid #ececec;
  border-radius: 4px;
  background-color: #f8f8f8;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.browser-method .myLabel {
  padding: 6px 5px;
  margin: 2px;
  color: #f47720;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  margin: auto;
  display: block;
  border: 1px solid #f47720;
  width: 55%;
  border-radius: 30px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  span {
    font-size: 12px;
    font-weight: 600;
    line-height: 19px;
  }
  input[type="file"] {
    display: none;
  }
}

.user-Other-Trade {
  background-color: $white-color !important;
  color: $main-color !important;
  border-color: $main-color !important;
}

.mat-standard-chip:hover::after {
  opacity: 0 !important;
}

.w-40{
  width: 40% !important;
}

.terms-conditions{
  &__outer-gray{
    background-color: #F1F1F1;
    border-radius: 6px;
    padding: 2rem !important;
    max-height: 357px;
    overflow-y: scroll;
  }

  &__content {
    color: #696969;
    font-size: 14px;
    text-align: justify;
  }
  &__content-heading{
    color: #696969;
    font-size: 14px;
    text-align: justify;
    text-decoration: underline;
    font-weight: 700;
  }
}

.background-green{
  border: 1px solid #81e212;
   background-color: #81e212  !important;
}
.buildsupply-material-video{
 width: 100%;
 height: 337px;
}
.form-add-edit-grn-div{
 max-height: 200px;
 overflow-y: auto;
}

.add-user-container {
 width: 100%;
 min-width: 0px;
 overflow-x: auto;

 .mat-row .mat-cell{
   font-weight: 400;
 }

.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
   word-wrap: initial;
   display: table-cell;
   padding: 0px 10px;
   line-break: unset;
   text-align: left;
   width: 2%;
   white-space: nowrap;
   overflow: hidden;
   vertical-align: middle;
   font-weight: 500;
}
.mat-row,
.mat-header-row {
   display: table-row;
}
.grn-material-name{
 text-align: left;
}
}

.add-unique-container {
 width: 100%;
 min-width: 0px;
 overflow-x: auto;

.mat-table {
     overflow-x: scroll;
   }

.mat-cell,
.mat-header-cell {
   word-wrap: initial;
   display: table-cell;
   line-break: unset;
   text-align: left;
   width: 2%;
   white-space: nowrap;
   overflow: hidden;
   vertical-align: middle;
}
.mat-row,
.mat-header-row {
   display: table-row;
}
}

.project-listing-menu{
  min-height: auto !important;
  .mat-menu-content:not(:empty) {
    padding: 0px;
    max-height: 200px;
  }

  .mat-menu-item{
    line-height: 34px;
    height: 34px;
    border-bottom: 1px solid #bbbbbb;
    cursor: default;
  }
}

.edit-disable-user-details-width {
  min-width: 200px;
}

@media only screen and (max-width: 1010px) {
  .terms-margin-set-width {
    margin-left:0px;
    margin-right:0px ;
    width:100%;
    .user-profile{
      padding-bottom: 0px !important;
    }
    .profile{
      padding-left : 47px;
    }
    .choose-trades{
      padding-top: 20px;
    }
   }
 }

@media only screen and (max-width: 768px){
  .float-right-invite-delBtn{
    float: right;
  }
}

@media only screen and (max-width : 900px){
  .raise-indent-table{
    .mat-table .mat-cell{
        height: 58px !important;
    }
  }
}
