<section class="modal-outer">
  <div class="modal-header">
    <h5 mat-dialog-title class="mb-0">Select Address</h5>
    <button type="button" class="close" (click)="close()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div mat-dialog-content class="mat-tab-add-address-modal-po">
    <div class="modal-body">
      <mat-tab-group #tabs class="overflow-remove" (selectedTabChange)="tabClick($event)">
        <mat-tab label="Choose Address" class="addressDialog">
          <ng-container *ngIf="address && address[0].addressId > 0; else noAddress">
            <form *ngIf="address" [formGroup]="selectAddressFrm">
              <div class="row p-rem-t-10 p-rem-b-10">
                <div class="col-md-12 col-xs-12" [class.single-address-line]="address.length === 1">
                  <mat-radio-group aria-label="Select an option" name="address" formControlName="address">
                    <div class="address-line" *ngFor="let add of address">
                      <mat-radio-button class="p-l-15" [value]="add" [checked]="add.primaryAddress === 1">
                        <div class="max-width-of-select-address">
                          <span *ngIf="add.addressLine1">{{ add.addressLine1 }}</span>
                          <span *ngIf="add.addressLine2">, {{ add.addressLine2 }}</span>
                          <span *ngIf="add.city">, {{ add.city }}</span>
                          <span *ngIf="add.state">, {{ add.state }}</span>
                          <span *ngIf="add.pinCode">, {{ add.pinCode }}</span>
                          <span *ngIf="add.gstNo"> | {{ add.gstNo }}</span>
                          <span class="p-t-5 p-l-10">
                            <a href="javascript:void(0)" (click)="changeIndex(add)"><i class="material-icons main-color"> edit </i></a>
                          </span>
                        </div>
                      </mat-radio-button>
                    </div>
                  </mat-radio-group>
                </div>
              </div>

              <div class="pull-right p-t-5">
                <button mat-raised-button class="main-background-color main-button color-white m-b-5" cdkFocusInitial (click)="onselectAddress()">Save</button>
              </div>
            </form>
          </ng-container>

          <ng-template #noAddress>
            <p class="py-5 text-center">No address available.</p>
          </ng-template>
        </mat-tab>

        <mat-tab label="{{ tab2Label }}">
          <div *ngIf="true">
            <form [formGroup]="newAddressForm">
              <div class="add-address-dialog-div-main p-rem-t-10">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="row border-input">
                      <mat-form-field class="col-xs-12">
                        <input matInput type="text" placeholder="Address Line 1" formControlName="addressLine1" />
                      </mat-form-field>
                      <small *ngIf="newAddressForm.controls['addressLine1'].hasError('required') && newAddressForm.controls['addressLine1'].touched" class="form-error-msg p-l-15">
                        Address Line1 is required
                      </small>
                      <small *ngIf="newAddressForm.controls['addressLine1'].value.length > 120 && newAddressForm.controls['addressLine1'].touched" class="form-error-msg p-l-15">
                        Address should be less than 120 characters
                      </small>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6">
                    <div class="row border-input p-t-0">
                      <mat-form-field class="col-xs-12">
                        <input matInput type="text" placeholder="Address Line 2" formControlName="addressLine2" />
                        <small *ngIf="newAddressForm.controls['addressLine2'].value.length > 120 && newAddressForm.controls['addressLine2'].touched" class="form-error-msg p-l-15">
                          Address should be less than 120 characters
                        </small>
                      </mat-form-field>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-xs-6">
                    <mat-form-field class="border-select address-select-country mat-form-field-flex-mm-padding mt6p width-100">
                      <mat-label class="value-currencies-label">Select Country</mat-label>
                      <mat-select formControlName="countryCode" (selectionChange)="blankPincode()">
                        <div class="display-flex">
                          <input
                            class="p-l-10 p-b-5"
                            matInput
                            type="search"
                            placeholder="Search Country"
                            [(ngModel)]="searchCountry"
                            [ngModelOptions]="{standalone: true}"
                            (keydown)="$event.stopPropagation()"
                          />
                          <button mat-button matSuffix mat-icon-button>
                            <mat-icon>search</mat-icon>
                          </button>
                        </div>

                        <mat-select-trigger>
                          <span class="d-flex selected-country" matTooltip="{{ selectedCountry && selectedCountry.countryCode }} {{ selectedCountry && selectedCountry.callingCode }}">
                            <img class="width-27-px p-r-4" [src]="selectedCountry && selectedCountry.imageUrl" alt="" />
                            <span class="p-r-5 color-brand font-size16">{{ selectedCountry && selectedCountry.name }}</span>
                          </span>
                        </mat-select-trigger>

                        <mat-option *ngFor="let country of countryList | SearchPipe: searchCountry:['name', 'countryCode', 'callingCode']" [value]="country" selected="trade.isAttatched"
                          ><span
                            ><img class="width-50-px p-r-10" [src]="country.imageUrl" alt="" />
                            <span matTooltip="{{ country.name }}" class="limited-character universal p-r-5">{{ country.name }}</span>
                            <span class="text-semi-bold color-grey">{{ country.callingCode }}</span>
                          </span>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-xs-6">
                    <div class="row border-input p-t-0">
                      <mat-form-field class="col-xs-12">
                        <input matInput type="string" placeholder="Pincode" formControlName="pinCode" />
                      </mat-form-field>
                      <ng-container *ngIf="newAddressForm.controls['pinCode'].touched">
                        <small *ngIf="newAddressForm.controls['pinCode'].hasError('required') && pincodeLength <= 0" class="form-error-msg p-l-15"> Pincode is required </small>
                        <small *ngIf="!validPincode && pincodeLength > 0" class="error-msg p-l-15"> Enter Valid Pincode </small>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row border-input p-t-0">
                      <mat-form-field class="col-xs-12">
                        <input matInput type="string" formControlName="state" placeholder="State" />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="row border-input p-t-0">
                      <mat-form-field class="col-xs-12">
                        <input matInput type="string" formControlName="city" placeholder="City" />
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="row border-input p-t-0">
                      <mat-form-field class="col-xs-12"> <input matInput type="text" [placeholder]="this.countryCode === 'IN' ? 'GSTIN*' : 'Tax Code'" formControlName="gstNo" /> </mat-form-field>
                      <small *ngIf="newAddressForm.controls['gstNo'].hasError('required') && newAddressForm.controls['gstNo'].touched" class="form-error-msg p-l-15"> GSTIN is required </small>
                      <small *ngIf="newAddressForm.controls['gstNo'].hasError('pattern') && newAddressForm.controls['gstNo'].touched" class="form-error-msg p-l-15"> Enter Valid GSTIN</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 text-center p-t-10">
                <button mat-raised-button [disabled]="!newAddressForm.valid || !validPincode" class="main-background-color main-button color-white m-b-5" cdkFocusInitial (click)="onAddAddress()">
                  {{ tab2Label === "Add Address" ? "Add" : "Edit" }}
                </button>
              </div>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
