<h1 mat-dialog-title>Select Address</h1>
<div mat-dialog-content>
  <mat-tab-group class="overflow-remove">

    <mat-tab label="Choose Address">
      <form [formGroup]="selectAddressFrm">
        <div class="row">
          <div class="col-xs-12">
            <mat-radio-group aria-label="Select an option" name="address" formControlName="address">
              <div class="p-t-10 p-b-10 gray-border" *ngFor="let address of data.projectAddressList">
                <mat-radio-button class="p-l-25" [value]="address" [checked]="address.primaryAddress===1">
                  {{address.addressLine1}}
                  <span *ngIf="address.city">, {{address.city}}</span>
                  <span *ngIf="address.state">, {{address.state}}</span></mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Add Address">
      <form [formGroup]="newAddressForm">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ">
              <div class="row border-input">
                <mat-form-field class="col-xs-12 p-r-150 p-l-150">
                  <input matInput type="text" placeholder="Address Line 1" formControlName="addressLine1" />
                  <small
                    *ngIf="newAddressForm.controls['addressLine1'].value.length > 120 && newAddressForm.controls['addressLine1'].touched"
                    class="form-error-msg"> Address should be less than 120 characters </small>
                  <small
                    *ngIf="newAddressForm.controls['addressLine1'].hasError('required') && newAddressForm.controls['addressLine1'].touched"
                    class="form-error-msg"> Address Line 1 is required </small>
                </mat-form-field>
              </div>
              <div class="row border-input">
                <mat-form-field class="col-xs-12 p-r-150 p-l-150">
                  <input matInput type="text" placeholder="Pincode" formControlName="pinCode" />
                  <small
                    *ngIf="newAddressForm.controls['pinCode'].hasError('required') && newAddressForm.controls['pinCode'].touched"
                    class="error-msg"> pincode is required </small>
                  <small
                    *ngIf="newAddressForm.controls['pinCode'].hasError('pattern') && newAddressForm.controls['pinCode'].touched"
                    class="error-msg"> Enter Valid Pincode</small>

                </mat-form-field>
              </div>
              <div class="row border-input">
                <mat-form-field class="col-xs-12 p-r-150 p-l-150">
                  <input matInput type="text" placeholder="State" formControlName="state" />
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row border-input">
                <mat-form-field class="col-xs-12 p-r-300">
                  <input matInput type="text" placeholder="Address Line 2" formControlName="addressLine2" />
                  <small
                    *ngIf="newAddressForm.controls['addressLine2'].value.length > 120 && newAddressForm.controls['addressLine2'].touched"
                    class="form-error-msg"> Address should be less than 120 characters </small>
                </mat-form-field>
              </div>
              <div class="row border-input">
                <mat-form-field class="border-select">
                  <mat-label>City</mat-label>
                  <mat-select formControlName=city>
                    <mat-option *ngFor="let city of cities" [value]="city.value">
                      {{city.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>

<div mat-dialog-actions class="pull-right">
  <button mat-raised-button class="main-background-color main-button color-white m-b-5" [mat-dialog-close]=""
    cdkFocusInitial (click)="onNoClick()">
    Save
  </button>
  <button mat-raised-button class="main-background-color main-button color-white m-b-5" [mat-dialog-close]=""
    cdkFocusInitial (click)="onNoClick1()">
    Add
  </button>
</div>