<div class="row">
  <div class="col-xs-6">
    <mat-form-field class="example-form-field border-input p-l-20 border-input p-r-20">
      <input matInput placeholder="Search Supplier" type="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" />
      <button mat-button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-xs-6 text-right p-t-10">
    <span>
      <!-- <mat-form-field class="example-form-field border-input p-l-20 border-input p-r-20">
          <input matInput placeholder="Search Supplier" type="search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" />
          <button mat-button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field> -->
    </span>
    <span class="p-r-5">
      <span class="m-b-5 m-r-10 m-l-15 font-bold color-main cursor-pointer" (click)="openSupplierDialog()">
        <span class="font-size20">
          +
        </span>
        <span>
          Supplier
        </span>
      </span>
    </span>
    <span>
      <span (click)="selectCurrency()" class="text-decoration-underline main-color font-size-vary-grn p-r-10 text-semi-bold cursor-pointer">Select Currency</span>
      <button [disabled]="!form.valid" mat-raised-button matStepperNext (click)="choosenSupplier()" class="main-background-color main-button color-white">
        Next
      </button>
    </span>
  </div>
  <div class="col-xs-12 p-t-10 p-b-20 text-right" *ngIf="poCurrency && poCurrency.exchangeCurrencyName != null">
    <span class="base-currency p-l-5 p-r-5 p-t-10 p-b-10">
      <span class="font-size-vary-grn color-grey">
        <img width="25px" *ngIf="poCurrency.exchangeCurrencyFlag" [src]="poCurrency.exchangeCurrencyFlag" />
        {{ poCurrency.exchangeCurrencyName }}
      </span>
      <span class="p-l-5"> = </span>
      <span class="p-l-5 color-6d6a6a color-grey"> {{ poCurrency.exchangeValue }} </span>
      <span class="p-l-5 color-grey">
        <img width="25px" *ngIf="poCurrency.primaryCurrencyFlag" [src]="poCurrency.primaryCurrencyFlag" />
        {{ poCurrency.primaryCurrencyName }}
      </span>
    </span>
  </div>
</div>

<form *ngIf="allSuppliers" [formGroup]="form" (click)="choosenSupplier()">
  <table mat-table [dataSource]="allSuppliers | SearchPipe: searchText:'supplier_name'" class="mat-elevation-z8 col-sm-12">
    <!-- Supplier Name Column -->
    <ng-container matColumnDef="Supplier Name">
      <th mat-header-cell *matHeaderCellDef>Supplier Name</th>
      <td mat-cell *matCellDef="let element">
        <mat-radio-group name="aprrover" aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="supplier">
          <mat-radio-button class="example-radio-button" [value]="element" [checked]="element.checked">
            {{ element.firstName }}{{ element.lastName }}
            {{ element.user_d }}
          </mat-radio-button>
        </mat-radio-group>
        {{ element.supplier_name }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <!-- Phone No. Column -->
    <ng-container matColumnDef="Phone No.">
      <th mat-header-cell *matHeaderCellDef>Phone No.</th>
      <td mat-cell *matCellDef="let element">{{ element.contact_no }}</td>
    </ng-container>

    <!-- PAN No. Column -->
    <!-- <ng-container matColumnDef="PAN No.">
      <th mat-header-cell *matHeaderCellDef>PAN No.</th>
      <td mat-cell *matCellDef="let element">{{ element.pan }}</td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</form>
