<section *ngIf="dataAvailable" class="update-info">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 terms-margin-set-width col-md-8 offset-md-2">
        <div class="update-info__popup p-20">
          <form class="update-info__form" *ngIf="userInfoForm && users" [formGroup]="userInfoForm" (ngSubmit)="submit()">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <h3 class="user-profile text-center text-uppercase p-rem-t-0.5 p-rem-b-1.5" *ngIf="users">{{ users.organizationName }}</h3>
              </div>

              <div class="col-sm-12 col-md-6">
                <div class="phot-title"></div>
                <div class="user-photo">
                  <img [src]="localImg || 'assets/images/default-image.png'" class="img-fluid user_photo" alt="" />
                </div>

                <div class="browser-method">
                  <label class="myLabel">
                    <input type="file" title="" accept=".jpg,.jpeg,.png,.webp" (change)="onFileSelect($event)" />
                    <span>Upload</span>
                  </label>
                  <div class="text-align-center">
                    <small class="error-msg">{{ imageFileSizeError }}</small>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-6">
                <!-- <h4 class="org-name text-uppercase" *ngIf="users">{{ users.organizationName }}</h4> -->
                <!-- <mat-form-field class="border-input w-100"> -->
                <!-- <input matInput type="text" formControlName="organizationName"> -->
                <!-- </mat-form-field> -->

                <mat-form-field class="border-input w-100">
                  <input matInput type="text" placeholder="First Name*" formControlName="firstName" />
                </mat-form-field>
                <mat-error *ngIf="userInfoForm.controls['firstName'].errors && (userInfoForm.controls['firstName'].dirty || userInfoForm.controls['firstName'].touched)">
                  <mat-error *ngIf="userInfoForm.controls['firstName'].hasError('required')"> First name is required </mat-error>
                </mat-error>

                <mat-form-field class="border-input w-100">
                  <input matInput type="text" placeholder="Last Name*" formControlName="lastName" />
                </mat-form-field>
                <mat-error *ngIf="userInfoForm.controls['lastName'].errors && (userInfoForm.controls['lastName'].dirty || userInfoForm.controls['lastName'].touched)">
                  <mat-error *ngIf="userInfoForm.controls['lastName'].hasError('required')"> Last name is required </mat-error>
                </mat-error>

                <mat-form-field class="border-input w-100">
                  <input matInput type="text" placeholder="Email Id" formControlName="email" />
                </mat-form-field>
                <mat-error *ngIf="userInfoForm.controls['email'].errors && (userInfoForm.controls['email'].dirty || userInfoForm.controls['email'].touched)">
                  <mat-error *ngIf="userInfoForm.controls['email'].hasError('required')"> Email address is required </mat-error>
                  <mat-error *ngIf="userInfoForm.controls['email'].hasError('pattern') && userInfoForm.controls['email'].touched"> Email address must be valid </mat-error>
                </mat-error>
                <div class="row">
                  <div class="col-xs-5">
                    <mat-form-field class="width-100 border-select mat-form-field-flex-mm-padding">
                      <mat-label>Country Code</mat-label>
                      <mat-select formControlName="countryCode">
                        <div class="display-flex">
                          <input
                            class="p-l-10 p-b-5"
                            matInput
                            type="search"
                            placeholder="Search Country"
                            [(ngModel)]="searchCountry"
                            [ngModelOptions]="{standalone: true}"
                            (keydown)="$event.stopPropagation()"
                          />
                          <button mat-button matSuffix mat-icon-button>
                            <mat-icon>search</mat-icon>
                          </button>
                        </div>
                        <mat-select-trigger>
                          <span
                            ><img class="width-35-px p-r-10" [src]="selectedCountry && selectedCountry.imageUrl" alt="" />
                            <span class="p-r-5">{{ selectedCountry && selectedCountry.countryCode }}</span>
                            <span>{{ selectedCountry && selectedCountry.callingCode }}</span>
                          </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let country of countryList | SearchPipe: searchCountry:['name', 'countryCode', 'callingCode']" [value]="country"
                          ><span
                            ><img class="width-17 p-r-10" [src]="country.imageUrl" alt="" />
                            <span matTooltip="{{ country.name }}" class="limited-character universal p-r-4">{{ country.name }}</span>
                            <span class="text-semi-bold color-grey">{{ country.callingCode }}</span>
                          </span>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-7">
                    <mat-form-field class="border-input w-100">
                      <input matInput type="text" placeholder="{{ this.countryCode === 'IN' ? 'Phone No.*' : 'Phone No.' }}" formControlName="contactNo" />
                    </mat-form-field>
                    <mat-error *ngIf="userInfoForm.controls['contactNo'].errors && (userInfoForm.controls['contactNo'].dirty || userInfoForm.controls['contactNo'].touched)">
                      <mat-error *ngIf="userInfoForm.controls['contactNo'].hasError('required')"> Phone number is required </mat-error>
                      <mat-error *ngIf="userInfoForm.controls['contactNo'].hasError('pattern') && userInfoForm.controls['contactNo'].touched">
                        Phone number must be valid
                      </mat-error>
                    </mat-error>
                  </div>
                </div>

                <mat-form-field *ngIf="users.roleName === 'l1'" class="border-input w-100">
                  <input matInput type="text" placeholder="Pincode" formControlName="orgPincode" />
                </mat-form-field>
                <mat-error *ngIf="userInfoForm.controls['orgPincode'].errors?.max && userInfoForm.controls['orgPincode'].touched"> maximum characters allowed is 6 </mat-error>
                <mat-error *ngIf="userInfoForm.controls['orgPincode'].errors?.pincodeInvalid && userInfoForm.controls['orgPincode'].touched"> Enter valid pincode </mat-error>
                <mat-error *ngIf="!validPincode && userInfoForm.controls['orgPincode'].touched"> Enter Correct pincode </mat-error>
                <small *ngIf="userInfoForm.controls['orgPincode'].errors?.maxlength && userInfoForm.controls['orgPincode'].touched" class="signupForm-error-msg"></small>
                <mat-form-field class="border-select w-100" *ngIf="users.roleName != 'l3'">
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="roleId">
                    <mat-option *ngFor="let role of roles" [value]="role.roleId">
                      {{ role.roleDescription }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="border-select w-100" *ngIf="users.roleName === 'l3'">
                  <input matInput type="text" placeholder="Role" formControlName="roleDescription" />
                </mat-form-field>

                <mat-error *ngIf="userInfoForm.controls['roleId'].errors && (userInfoForm.controls['roleId'].dirty || userInfoForm.controls['roleId'].touched)">
                  <mat-error *ngIf="userInfoForm.controls['roleId'].hasError('required')"> Role is required</mat-error>
                </mat-error>

                <mat-form-field class="border-select w-100" *ngIf="users.roleName === 'l1'">
                  <mat-label>Select Annual Turn Over</mat-label>
                  <mat-select formControlName="turnOverId">
                    <mat-option *ngFor="let turnOver of turnOverList" [value]="turnOver.turnOverId">
                      {{ turnOver.shortName }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="userInfoForm.controls['turnOverId'].errors && (userInfoForm.controls['turnOverId'].dirty || userInfoForm.controls['turnOverId'].touched)">
                  <mat-error *ngIf="userInfoForm.controls['turnOverId'].hasError('required')">Annual Turn over is required</mat-error>
                </mat-error>
                <div *ngIf="users.roleName === 'l1'" class="row height-12 m-t-10 border-round p-t-5 full-border-main width-70">
                  <div class="col-xs-6 p-t-10 color-grey text-semi-bold p-r-0 fontsize-15-px">Base Currency</div>
                  <div class="col-xs-6 p-l-0">
                    <mat-form-field class="width-90 border-select mat-form-field-infix-padding dropdown-padding mat-form-field-flex-mm-padding">
                      <mat-select formControlName="baseCurrency">
                        <div class="display-flex">
                          <input
                            class="p-l-10 p-b-5"
                            matInput
                            type="search"
                            placeholder="Search Currency"
                            [(ngModel)]="searchCurrency"
                            [ngModelOptions]="{standalone: true}"
                            (keydown)="$event.stopPropagation()"
                          />
                          <button mat-button matSuffix mat-icon-button>
                            <mat-icon>search</mat-icon>
                          </button>
                        </div>
                        <mat-select-trigger>
                          <span
                            ><img class="width-55 p-r-10" [src]="selectedBaseCurrency && selectedBaseCurrency.imageUrl" alt="" />
                            <span class="p-r-5">{{ selectedBaseCurrency && selectedBaseCurrency.currencyCode }}</span>
                          </span>
                        </mat-select-trigger>
                        <mat-option *ngFor="let currency of currencyList | SearchPipe: searchCurrency:['currency', 'currencyCode']" [value]="currency">
                          <!-- <span
                              ><img class="width-17 p-r-10" [src]="currency.imageUrl" alt="" />
                              <span class="p-r-5">{{ currency.currency }}</span>
                            </span> -->
                          <div class="display-flex justify-content-space-between">
                            <div class="display-flex">
                              <div class="p-t-0">
                                <img [src]="currency.imageUrl" width="35px" />
                              </div>
                              <span class="p-l-10">
                                {{ currency.currency }}
                              </span>
                            </div>
                            <div>
                              <span>
                                {{ currency.currencyCode }}
                              </span>
                            </div>
                          </div>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 choose-trades" *ngIf="users.roleName === 'l1'">
                <p style="font-weight: 600">Choose Trades</p>
                <mat-chip-list multiple id="chipList" [selectable]="true">
                  <mat-chip
                    *ngFor="let trade of tradeList"
                    [selected]="trade.tradeId"
                    [ngClass]="[trade.selected && trade.tradeId !== OthersId ? 'active' : '', trade.tradeId === OthersId ? 'user-Other-Trade' : '']"
                    (click)="trade.selected = !trade.selected; changeSelected(trade)"
                  >
                    {{ trade.tradeName }}
                  </mat-chip>
                  <form [formGroup]="customTrade">
                    <mat-form-field *ngIf="selectedTradesId.indexOf(OthersId) > -1" class="border-input p-l-10">
                      <input matInput formControlName="trade" type="text" placeholder="Enter Trade" />
                    </mat-form-field>
                  </form>
                </mat-chip-list>
              </div>

              <div class="text-center col-md-12 mt-4">
                <button class="btn btn-warning next-btn" [disabled]="imageFileSizeCheck && userInfoForm.valid ? false : true">Next</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
