<div class="row margin-auto">
  <mat-card class="width100Percent radius-10 p-t-10">
    <mat-card-header class="upload-documents-mat-header">
      <span class="text-semi-bold margin-auto" *ngIf="mode === 'edit'">
        <app-upload #uploadRef [documentListLength]="documentListLength" [filesRemoved]="filesRemoved" (onFileUpdate)="fileUpdate($event)"> </app-upload>
      </span>
      <span *ngIf="mode !== 'edit'" class="col-xs-12 text-align-center text-semi-bold">
        View Document
      </span>
    </mat-card-header>
    <mat-card-content>
      <mat-list class="pt-10">
        <span *ngIf="mode != 'edit' && documentData">
          <mat-list-item class="files-list" *ngFor="let file of documentData; let i = index">
            <!-- <mat-icon>file_copy</mat-icon> -->
            <img class="file-icon" src="../../../../assets/images/file-doc.png" />
            <span>{{ file.DocumentDesc }}</span>
            <a type="button" target="_blank" [href]="file.DocumentUrl" mat-icon-button>
              <i class="material-icons">
                remove_red_eye
              </i>
            </a>
          </mat-list-item>
        </span>
        <span *ngIf="mode != 'edit' && !documentData">
          <mat-list-item>
            <div class="col-xs-12 text-align-center">
              No files to preview
            </div>
          </mat-list-item>
        </span>
        <span *ngIf="mode === 'edit'">
          <mat-list-item class="files-list" *ngFor="let file of documentList; let i = index">
            <!-- <mat-icon>file_copy</mat-icon> -->
            <img class="file-icon" src="../../../../assets/images/file-doc.png" />
            <span>{{ file.documentName }}</span>
            <span class="show-download">
              <a type="button" target="_blank"  [href]="file.Url" mat-icon-button>
              <i class="material-icons">
                remove_red_eye
              </i>
            </a>
            </span>
            
            <button type="button" (click)="removeFile(i)" mat-icon-button>
              <mat-icon class="font-size-16">cancel</mat-icon>
            </button>
          </mat-list-item>
        </span>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
