<div class="row ">
    <mat-card class="example-card">
        <mat-card-header class="upload-documents-mat-header">
            <span class="text-semi-bold" *ngIf="mode==='edit'; else editBlock">
                <mat-form-field class="border-input">
                    <input matInput type="string" formControlName="orderNo" placeholder="Project No." class="m-r-5" />
                </mat-form-field>
                <app-upload #uploadRef [documentListLength]="documentListLength" (onFileUpdate)="fileUpdate($event)">
                </app-upload>
            </span>
            <ng-template #editBlock>
                Download Document
            </ng-template>
        </mat-card-header>
        <mat-card-content>
            <mat-list class="pt-10">
                <span *ngIf="mode!='edit'">
                    <mat-list-item class="files-list" *ngFor="let file of documentData; let i = index">
                        <!-- <mat-icon>file_copy</mat-icon> -->
                        <img class="file-icon" src="../../../../assets/images/file-doc.png">
                        <span>{{ file.documentName}}</span>
                        <button type="button" (click)="openFileUrl(i)" mat-icon-button>
                            <i class="material-icons">
                                remove_red_eye
                            </i>
                        </button>
                    </mat-list-item>
                </span>
                <span *ngIf="mode==='edit'">
                    <mat-list-item class="files-list" *ngFor="let file of documentList; let i = index">
                        <!-- <mat-icon>file_copy</mat-icon> -->
                        <img class="file-icon" src="../../../../assets/images/file-doc.png">
                        <span>{{ file.documentName}}</span>
                        <button type="button" (click)="removeFile(i)" mat-icon-button>
                            <mat-icon class="font-size-16">cancel</mat-icon>
                        </button>
                    </mat-list-item>
                </span>

            </mat-list>
        </mat-card-content>
    </mat-card>
</div>