<div class="page-start-point changeWidth mt-5 pt-4">
  <div class="p-l-20 p-r-20 p-b-20 p-t-20 min-height">
    <card-layout *ngIf="product" (onEdit)="editProject()" (onDelete)="deleteProject()" [projectDetails]="product" [disableEditDelete]="true"></card-layout>
    <div class="p-t-10">
      <mat-card class="parent">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-xs-3 text -left border-input">
              <mat-form-field class="input-search-padding-zero">
                <input #text matInput placeholder="Search Material" type="search" (input)="searchMaterial(text.value)" />
                <button mat-button matSuffix mat-icon-button>
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>

              <button mat-raised-button class="main-background-color main-button color-white" [routerLink]="['/project-dashboard/bom/'+projectId+'/copy-materials']">
                Copy Materials
              </button>
            </div>
            <div class="col-xs-3 text-right">
              <mat-form-field class="border-select p-t-0">
                <mat-label *ngIf="!formArray.length">Select Trades</mat-label>
                <mat-select formControlName="selectedTrades" multiple>
                  <div class="display-flex">
                    <input
                      class="p-l-10 p-b-5"
                      matInput
                      type="search"
                      placeholder="Search Trade"
                      [(ngModel)]="searchTrade"
                      [ngModelOptions]="{standalone: true}"
                      (keydown)="$event.stopPropagation()"
                    />
                    <button mat-button matSuffix mat-icon-button>
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                  <mat-select-trigger>
                    <mat-label>Select Trades</mat-label>
                  </mat-select-trigger>
                  <mat-option *ngFor="let trade of tradesList | SearchPipe: searchTrade:['tradeName']" [value]="trade" selected="trade.isAttatched" (click)="choosenTrade()"
                    >{{ trade.tradeName }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- <p>Please select categories to add materials in Bill of Materials</p> -->
            </div>
            <div class="col-xs-6 text-right d-flex justify-content-end" appDnd>
              <div class="mr-3">
                <span class="cursor-pointer download-bom-template">
                  <img src="assets/images/download.png" alt="download" class="img-fluid mr-2" />
                  <a (click)="downloadExcel('assets/images/bom_template.xlsx')"> Download BOM Template</a></span
                >
              </div>
              <div class="mr-3 cursor-pointer">
                <input
                  type="file"
                  accept=".xlsx"
                  #fileDropRef
                  id="fileDropRef"
                  class="fileupload cursor-pointer"
                  style="display: none;"
                  multiple
                  (change)="uploadExcel($event.target.files)"
                />
                <label for="fileDropRef" class="cursor-pointer upload-template">
                  <img src="assets/images/upload.png" alt="upload" class="img-fluid mr-2 w-30 cursor-pointer" /> Upload BOM Template</label
                >
              </div>
              <div>
                <button mat-raised-button class="main-background-color main-button color-white pull-right save-material-button" (click)="saveCategory()" [disabled]="status">
                  Add to BOM
                </button>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-xs-10 display-flex m-t-20">
            <div class="m-b-10 m-r-10" *ngFor="let trades of tradeNames">
              <mat-card class="p-l-10 p-r-10 p-t-5 p-b-5 font-size14 background-color-skyblue color-white">{{ trades }} </mat-card>
            </div>
          </div>
          <div class="col-xs-2 p-t-20">
            <a href="javascript:void(0)" class="main-color text-semi-bold" (click)="openAddMyMaterial()">+ Add Custom Material</a>
          </div>
        </div>

        <div *ngIf="showTable">
          <mat-tab-group (selectedTabChange)="tabClick($event)">
            <mat-tab label="Top Materials">
              <app-bom-topMaterial
                *ngIf="showTopMaterial"
                #preview
                [category]="topMaterialData"
                [searchMat]="searchAgain"
                (searchData)="searchData($event)"
                (inputEntered)="checkValidations($event)"
              ></app-bom-topMaterial
            ></mat-tab>
            <mat-tab label="All Materials"
              ><app-bom-allMaterial
                *ngIf="showAllMaterial"
                #preview1
                [category]="allMaterialData"
                [searchMat]="searchAgain"
                (searchData)="searchData($event)"
                (inputEntered)="checkValidationsAll($event)"
              ></app-bom-allMaterial
            ></mat-tab>
            <mat-tab label="My Materials"
              ><app-bom-myMaterial
                *ngIf="showMyMaterial"
                #preview2
                [category]="myMaterialData"
                [searchMat]="searchAgain"
                (searchData)="searchData($event)"
                (inputEntered)="checkValidationsAll($event)"
              ></app-bom-myMaterial
            ></mat-tab>
          </mat-tab-group>
        </div>
      </mat-card>
    </div>
  </div>
</div>
