<div class="page-start-point p-rem-t-0.25">
    <div class="p-l-10 p-r-10 p-b-10 min-height bom-main-style">
        <card-layout *ngIf="product" (onEdit)="editProject()" (onDelete)="deleteProject()" [projectDetails]="product"
            [disableEditDelete]="true"></card-layout>

        <div class="add-to-bom-style">

            <div class="row">
                <div class="col-xs-6 col-md-6">

                    <div class="row m-t-5 m-l-5">
                        <!-- Download BOM Link -->
                        <div class="download-bom-excel excl-btn">
                            <ng-container *ngIf="!isMobile; else downloadIconOnly">
                                <span class="cursor-pointer download-bom-template">
                                    <img src="assets/images/download-arrow-icon.svg" alt="download"
                                        class="img-fluid m-r-2 height-25-px" />
                                    <a (click)="downloadExcel('assets/images/bom_template.xlsx')"> Download BOM
                                        Excel</a>
                                </span>
                            </ng-container>

                            <ng-template #downloadIconOnly>
                                <span class="cursor-pointer download-bom-template">
                                    <img src="assets/images/download-arrow-icon.svg" alt="download"
                                        class="img-fluid m-r-5 height-25-px"
                                        (click)="downloadExcel('assets/images/bom_template.xlsx')" />
                                </span>
                            </ng-template>
                        </div>

                        <!-- Upload BOM Link -->
                        <div class="m-l-10 cursor-pointer upload-bom-excel excl-btn"
                            [ngClass]="isMobile ? 'p-t-7' : '' ">
                            <input type="file" accept=".xlsx" #fileDropRef id="fileDropRef"
                                class="fileupload cursor-pointer" style="display: none" multiple
                                (change)="uploadExcel($event.target.files)" />

                            <ng-container *ngIf="!isMobile; else uploadIconOnly">
                                <label for="fileDropRef" class="cursor-pointer upload-template m-t-8">
                                    <img src="assets/images/upload-arrow-icon.svg" alt="upload"
                                        class="img-fluid m-r-5 cursor-pointer" />
                                    <a>Upload BOM Excel</a>
                                </label>
                            </ng-container>

                            <ng-template #uploadIconOnly>
                                <img src="assets/images/upload-arrow-icon.svg" alt="upload"
                                    class="img-fluid m-r-2 cursor-pointer" />
                            </ng-template>
                        </div>

                    </div>

                </div>
                <div class="col-xs-6 col-md-6 text-right">

                    <div class="m-r-15 m-t-5 m-b-15 d-inline-block">
                        <button mat-raised-button class="main-background-color main-button color-white"
                            (click)="saveCategory()" [disabled]="!isFormValid">
                            Add to BOM
                        </button>
                    </div>

                    <div class="d-inline-block copy-and-add-materials">
                        <button mat-button [matMenuTriggerFor]="menu">
                            <span class="material-icons">menu</span>
                        </button>
                        <mat-menu #menu="matMenu" class="copy-and-add-materials-menus">
                            <button mat-menu-item (click)="openAddMyMaterial()">Add Custom Material</button>
                            <button mat-menu-item
                                [routerLink]="['/project-dashboard/bom/' + projectId + '/copy-materials']">Copy
                                Material</button>
                        </mat-menu>
                    </div>

                </div>
            </div>

            <bom-filter [config]="searchConfig" (getBomFilers)="getFilterBomData($event)"></bom-filter>

            <ng-container *ngIf="tabs && tabs.length">
                <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tabClick($event)">
                    <mat-tab *ngFor="let tab of tabs" [label]="tab.name">
                        <ng-container *ngIf="tab.data && tab.table; let i = index">
                            <bom-common-table [config]="{
                                    data: tab.data,
                                    table: tab.table,
                                    label: tab.name,
                                    paginatorOptions: tab.paginatorOptions,
                                    storeDataByUser: tab.storeDataByUser
                                }" [selectedMaterialLength]="tab.selectedMaterialLength"
                                (updateBomPaginator)="getPaginationRequest($event)"
                                (updateBomTable)="getBomTableRequest($event)">
                            </bom-common-table>
                        </ng-container>
                    </mat-tab>
                </mat-tab-group>
            </ng-container>

        </div>
    </div>
</div>