<form *ngIf="rfqTerms.length" [formGroup]="termsForm" ((ngSubmit)="submitRfq()">
  <div class="row">
    <div class="col-xs-5">
      <h1 mat-dialog-title>Select Payment Terms</h1>
    </div>
    <div class="col-xs-5">
      <a href="javascript:void(0)" class="main-color p-r-5" (click)="close()">
        skip
      </a>
      <button mat-raised-button class="main-background-color main-button color-white" (click)="submitRfq()">
        Next
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <ng-container *ngFor="let term of rfqTerms">
        <mat-radio-group name="term" aria-labelledby="example-radio-group-label" class="display-block" formControlName="term">
          <mat-radio-button class="example-radio-button" [value]="term" (change)="change(term.termsDesc)">
            {{ term.termsDesc }}
          </mat-radio-button>
        </mat-radio-group>
      </ng-container>
    </div>
    <div class="col-xs-3">
      <form [formGroup]="customTermForm">
        <span>
          <mat-form-field class="example-full-width">
            <mat-label>Term Desc</mat-label>
            <textarea matInput formControlName="customTerm" placeholder="Custom Term Desc"></textarea>
          </mat-form-field>
        </span>
      </form>
    </div>
  </div>
</form>
