<div class="page-start-point p-rem-t-40">
  <ng-container *ngIf="(dataSourceActivateTemp == null || dataSourceActivateTemp.length == 0) && (dataSourceDeactivateTemp == null || dataSourceDeactivateTemp.length == 0)">
    <div class="p-l-20 p-r-20 p-b-20 min-height parent wrapper-btn-center">
      <div class="add-user-img">
        <img src="../../../../assets/images/user-background.png" alt="BuildSupply_Logo" />
        <div>
          <p>
            You haven't added any user yet. <br />
            Please create one to continue.
          </p>
        </div>
        <button mat-raised-button (click)="addUser()" class="main-background-color main-button color-white">Add First User</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="dataSourceActivateTemp.length > 0 || dataSourceDeactivateTemp.length > 0">
    <div class="row" class="users-dashboard p-b-20 min-height parent">
      <div class="row">
        <div class="col-xs-7">
          <mat-form-field class="example-form-field border-input project">
            <input matInput placeholder="Search Users" type="search" (keyup)="applyFilter($event.target.value)" />
            <button mat-button matSuffix mat-icon-button>
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="text-right col-xs-5 p-t-10 add-project-btn" [ngClass]="isMobile ? 'sm-btn1' : ''">
          <button mat-raised-button (click)="addUser()" class="main-background-color main-button color-white demo-title">Add User</button>
        </div>
      </div>

      <ng-container *ngIf="dataSourceActivateTemp.length > 0" class="user-dts">
        <mat-expansion-panel class="myPanel" [expanded]="true">
          <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
            <div class="row">
              <div class="col-sm-12">
                <span>Active Users</span>
              </div>
            </div>
          </mat-expansion-panel-header>

          <div class="add-user-container mat-elevation-z8 user-details-table-div-active-inactive-single">
            <table mat-table [dataSource]="dataSourceActivate">
              <!-- User name Column -->
              <ng-container matColumnDef="User Name">
                <th mat-header-cell *matHeaderCellDef>User Name</th>
                <td mat-cell *matCellDef="let element">{{ element.ProjectUser.firstName }} {{ element.ProjectUser.lastName }}</td>
              </ng-container>

              <!-- Email address Column -->
              <ng-container matColumnDef="Email Id">
                <th mat-header-cell *matHeaderCellDef>Email Id</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ProjectUser.email }}
                </td>
              </ng-container>

              <!-- Contact number Column -->
              <ng-container matColumnDef="Contact No">
                <th mat-header-cell *matHeaderCellDef>Contact No</th>
                <td mat-cell *matCellDef="let element">
                  <ng-container *ngIf="element.ProjectUser.countryCode && element.ProjectUser.contactNo">
                    {{ element.ProjectUser.countryCode }}
                  </ng-container>
                  {{ element.ProjectUser.contactNo }}
                </td>
              </ng-container>

              <!-- User role Column -->
              <ng-container matColumnDef="Role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ProjectUser.roleDescription }}
                </td>
              </ng-container>

              <!-- Project count Column -->
              <ng-container matColumnDef="Project">
                <th mat-header-cell *matHeaderCellDef class="text-right">Project</th>
                <td mat-cell *matCellDef="let element" class="text-right">
                  <div class="display-flex align-center justify-content-flex-end">
                    <div class="project-name-div">{{ element.ProjectList.length }}</div>

                    <ng-container *ngIf="element.ProjectList?.length === 0">
                      <span class="width-37"></span>
                    </ng-container>

                    <div class="more-projects-list" *ngIf="element.ProjectList?.length > 0">
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="project menu">
                        <span class="material-icons">info</span>
                      </button>
                      <mat-menu #menu="matMenu" class="project-listing-menu">
                        <button mat-menu-item *ngFor="let project of element.ProjectList">
                          <span>{{ project.projectName }}</span>
                        </button>
                      </mat-menu>
                    </div>
                  </div>
                </td>
              </ng-container>

              <!-- action buttons such as resend invite, deactivate user and edit user -->
              <ng-container matColumnDef="star">
                <th mat-header-cell *matHeaderCellDef class="edit-disable-user-details-width"></th>
                <td mat-cell *matCellDef="let element" class="edit-disable-user-details-width">
                  <div class="display-flex align-items-center justify-content-flex-end">
                    <div class="p-r-20" *ngIf="element.ProjectUser.accountStatus == 0">
                      <span
                        (click)="resendInvite(element.ProjectUser.userId)"
                        class="main-color font-size-vary-grn p-r-15 text-semi-bold cursor-pointer"
                        [ngClass]="isMobile ? 'd-block mb-3' : ''"
                        >Resend Invite</span
                      >
                    </div>

                    <div class="edit-delete-actions">
                      <mat-icon matTooltip="Deactivate User" *ngIf="element.ProjectUser.isAccountOwner == 0" aria-hidden="false" (click)="deactivateUser(element)">
                        <a class="width-22-px p-t-10 cursor-pointer">
                          <img [src]="element.ProjectUser.userId !== userId ? '../../../../assets/images/user-disable.png' : '../../../../assets/images/user-disable-01.png'" />
                        </a>
                      </mat-icon>

                      <mat-icon class="cursor-default" *ngIf="element.ProjectUser.isAccountOwner == 1" aria-hidden="false">
                        <a class="width-22-px p-t-10"></a>
                      </mat-icon>

                      <i class="material-icons main-color p-l-10" (click)="editProject(element)">
                        <a class="width-17-px cursor-pointer margin-top-minus3px">
                          <img src="../../../../assets/images/edit.png" />
                        </a>
                      </i>
                    </div>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-expansion-panel>
      </ng-container>

      <!-- Deactivate users list -->
      <ng-container *ngIf="dataSourceDeactivateTemp && dataSourceDeactivateTemp.length > 0" class="user-dts">
        <mat-expansion-panel class="myPanel m-t-10" [expanded]="true">
          <mat-expansion-panel-header [collapsedHeight]="'48px'" [expandedHeight]="'48px'">
            <div class="row">
              <div class="col-sm-12">
                <span>Deactivated Users</span>
              </div>
            </div>
          </mat-expansion-panel-header>

          <div class="add-user-container mat-elevation-z8 user-details-table-div-active-inactive-single">
            <table mat-table [dataSource]="dataSourceDeactivate">
              <!-- User name Column -->
              <ng-container matColumnDef="User Name">
                <th mat-header-cell *matHeaderCellDef>User Name</th>
                <td mat-cell *matCellDef="let element">{{ element.ProjectUser.firstName }} {{ element.ProjectUser.lastName }}</td>
              </ng-container>

              <!-- Email address Column -->
              <ng-container matColumnDef="Email Id">
                <th mat-header-cell *matHeaderCellDef>Email Id</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ProjectUser.email }}
                </td>
              </ng-container>

              <!-- Contact number Column -->
              <ng-container matColumnDef="Contact No">
                <th mat-header-cell *matHeaderCellDef>Contact No</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ProjectUser.contactNo }}
                </td>
              </ng-container>

              <!-- User role Column -->
              <ng-container matColumnDef="Role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let element">
                  {{ element.ProjectUser.roleDescription }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsDeactivate; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsDeactivate"></tr>
            </table>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </div>
  </ng-container>
</div>
