<form *ngIf="signupForm" [formGroup]="signupForm" (ngSubmit)="signup()" class="sign-up-form">
 
                <!-- <mat-form-field class="col-xs-12 border-input">
                    <input matInput formControlName="firstName" type="text" placeholder="First Name" />
                </mat-form-field>
                <mat-form-field class="col-xs-12 border-input">
                    <input matInput formControlName="lastName" type="text" placeholder="Last Name" />
                </mat-form-field> -->
                <mat-form-field class="col-xs-12 border-input">
                    <input matInput type="text" formControlName="organisationName" placeholder="Company Name" />
                </mat-form-field>
                <mat-form-field class="col-xs-12 border-input">
                    <input matInput type="email" formControlName="email" placeholder="Email" />
                    <small
                    *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched"
                    class="signupForm-error-msg"> Email is required </small>
                    <small
                    *ngIf="signupForm.controls['email'].hasError('pattern') && signupForm.controls['email'].touched"
                    class="signupForm-error-msg"> Enter Valid Email</small>

                </mat-form-field>
                <mat-form-field class="col-xs-12 border-input">
                    <input matInput type="number"  min="0"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" formControlName="phone" placeholder="Phone No." />
                     <small
                    *ngIf="signupForm.controls['phone'].hasError('required') && signupForm.controls['phone'].touched"
                    class="signupForm-error-msg"> Phone No is required </small>
                    <small
                    *ngIf="signupForm.controls['phone'].hasError('pattern') && signupForm.controls['phone'].touched"
                    class="signupForm-error-msg"> Enter Valid Phone No</small>
                </mat-form-field>
                
                <!-- <mat-form-field class="col-xs-12 border-select">
                    <mat-select formControlName="organisationType" placeholder="Contractor">
                        <mat-option *ngFor="let type of organisationTypes" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field> -->

                <mat-form-field class="col-xs-12 border-input">
                     <input matInput [type]="showPassWordString? 'text': 'password'" formControlName="password" placeholder="Password" />
                    <a>
                        <mat-icon class="password-eye" (click)="showPassWord()">remove_red_eye</mat-icon>
                    </a>
                </mat-form-field>
                <!-- <mat-form-field class="col-xs-12 border-input">
                    <input matInput type="password" formControlName="confirmPassword" placeholder="Retype Password" />
                </mat-form-field> -->
                <div mat-dialog-actions class="col-xs-12 p-t-40">
                    <button mat-raised-button class="main-background-color main-button color-white m-b-5"
                        cdkFocusInitial style="width: 100%;">
                        Sign Up
                    </button>
                </div>
                <!-- <div mat-dialog-actions class="col-xs-12 p-t-20">
                            <button mat-raised-button class="background-white-color main-button main-color m-b-5"
                                [mat-dialog-close]="" cdkFocusInitial style="width: 100%;">
                                Sign In
                            </button>
                        </div> -->
           
</form>