<div class="page-start-point">
  <div class="p-b-20 min-height parent">
    <div class="row m-0">
      <div class="col-md-7 ">
        <div class="min-height">
          <img
            src="../../../assets/images/Login.jpg"
            alt="construction-site-image"
            style="width: 100%;"
          />
        </div>
      </div>
      <div class="col-md-5 parent">
        <div class="row center-element">
          <div class="col-xs-12 p-b-30 p-l-0">
            <img
              src="../../../assets/images/loginLogo.png"
              alt="BuildSupply"
              style="height:60px"
            />
          </div>

          <div class="col-xs-12 p-0">
            <h3 class="p-b-20">Forgot Your Password</h3>
            <p class="dark-gray-color">
              Enter your registered mobile number and we will send you OTP to
              change your password.
            </p>
          </div>

          <mat-form-field class="col-xs-12 border-input p-t-30 p-l-0">
            <input matInput type="number" min="0"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Phone No." />
          </mat-form-field>

          <div mat-dialog-actions class="col-xs-12 p-t-40 p-l-0">
            <button
              mat-raised-button
              class="main-background-color main-button color-white m-b-5"
              [mat-dialog-close]=""
              cdkFocusInitial
              style="width: 100%;"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
