<form *ngIf="selectedCategory.length && quantityForms" [formGroup]="quantityForms">
  <ng-container formArrayName="forms">
    <span *ngFor="let category of selectedCategory; let c = index">
      <ng-container [formGroupName]="c">
        <mat-accordion>
          <div #myele *ngIf="!isSearching ? true : !category.allNull">
            <mat-expansion-panel class="m-b-5 m-t-5 border-radius-panel bom-qty-page mat-expansion-panel-header-wrapper" [expanded]="true">
              <mat-expansion-panel-header class="background-color-skyblue row">
                <div class="col-xs-6">
                  <mat-panel-title class="pull-left color-white">
                    {{ category.groupName }}
                  </mat-panel-title>
                </div>
                <div class="col-xs-2 p-r-30 color-white">
                  <span class="pull-right">
                    Unit
                  </span>
                </div>
                <div class="col-xs-2 color-white">
                  <span class="pull-right">
                    Estimated Quantity
                  </span>
                </div>
                <div class="col-xs-2 color-white">
                  <span class="pull-right p-r-15">
                    Estimated Rate
                    <span class="display-block">({{ currencyCode }})</span>
                  </span>
                </div>
              </mat-expansion-panel-header>
              <ng-container formArrayName="materialGroup">
                <div class="background-color-bom-sub-category p-0" *ngFor="let subcategory of category.materialList; let sc = index" [formGroupName]="sc">
                  <div class="row p-t-10" *ngIf="!subcategory.isNull">
                    <div class="col-xs-3 text-left">
                      <span class="p-l-25 p-t-10">{{ subcategory.materialName }}</span>
                    </div>
                    <div class="col-xs-3 p-t-10 text-center">
                      <span class="text-semi-bold" *ngFor="let trades of subcategory.tradeList; let i = index">
                        <span class="p-r-5">{{ trades }}<span *ngIf="subcategory.tradeList.length > 1 && i !== subcategory.tradeList.length - 1">,</span> </span>
                      </span>
                    </div>
                    <div class="col-xs-2 text-right">
                      <span
                        *ngIf="
                          (subcategory.requestedQuantity === 0 || subcategory.requestedQuantity === null) &&
                            (subcategory.issueToProject === 0 || subcategory.issueToProject === null);
                          else elseBlock
                        "
                      >
                        <mat-form-field class="border-select shortWidth mat-form-field-padding mat-form-field-flex-mm-padding">
                          <mat-select formControlName="materialUnit" placeholder="Unit">
                            <div class="display-flex">
                              <input
                                class="p-l-10 p-b-5"
                                matInput
                                type="search"
                                placeholder="Search Unit"
                                [(ngModel)]="searchUnit"
                                [ngModelOptions]="{standalone: true}"
                                (keydown)="$event.stopPropagation()"
                              />
                              <button mat-button mat-icon-button>
                                <mat-icon>search</mat-icon>
                              </button>
                            </div>
                            <mat-option *ngFor="let unit of materialUnit | SearchPipe: searchUnit" [value]="unit">
                              <span>
                                {{ unit }}
                              </span>
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </span>
                      <ng-template #elseBlock>
                        <div class="p-r-35 p-t-10">
                          {{ subcategory.materialUnit }}
                        </div>
                      </ng-template>
                    </div>
                    <div class="col-xs-2 text-center p-l-25">
                      <span>
                        <mat-form-field class="border-input widthZero mat-form-field-padding">
                          <input formControlName="estimatedQty" appTwoDigitDecimaNumber matInput type="text" class="p-b-5 shortWidth" placeholder="Enter Quantity" />
                        </mat-form-field>
                      </span>
                    </div>
                    <div class="col-xs-2 text-center p-l-25">
                      <span>
                        <mat-form-field class="border-input widthZero mat-form-field-padding">
                          <input formControlName="estimatedRate" appTwoDigitDecimaNumber matInput type="text" class="p-b-5 shortWidth" placeholder="Enter Rate" />
                        </mat-form-field>
                      </span>
                    </div>
                    <ng-container *ngIf="subcategory.Specs">
                      <div class="row background-color-bom-sub-sub-category p-0" *ngFor="let material of subcategory.Specs">
                        <div class="col-xs-6">
                          <span class="pull-left p-l-60 p-t-20">{{ material.label }}</span>
                        </div>
                        <div class="col-xs-6">
                          <span class="pull-right p-r-40">
                            <!-- <mat-form-field class="full-border widthZero">
                        <input matInput class="p-b-5 shortWidth" placeholder="eg. 1500" /><span
                          class="p-b-15 p-l-5">{{subcategory.materialUnit}}</span>
                      </mat-form-field> -->

                            <mat-form-field class="border-input widthZero">
                              <input
                                matInput
                                class="p-b-5 shortWidth"
                                type="number"
                                min="0"
                                placeholder="Enter Quantity"
                                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                              />
                              <span class="p-b-15 p-l-5">{{ subcategory.materialUnit }}</span>
                            </mat-form-field>
                          </span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </ng-container>
    </span>
  </ng-container>
</form>
