<form [formGroup]="signinForm" (ngSubmit)="signin()" class="sign-in-form">
  
        <mat-form-field class="col-xs-12 border-input">
          <input matInput formControlName="phone" type="number" min="0"  onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="Phone No." />
           <small
                    *ngIf="signinForm.controls['phone'].hasError('required') && signinForm.controls['phone'].touched"
                    class="signinForm-error-msg"> Phone No is required </small>
                    <small
                    *ngIf="signinForm.controls['phone'].hasError('pattern') && signinForm.controls['phone'].touched"
                    class="signinForm-error-msg"> Enter Valid Phone No</small>
        </mat-form-field>

        <mat-form-field class="col-xs-12 border-input">
          <input matInput [type]="showPassWordString? 'text': 'password'" formControlName="password" placeholder="Password" />
          <a>
            <mat-icon class="password-eye" (click)="showPassWord()">remove_red_eye</mat-icon>
          </a>
          <div class="main-color">
            <a class="pull-right p-t-20 cursor-pointer" (click)="goToForgetPass()">Forgot Password</a>
          </div>
        </mat-form-field>

        <div mat-dialog-actions class="col-xs-12 p-t-40">
          <button mat-raised-button class="main-background-color main-button color-white m-b-5" cdkFocusInitial
            style="width: 100%;" [disabled]="!signinForm.valid">
            Sign In
          </button>
        </div>

        <!-- <div mat-dialog-actions class="col-xs-12 p-t-20">
          <button mat-raised-button class="background-white-color main-button main-color m-b-5" [mat-dialog-close]=""
            cdkFocusInitial style="width: 100%;">
            Sign Up
          </button>
        </div> -->
</form>