<div class="page-start-point">
  <div class="p-b-20 min-height parent">
    <div class="row m-0">
      <div class="col-md-7 ">
        <div class="min-height">
          <img
            src="../../../assets/images/Signup.jpg"
            alt="construction-site-image"
            style="width: 100%;"
          />
        </div>
      </div>
      <div class="col-md-5 parent">
        <div class="row center-element">
          <div class="col-xs-12 m-b-30">
            <img
              src="../../../assets/images/loginLogo.png"
              alt="BuildSupply"
              style="height:60px"
            />
          </div>

          <div class="col-xs-12">
            <h2>Sign Up</h2>
          </div>
          <mat-form-field class="col-xs-12 border-input">
            <input matInput type="text" placeholder="First Name" />
          </mat-form-field>

          <mat-form-field class="col-xs-12 border-input">
            <input matInput type="text" placeholder="Last Name" />
          </mat-form-field>

          <mat-form-field class="col-xs-12 border-input">
            <input matInput type="email" placeholder="Email" />
          </mat-form-field>

          <mat-form-field class="col-xs-12 border-input">
            <input matInput type="number" placeholder="Phone No." />
          </mat-form-field>

          <mat-form-field class="col-xs-12 border-input">
            <input matInput type="text" placeholder="Organisation Name" />
          </mat-form-field>

          <mat-form-field class="col-xs-12 border-input">
            <select matNativeControl required>
              <option value="contractor">Contractor</option>
              <option value="builder">Builder</option>
            </select>
          </mat-form-field>

          <mat-form-field class="col-xs-12 border-input">
            <input matInput type="password" placeholder="Password" />
          </mat-form-field>

          <mat-form-field class="col-xs-12 border-input">
            <input matInput type="password" placeholder="Retype Password" />
          </mat-form-field>

          <div mat-dialog-actions class="col-xs-12 p-t-40">
            <button
              mat-raised-button
              class="main-background-color main-button color-white m-b-5"
              [mat-dialog-close]=""
              cdkFocusInitial
              style="width: 100%;"
            >
              Sign Up
            </button>
          </div>

          <div mat-dialog-actions class="col-xs-12 p-t-20">
            <button
              mat-raised-button
              class="background-white-color main-button main-color m-b-5"
              [mat-dialog-close]=""
              cdkFocusInitial
              style="width: 100%;"
            >
              Sign In
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
