
.header-fixed {
  position: fixed;
  width: 100%;
  z-index: 120;
  mat-button:hover{
    background: none;
  }
.blue-background-color{
  height: 50px;
    .mat-button-wrapper{
             font-size: 16px !important;
        }
        .color-white.active{
          border-bottom: 5px solid $main-color;
      }

  a{
      line-height: 3.4;
      .mat-button-wrapper{
             font-size: 16px !important;
        }
      .color-white.active{
          border-bottom: 5px solid $main-color;
      }
  } 
}
     
}

.menu-spacer {
  flex: 1 1 auto;
}

.img-circle {
  border-radius: 50%;
}
.mat-toolbar {
  background: $white-color;
}

button.active {
  border-bottom: 2px solid $main-color;
  border-radius: 0px;
  font-weight: 600;
}

.mat-menu-content:not(:empty) {
  padding-top: 0px;
  padding-bottom: 0px;
}
.mat-menu-panel {
  background: $white-color !important;
}

.notification-bell-icon.mat-button.mat-button-base{
  min-width: auto;
  padding-top:5px;
   .mat-icon{
     display: block;
   }
}
.notification-bell-icon.mat-button.mat-button-base:hover{
  background-color: none;
}

