.header-fixed {
  position: fixed;
  width: 100%;
  z-index: 99;
  mat-button:hover {
    background: none;
  }
  .buildsupply-logo {
    width: 200px;
  }
  .blue-background-color {
    // height: 50px;
    .mat-button-wrapper {
      font-size: 16px !important;
    }
    .color-white.active {
      border-bottom: 5px solid $main-color;
    }

    a {
      line-height: 3.4;
      .mat-button-wrapper {
        font-size: 16px !important;
      }
      .color-white.active {
        border-bottom: 5px solid $main-color;
      }
    }
  }
}

.menu-spacer {
  flex: 1 1 auto;
}

.img-circle {
  border-radius: 50%;
}
.mat-toolbar {
  background: $white-color;
}

button.active {
  // border-bottom: 2px solid $main-color;
  border-radius: 0px;
  font-weight: 600;
}

.header-border-bottom{
  border-bottom: 1px solid #c3c3c3;
}

.mat-menu-content:not(:empty) {
  padding-top: 0px;
  padding-bottom: 0px;
}
.mat-menu-panel {
  background: $white-color !important;
}

.notification-bell-icon.mat-button.mat-button-base {
  min-width: auto;
  padding-top: 4px;
  .mat-icon {
    display: block;
  }
}
.notification-bell-icon.mat-button.mat-button-base:hover {
  background-color: none;
}

.whatsapp-icon {
  width: 20px;
  height: 20px;
}
.whatsapp-icon-number {
  font-size: 14px;
  padding-left: 5px;
  color: #000000 !important;
}
.whatsapp-div-header {
  display: flex;
  padding: 2px 10px;
  background: #e4dfdf7a;
  border-radius: 5px;
  margin-top: 5px;
}
.font-signup {
  font-size: 13px;
  font-weight: 500;
  color: #192135;
}
.three-months-signup-text {
  margin-top: 6px;
}

.agree-checkbox {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  font-size: 14px;
}
.logo-profile-header {
  button {
    padding-right: 0%;
  }
}
@media only screen and (max-width: 560px) {
  .whatsapp-icon-number {
    display: none;
  }
  .whatsapp-div-header {
    background: none;
  }
  .logo-profile-header {
    .username {
      display: none;
    }
  }
  .cdk-overlay-container {
    .cdk-overlay-pane {
      max-width: 98% !important;
    }
  }
  .mat-dialog-content {
    padding: 0 9px !important;
  }
}

@media only screen and (max-width: 440px) {
  .header-fixed .buildsupply-logo {
    width: 140px;
    padding-right: 5px;
  }
}
@media only screen and (max-width: 360px) {
  .notification-bell-icon.mat-button.mat-button-base {
    padding-left: 2px;
    padding-right: 0px;
  }
  .logo-profile-header {
    button {
      padding-left: 5px;
    }
    .username {
      display: none;
    }
  }
}

.mat-drawer-inner-container {
  overflow-y: hidden;
}
.mat-drawer:not(.mat-drawer-side) {
  width: 75%;
}

.side-navbar-header {
  padding: 15px 5px 15px 15px;
  background: #f7f7f7;

  .user-name {
    padding-left: 15px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
  }
  .menu-close {
    margin-top: -4px;
  }
}
.sidenav {
  .active {
    background: #efefefd1;
  }
}

.header-links{
  color:#0c1224;
  font-weight: normal;
  width: 100%;
  text-align: left !important;
  line-height: 46px !important;
  font-size: 14px;
  padding-left:15px !important;
  &:hover {
    // background-color: #0c1224;
    background-color: #f7f7f7;
  }
}

.header-links.active{
  // background-color: #0c1224;
  color:#0c1224;
  padding-left:10px !important;
  // border-left: 5px solid #f47721;
  border-left: 5px solid #2496bb;
}

.sidebar-navigation{
    height: 100%;
    position: fixed;
    // width: 16%;
    top: 0;
    z-index: 998;
    margin-top: 64px;
}

.mat-arrow-icon{
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 74px;
  z-index: 1000;
  box-shadow: 0 0 10px #8e8e8e;
  border: 1px solid #e1e1e1;
}

.collapsed-navigation{
  height: 100%;
  position: fixed;
  width: 4%;
  top: 0%;
  z-index: 99;
  padding: 80px 0 20px 15px;
  li{
    margin-bottom: 24px;
  }
}

.sideNavigation{
  // position: relative;
  width: 100%;
  height: 100%;
}

.sidenav{
  background-color: #ffffff;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

.no-collapsed{
  left: 205px;
  transition: left .2s ease-in-out;
}

.collapsed{
  left: 50px;
  transition: left .2s ease-in-out;
}

.changeWidth{
  max-width: 96%;
  flex: 0 0 96%;
  margin-left: 4%;
}

.c-w{
  width:60px;
  overflow-x: hidden;
  transition: width .2s ease-in-out;
}

.f-w{
  width:220px;
  overflow-x: hidden;
  transition: width .2s ease-in-out;
}

.side-logo{
  background-color: #f2f2f2;
  display: block;
  margin-bottom: 30px;
}
.sl{
  padding: 17px 10px;
}
.ml{
  padding: 17px 5px;
  img{
    max-width: 40px;
  }
}

.trial-block{
  background-color: #0c3c55;
  color:#ffffff;
  display: block;
  text-align: center;
  position: relative;
  padding: 12px 5px;
  button{
    line-height: 28px;
    border-radius:20px;
    padding: auto 16px;
  }
}

@media only screen and (max-width: 599px) {

  .changeWidth{
    max-width: 100%;
    flex: 0 0 100%;
    margin-left: 0%;
  }

  .trial-block{
    button{
      line-height: 20px;
    }
  }
  

}