<!-- <fix-header></fix-header> -->
<div class="page-start-point">
  <div class="dashboard-unique p-b-20 min-height parent">
    <div class="row">
      <div class="col-sm-12 p-l-10 p-r-10">
        <card-layout *ngIf="product" (onEdit)="editProject()" (onDelete)="deleteProject()" [projectDetails]="product"></card-layout>
      </div>
    </div>
    <div class="row p-t-10 p-b-10">
      <div class="col-sm-12 p-r-10">
        <button (click)="showIndent()" mat-raised-button [disabled]="!materialForms.valid" class="main-background-color main-button color-white pull-right">
          Raise Indent
        </button>
      </div>
    </div>
    <!-- first table structure -->
    <form [formGroup]="materialForms">
      <div formArrayName="forms" class="add-unique-container raise-indent-table mat-elevation-z8" *ngIf="subcategory">
        <!-- <div class="col-sm-12"> -->
        <!-- table structure -->
        <table mat-table [dataSource]="subcategory">
          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="Material Name">
            <th mat-header-cell *matHeaderCellDef>Material Name</th>
            <td mat-cell *matCellDef="let element">
              <div class="limited-character global" matTooltip=" {{ element.materialName }}">
                {{ element.materialName }}
              </div>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Estimated Quantity">
            <th mat-header-cell *matHeaderCellDef class="text-align-center">Estimated Quantity</th>
            <td mat-cell *matCellDef="let element" class="text-align-center">{{ element.estimatedQty }} {{ element.materialUnit }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Requested Quantity">
            <th mat-header-cell *matHeaderCellDef class="text-align-center">Requested Quantity</th>
            <td mat-cell *matCellDef="let element" class="text-align-center">{{ element.requestedQuantity }} {{ element.materialUnit }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Required Quantity">
            <th mat-header-cell *matHeaderCellDef class="text-align-center">Required Quantity</th>

            <td mat-cell *matCellDef="let element; let i = index" class="text-align-center">
              <mat-form-field [formGroupName]="i" class="border-input table-input">
                <input matInput formControlName="quantity" type="text" appTwoDigitDecimaNumber placeholder="Required Quantity" />
              </mat-form-field>
              {{ element.materialUnit }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Required Date">
            <th mat-header-cell *matHeaderCellDef>Required Date</th>

            <td mat-cell *matCellDef="let element; let i = index">
              <mat-form-field [formGroupName]="i" class="border-input">
                <!-- <span class="form-placeholder">{{ materialForms.controls.forms.value[i].dueDate | date: "dd-MMM-yyy" }}</span> -->
                <input
                  matInput
                  formControlName="dueDate"
                  #ref
                  [matDatepicker]="startDate"
                  placeholder="Required Date"
                  (dateChange)="getStart(ref.value, i)"
                  [min]="startDateOfProject"
                  (click)="startDate.open()"
                  readonly
                />
                <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                <mat-datepicker #startDate></mat-datepicker>
              </mat-form-field>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <!-- end structure -->
        <!-- </div> -->
      </div>
    </form>
    <!-- end of first structure -->
  </div>
</div>
