<section class="modal-outer">
  <div class="modal-header">
    <ng-container *ngIf="data.type === 'taxesAndCost'">
      <h5 mat-dialog-title class="mb-0">Add taxes & costs</h5>
    </ng-container>

    <ng-container *ngIf="data.type === 'otherCost'">
      <h5 mat-dialog-title class="mb-0">Add other costs</h5>
    </ng-container>

    <button type="button" class="close" (click)="close()" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>

  <div mat-dialog-content>
    <div class="modal-body">

      <!-- Taxes and cost -->
      <ng-container *ngIf="data.type === 'taxesAndCost'">
        <form *ngIf="taxCostForm" [formGroup]="taxCostForm" (ngSubmit)="onSubmitTaxCost()">
          <div mat-dialog-content class="overflow-remove tx-cst">
            <mat-tab-group (selectedTabChange)="onTabChanged($event)">
              <!-- Taxes tab -->
              <mat-tab label="Taxes" class="addressDialog">
                <div formArrayName="taxInfo">
                  <ng-container *ngFor="let tax of taxCostForm.get('taxInfo')['controls']; let i = index">
                    <div class="row" [formGroupName]="i">

                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <mat-form-field class="w-100 border-bottom">
                          <input type="text" placeholder="Tax Label" matInput formControlName="taxName"
                            [matAutocomplete]="auto" />
                          <mat-autocomplete #auto="matAutocomplete" [panelWidth]="'15em'" [displayWith]="displayFn">
                            <mat-option matTooltip=" {{ option.taxName }}"
                              *ngFor="let option of this.filterOptionsTax | async" [value]="option">
                              {{ option.taxName }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>

                      <div class="col-md-4 col-tax-percent col-sm-4 col-xs-12">
                        <mat-form-field class="w-100 border-bottom">
                          <input matInput type="number" placeholder="Tax %" formControlName="taxValue" />
                        </mat-form-field>
                        <ng-container *ngIf="taxCostForm.get('taxInfo')['controls'][i].get('taxValue').touched">
                          <mat-error class="mt-mns pt-1 pb-2 fontsize-11-px"
                            *ngIf="taxCostForm.get('taxInfo')['controls'][i].get('taxValue').errors?.max">
                            Max 100 qty is Allowed
                          </mat-error>
                          <mat-error class="mt-mns pt-1 p b-2 fontsize-11-px"
                            *ngIf="taxCostForm.get('taxInfo')['controls'][i].get('taxValue').errors?.min">
                            Min 1 qty is Allowed
                          </mat-error>
                        </ng-container>
                      </div>

                      <div class="col-md-2 col-action-btns col-sm-2 col-xs-12 pt-2 pl-2 display-flex align-center justify-content-flex-end">
                        <div matRipple class="cursor-pointer p-t-10 delete-button-icon"
                          (click)="deleteField('taxInfo', i)">
                          <img src="../../../../assets/images/delete-button.png" />
                        </div>

                        <div *ngIf="i == taxCostForm.get('taxInfo').value.length - 1"
                          [ngClass]="[!checkValidation ? 'main-color-faded' : 'main-color']" matRipple
                          class="material-icons cursor-pointer add-button-icon p-t-14 p-l-10" (click)="addNewTaxField()">
                          add_circle
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <p class="tctnc d-flex w-100 p-t-10">* Tax amount will be calculated on the basis of total tax %.</p>
                </div>
              </mat-tab>

              <!-- Other cost tab -->
              <mat-tab label="Other Costs" class="addressDialog">
                <div formArrayName="otherCostInfo">
                  <ng-container *ngFor="let tax of taxCostForm.get('otherCostInfo')['controls']; let i = index">
                    <div class="row" [formGroupName]="i">

                      <div class="col-md-5 col-sm-5 col-xs-12">
                        <mat-form-field class="w-100 border-bottom">
                          <input type="text" placeholder="Cost Label" matInput formControlName="otherCostName"
                            [matAutocomplete]="auto" />
                          <mat-autocomplete #auto="matAutocomplete" [panelWidth]="'15em'"
                            [displayWith]="displayFnOther">
                            <mat-option matTooltip=" {{ option.otherCostName }}"
                              *ngFor="let option of this.filterOptionsOther | async" [value]="option">
                              {{ option.otherCostName }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                      </div>

                      <div class="col-md-5 col-other-tax-percent col-sm-5 col-xs-12">
                        <div class="display-flex align-item-end">
                          <mat-form-field class="width-100 border-bottom">
                            <input matInput type="number" placeholder="Amount" formControlName="otherCostAmount" />
                          </mat-form-field>
                          <span class="p-l-15">{{ this.data.currency }}</span>
                        </div>

                        <ng-container
                          *ngIf="taxCostForm.get('otherCostInfo')['controls'][i].get('otherCostAmount').touched">
                          <mat-error class="mt-mns pt-1 pb-2 fontsize-11-px"
                            *ngIf="taxCostForm.get('otherCostInfo')['controls'][i].get('otherCostAmount').errors?.min">
                            Min 1 qty is Allowed
                          </mat-error>
                        </ng-container>
                      </div>

                      <div class="col-md-2 col-action-btns col-sm-1 col-xs-12 pt-2 pl-2 display-flex align-items-center justify-content-end">
                        <div matRipple class="cursor-pointer p-t-10 delete-button-icon" (click)="deleteField('otherCostInfo', i)">
                          <img src="../../../../assets/images/delete-button.png" />
                        </div>

                        <div *ngIf="i == taxCostForm.get('otherCostInfo').value.length - 1"
                          [ngClass]="[!checkValidation ? 'main-color-faded' : 'main-color']" matRipple
                          class="material-icons cursor-pointer add-button-icon p-t-14 p-l-10" (click)="addNewOtherField()">
                          add_circle
                        </div>
                      </div>

                    </div>
                  </ng-container>

                  <p class="tctnc d-flex w-100 p-t-10">* Other Tax amount will be calculated on the basis of total tax %.
                  </p>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>

          <div mat-dialog-actions class="flex-column">
            <button [disabled]="!checkValidation" mat-button mat-raised-button
              class="main-background-color main-button color-white m-b-5 mb-0"
              [disabled]="taxCostForm && !taxCostForm.valid">Save</button>
          </div>
        </form>
      </ng-container>

      <!-- Other cost -->
      <ng-container *ngIf="data.type === 'otherCost'">
        <form *ngIf="otherCostForm" [formGroup]="otherCostForm" (ngSubmit)="onSubmitOtherCost()">
          <div mat-dialog-content class="overflow-remove tx-cst">
            <div formArrayName="otherCostInfo">
              <div *ngFor="let tax of otherCostForm.get('otherCostInfo')['controls']; let i = index">
                <div class="row" [formGroupName]="i">

                  <div class="col-md-5 col-sm-5 col-xs-12">
                    <mat-form-field class="width-100 border-bottom">
                      <input type="text" placeholder="Cost Label" matInput formControlName="otherCostName"
                        [matAutocomplete]="auto" />
                      <mat-autocomplete #auto="matAutocomplete" [panelWidth]="'15em'" [displayWith]="displayFnOther">
                        <mat-option matTooltip=" {{ option.otherCostName }}"
                          *ngFor="let option of this.filterOptionsOther | async" [value]="option">
                          {{ option.otherCostName }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>

                  <div class="col-md-5 col-other-tax-percent col-sm-5 col-xs-12">
                    <div class="display-flex align-item-end">
                      <mat-form-field class="width-100 border-bottom">
                        <input matInput type="number" placeholder="Amount" formControlName="otherCostAmount" />
                      </mat-form-field>
                      <span class="p-l-15">{{ this.data.currency }}</span>
                    </div>
                    <ng-container
                      *ngIf="otherCostForm.get('otherCostInfo')['controls'][i].get('otherCostAmount').touched">
                      <mat-error class="mt-mns pt-1 pb-2 fontsize-11-px"
                        *ngIf="otherCostForm.get('otherCostInfo')['controls'][i].get('otherCostAmount').errors?.min">
                        Min 1 qty is Allowed
                      </mat-error>
                    </ng-container>
                  </div>

                  <div class="col-md-2 col-action-btns col-sm-1 col-xs-12 pt-2 pl-2 display-flex align-items-center justify-content-end">
                    <div matRipple class="cursor-pointer p-t-10 delete-button-icon" (click)="deleteField('otherCostInfo', i)">
                      <img src="../../../../assets/images/delete-button.png" />
                    </div>
                    <div *ngIf="i == otherCostForm.get('otherCostInfo').value.length - 1"
                      [ngClass]="[!checkValidationOther ? 'main-color-faded' : 'main-color']" matRipple
                      class="material-icons cursor-pointer add-button-icon p-t-14 p-l-10" (click)="addNewOtherField()">
                      add_circle
                    </div>
                  </div>
                </div>
              </div>

              <p class="tctnc d-flex w-100 p-t-10">* Total amount will be shown as overall other costs on all the materials.</p>
            </div>
          </div>

          <div mat-dialog-actions class="flex-column">
            <button [disabled]="!checkValidationOther" mat-button mat-raised-button
              class="main-background-color main-button color-white m-b-5 mb-0"
              [disabled]="otherCostForm && !otherCostForm.valid">
              Save
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</section>