<div class="header-add-edit-dialog">
  <h1 mat-dialog-title>Warning</h1>
  <button type="button" class="close" (click)="closeModal()" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div mat-dialog-content class="padding-for-dialog-after-header">
  <p class="text-center">Save data to BOM before migrating</p>
</div>
<br />
<div class="col-xs-12 text-center">
  <button (click)="close()" mat-raised-button class="main-background-color main-button color-white">
    Add BOM
  </button>
</div>
