html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "./assets/scss/main.scss";

.success-snackbar {
  background: #2196f3 !important;
  color: white !important;
}

.warning-snackbar {
  background: #2197bb !important;
  color: #fff !important;
}

.backdropBackground {
  background-color: grey;
}
