<section class="w-vw-99 h-vh-70 p-t-10 flex-center text-webkit-center email-verification verify-email">
  <div class="row background-white-color border-radius-10 p-20 mt-5 width-60">
    <div class="col-md-12 text-center">
      <span><img class="buildsupply-logo" src="../../../../assets/images/loginLogo.png" alt="logo" /></span>
      <div class="col-md-12 p-t-20">
        <div class="text-center">
          <h2 class="ink-color line-vh-15">{{ verificationStatus }}</h2>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <span>Your email address was successfully verified </span>
      </div>
      <div class="col-md-12 text-center p-t-20">
        <a [routerLink]="['/auth/login']" class="cursor main-color"> Sign In</a>
      </div>
    </div>
  </div>
</section>
