<div class="header-add-edit-dialog">
  <h1 mat-dialog-title class="light-grey">Direct Receipt via excel</h1>
  <button type="button" class="close" (click)="cancel()" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 padding-for-dialog-after-header text-align-center">
    <mat-card>
      <a class="cursor-pointer" (click)="downloadExcel()"> <img src="assets/images/download.svg" alt="download" class="width-35 mr-2" /></a>
      <mat-card-content class="m-t-10 main-color text-semi-bold fontsize-17-px">
        <p>
          Download the template
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6 col-sm-12 padding-for-dialog-after-header text-align-center">
    <mat-card>
      <div>
        <input
          type="file"
          accept=".xlsx"
          #fileDropRef
          id="fileDropRef"
          class="fileupload cursor-pointer"
          style="display: none;"
          multiple
          (change)="uploadExcel($event.target.files)"
        />
        <label for="fileDropRef">
          <img src="assets/images/upload_icon.png " class="width-34 cursor-pointer" alt="upload" />
        </label>
      </div>

      <!-- <a (click)="downloadExcel('assets/images/bom_template.xlsx')">    `</a> -->
      <mat-card-content class="m-t-10 main-color text-semi-bold fontsize-17-px">
        <p>
          Upload the template
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <div mat-dialog-actions>
  <div class="col-sm-12 save-btn-add-edit-user-modal">
    <button mat-raised-button (click)="submit()" class="main-background-color main-button color-white pull-right">
      Submit
    </button>
  </div>
</div> -->
