<div class="header-fixed">

  <app-top-header></app-top-header>

  <div class="col-sm-12 blue-background-color" *ngIf="role">
    <a href="javascript:void(0)" (click)="setButtonName('dashboard')">
      <button [class.active]="buttonName == 'dashboard'" class="color-white" mat-button
        (click)="setButtonName('dashboard')">
        Dashboard
      </button>
    </a>

    <a href="javascript:void(0)" *ngIf="permissionObj.projectStoreFlag" (click)="setButtonName('projectStore')">
      <button [class.active]="buttonName == 'projectStore'" class="color-white" mat-button
        (click)="setButtonName('projectStore')">
        Project Store
      </button>
    </a>
    <a href="javascript:void(0)" *ngIf="permissionObj.globalStoreFlag" (click)="setButtonName('globalStore')">
      <button [class.active]="buttonName == 'globalStore'" class="color-white" mat-button
        (click)="setButtonName('globalStore')">
        Global Store
      </button>
    </a>
    <button *ngIf="permissionObj.rfqFlag" [class.active]="buttonName == 'requestForQuotation'" class="color-white"
      mat-button (click)="setButtonName('requestForQuotation')">
      Request for Quotation
    </button>

    <button *ngIf="permissionObj.purchaseOrderFlag" [class.active]="buttonName == 'purchaseOrder'" class="color-white"
      mat-button (click)="setButtonName('purchaseOrder')">
      Purchase Order
    </button>

    <button *ngIf="permissionObj.usersFlag" [class.active]="buttonName == 'users'" class="color-white" mat-button
      (click)="setButtonName('users')">
      Users
    </button>

    <button *ngIf="permissionObj.supplierFlag" [class.active]="buttonName == 'supplier'" class="color-white" mat-button
      (click)="setButtonName('supplier')">
      Supplier
    </button>

    <button class="color-white pull-right p-t-10" mat-button>

      <a href="javascript:void(0)" (click)="openDiv()">
        <mat-icon [ngClass]="{'bell-icon-active': notifClicked === true,'bell-icon':notifClicked === false }"
          matBadge="{{unreadnotificationLength}}" matBadgeSize="small" matBadge="15" matBadgeColor="warn">notifications
        </mat-icon>
      </a>
    </button>
  </div>

</div>