<div class="row grn-docs">
  <div class="col-md-5 col-sm-6 col-xs-12 upload-documents-mat-header">
    <span class="text-semi-bold width-100">
      <app-upload
        #uploadRef
        [documentListLength]="documentListLength"
        [grnResponsive]="!showResponsive"
        [maxDocsLimit]="true"
        [filesRemoved]="filesRemoved"
        (onFileUpdate)="fileUpdate($event)"
      >
      </app-upload>
    </span>
  </div>

  <div class="col-md-7 col-sm-6 col-xs-12">
    <mat-list>
      <!-- Documents view mode -->
      <span *ngIf="documentData">
        <mat-list-item class="files-list" *ngFor="let file of documentData; let i = index">
          <img class="file-icon" src="../../../../assets/images/file-doc.png" />
          <span>{{ file.DocumentDesc }}</span>
          <span class="show-download">
            <a type="button" target="_blank" [href]="file.DocumentUrl" mat-icon-button>
              <i class="material-icons"> remove_red_eye </i>
            </a>
          </span>
        </mat-list-item>
      </span>

      <!-- documents upload mode -->
      <span *ngIf="documentList.length > 0">
        <div *ngIf="showResponsive" class="mb-3" style="font-weight: 500">Uploaded Documents</div>

        <div class="upload-image-info mb-3 d-flex align-items-center justify-content-between" *ngFor="let file of documentList; let i = index">
          <div class="image-info d-flex align-items-center">
            <img src="../../../../assets/images/file-doc.png" alt="" class="img-fluid grn-doc" />
            <span class="ml-2">{{ file.documentName }}</span>
          </div>

          <div class="image-actions d-flex align-items-center">
            <a type="button" target="_blank" [href]="file.Url">
              <img src="assets/images/download-po.png" class="mr-3 ml-2 cursor-pointer" />
            </a>
            <img src="assets/images/delete-button.png" class="orange-text cursor-pointer" (click)="removeFile(i)" />
          </div>
        </div>
      </span>
    </mat-list>
  </div>
</div>
