<mat-dialog-content class="supplier-rating-dialog upload-img-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add/Edit Image</h5>
      <button type="button" class="close" (click)="closeDialog()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">

      <div class="row">
        <div class="col-md-6">
          <div class="upload-image-section">
            <app-upload #uploadRef (onFileUpdate)="fileUpdate($event)" [imageIntegration]="true"></app-upload>
              <span class="uploaded-filename" *ngIf="subFileName && !errorMessage">{{subFileName}} has been successfully uploaded.</span>
          </div>

          <div class="d-block mx-auto mt-3">
            <div class="upload-error d-flex align-items-center justify-content-center mx-auto" *ngIf="errorMessage">
              <i class="fa fa-exclamation-circle mr-2"></i> {{ errorMessage }}
            </div>
          </div>
        </div>


        <div class="col-md-6">
          <div class="upload-image-info mb-3 d-flex align-items-center justify-content-between" *ngFor="let file of documentList; let i = index">
            <div class="image-info d-flex align-items-center">
              <!-- <img src="assets/images/demo.jpg" alt="" class="img-fluid thumbnail-img"> -->
              <i class="fa fa-photo fa-lg" stye="color:#4caf4f"></i>
              <span class="ml-2">{{ file.DocumentDesc }}</span>
            </div>

            <div class="image-actions d-flex align-items-center">
              <i class="fa fa-trash fa-lg orange-text mr-2"></i>
              <i class="fa fa-download fa-lg orange-text"></i>
            </div>

          </div>
        </div>
      </div>

      <p class="text-center mb-0 mt-4">
        <button class="btn save-button" (click)="addImage()">Add</button>
      </p>
    </div>

  </div>
</mat-dialog-content>